[2018-05-30 16:53] jrood-nrel opened #5 "UnitTest2 has a failing test"
[code]

[2018-06-05 14:37] jrood-nrel commented on #5
It looks like this issue has resolved itself, and this test is probably the most ancillary, so I don't think it's worth the time to investigate it.

[2018-06-07 15:50] jrood-nrel opened #9 "Errors in ablNeutralEdge and unitTest2"
It appears that https://github.com/Exawind/nalu-wind/commit/c8a7310cd16c66c55973431afcacde43f33de739 is causing runtime errors for the `ablNeutralEdge` test, and it resurfaced errors in the `unitTest2` test.

`ablNeutralEdge`
[code]

`unitTest2` nans are back:
[code]

Note, I have also noticed that GCC 4.9.4 has been differing in results than GCC 6, so I'm not worried about those types of failures

[2018-06-07 16:28] jrood-nrel commented on #9
So it turns out the main problem is that `ablNeutralEdge` is run as a Catalyst test on one of the test machines and that input file just needs to be updated. That will probably be sufficient to close this.

[2018-06-07 21:16] jrood-nrel commented on #9
https://github.com/Exawind/nalu-wind/commit/e0c28255fa6dd948a0f0c0355ae51a6a69a55375 Resolved this.

[2018-06-07 21:16] #9 closed

[2018-06-07 22:19] rcknaus commented on #9
Unittest2 is failing intermittently thanks to some undefined behavior in the wedge face grad op.  I fixed it in https://github.com/NaluCFD/Nalu/commit/9a04c4aa22db0d2a2a1c9e83c4f46b63d4707e3e for NaluCFD.  What's the procedure for moving that to nalu-wind?  Should I open up a new pull-request here?

[2018-06-13 15:36] jrood-nrel commented on #5
unitTest2 is failing again (with Intel 2018.0.1) so I'm going to reopen this until it's resolved:
[code]

[2018-06-13 15:38] jrood-nrel opened #12 "New Warnings"
@sayerhs @rcknaus Lots of warnings showed up with Clang after https://github.com/Exawind/nalu-wind/pull/10 . Are these able to be resolved?

[2018-06-13 15:44] alanw0 commented on #5
@jrood-nrel I found and fixed (in my local project) an issue in UnitTestNGPMasterElements.C which may or may not be related to this. My project has other changes not ready to push so I'll tell you what this 1-line fix is in case you want to try it:
In the function 'linear_scalar_value' at the top of the file, change the implementation to be this:
  return (a + b[0] * x[0] + b[1] * x[1] + (dim==3 ?

[2018-06-13 15:48] sayerhs commented on #12
Clang expects us to use `override` on all overridden functions if we use it once, so the option now is to either be consistent or not use override on all the MasterElement subclasses. @rcknaus what option would you prefer?

[2018-06-13 15:50] sayerhs commented on #12
The quickest fix is to remove `override` qualifier from `include/Hex8CVFEM.h:180`

[2018-06-13 23:19] rcknaus commented on #12
I just removed the override specifier from that line.  The better solution is probably to use override consistently, but it's not a priority.

[2018-06-14 15:21] jrood-nrel commented on #12
It looks like this fixed warnings and created new ones.

[2018-06-14 15:24] sayerhs commented on #12
Now this is on `include/master_element/Tet4CVFEM.h`. Curious why these warnings weren't there in yesterday's CDash output. 🤔

[2018-06-14 15:29] jrood-nrel commented on #12
@sayerhs Maybe because it cuts off after 50 warnings?

[2018-06-14 21:15] spdomin commented on #12
I do not see the use-case for override - frankly. The compiler knows what is virtual and not. In this case, adding override on any virtual master element method seems to be extra work on our part in keeping it straight.

I vote to avoid override - that is, unless I am missing something?

[2018-06-14 21:28] sayerhs commented on #12
@spdomin Actually, the C++ compiler will not be aware that the method is overriding a virtual method in the Base class unless the method signature matches exactly. In this situation, it will just treat this as an overloaded method and might still use the base class method depending on the arguments provided. The intent of the `override` specifier is to be explicit about the intent so that the comp

[2018-06-14 21:58] spdomin commented on #12
@sayerhs, thank you for this info from StackOverflow. I suppose that I was assuming that a developer who wants to implement a viral method that is used in the derived class would have implemented the same signature.

I guess I still do not have the end use case correct in my head. I know that in the past, virtual methods with the same name, however, different signature would provide a "hidden" war

[2018-06-15 03:06] spdomin commented on #12
agreed. thanks.

[2018-07-09 15:42] jrood-nrel commented on #5
I haven't been seeing this issue lately so I'm going to close this again.

[2018-07-09 15:42] #5 closed

[2018-07-09 15:45] jrood-nrel commented on #12
I think some changes to Trilinos on July 6 are causing new warnings with GCC 7.3.0. I don't see any commits near July 6 for Nalu-Wind that are causing these since the warnings began on July 7.
[code]

[2018-07-09 19:22] alanw0 commented on #12
@jrood-nrel I'll try to take care of this no later than tomorrow if nobody beats me to it.

[2018-07-23 21:00] jrood-nrel opened #25 "Memory Leaks"
I have the Clang address sanitizer hooked up to the Linux Clang tests and I have suppressed MPI and NetCDF leaks which narrows things down mostly to Nalu-Wind and it treats leaks as failures. This currently shows that 11 tests have leaks or overflows. I would like to use this issue for anyone to mention whether or not they are looking into any specific leaks or overflows we are seeing with this.

[2018-07-23 21:07] jrood-nrel commented on #12
@alanw0 It looks like the Intel compiler has some new warnings due to https://github.com/Exawind/nalu-wind/commit/1c170cafc6c3d196b706ce275692ee68c720cbbf . It's surprising that it's complaining it can't contain an expression though. I don't know if it's worth adding an extra variable to contain the expression results which would be my first guess at a solution.

[code]

[2018-07-23 21:09] alanw0 commented on #12
@jrood-nrel that is indeed weird, I'll add the variable.

[2018-07-23 23:07] lawsonro3 commented on #25
I think I am seeing a memory leak when running the 5mw turbine. In the image below I am plotting the output produced by Nalu in the .log file when using the `activate_memory_diagnostic: yes` option. Specifically, below I show the `nalu memory: total (over all cores) high-water mark=` vs. timestep. [Here is the input file for reference](https://drive.google.com/open?id=1FTtgXDqkSAnEjRe50hV7DB1AmOVk

[2018-07-24 14:49] alanw0 commented on #25
I will kick off a valgrind run and see if I can find the leak. Do you think it might reproduce with the nightly test nrel5MWactuatorLine ?

[2018-07-24 15:06] jrood-nrel commented on #25
`nrel5MWactuatorLine` is in the list of tests that show leaks here https://my.cdash.org/viewTest.php?onlyfailed&buildid=1483222 so that should at least show you something but you will need OpenFAST enabled for that one and I don't think we are using OpenFAST for the large 5MW run. I would also look at `actuatorLine` and `heatedWaterChannelEdge`. Most leaking tests seem to have `overset` in them an

[2018-07-24 15:12] alanw0 commented on #25
@jrood-nrel ok thanks, I'm on it!

[2018-07-24 15:55] sayerhs commented on #25
@jrood-nrel I am looking into the `dgncThreeBladeHypre` and `oversetSphereTIOGA` leaks. The HYPRE leak might require some help from the HYPRE developers.

@alanw0 The leaks that @lawsonro3 is reporting are not related to Actuator Line simulations. I think it is related to sliding mesh setup and the associated ghosting + matrix reinitialization. The `ActuatorLineFAST` class is not invoked in @lawso

[2018-07-24 16:19] jrood-nrel commented on #25
@sayerhs I usually feel like anything's possible regarding this stuff, so I'm just being pessimistic, but I'm probably out of line because I'm just making guesses. I'm curious though, is there a regression test that is closest to @lawsonro3 's case?

[2018-07-24 16:41] jrood-nrel commented on #25
Great @alanw0 . Any chance to run valgrind on `dgNonConformalThreeBlade` just in case then? Maybe the address sanitizer missed something there.

[2018-07-24 16:43] alanw0 commented on #25
@jrood-nrel I'll take a look at dgNonConformalThreeBlade next, as soon as I get my actuatorLine push done.

[2018-07-24 17:21] alanw0 commented on #25
@jrood-nrel dgNonConformalThreeBlade runs clean according to valgrind. I'm now trying valgrind on an overset test to look at an issue Shreyas is seeing.

[2018-07-24 17:22] jrood-nrel commented on #25
Thanks for all this @alanw0 .

[2018-07-24 18:45] lawsonro3 commented on #25
I want to provide some more information about the cell ghosting issues @sayerhs mentioned above.

In the simulations of the 5mw turbine I have run with a sliding mesh (see the input file from my above post) I see a strange reporting of cells that are "ghosted" and "removed" each time step. Specifically, `sum(# of cells ghosted) - sum(# of cells removed) = a negative value` and below is a plot of c

[2018-07-24 19:31] sayerhs commented on #25
@lawsonro3 Does timestep = 0 correspond to time = 0 in your plot?

[2018-07-24 20:21] jrood-nrel commented on #25
The recent fixes have brought the tests showing memory leaks down from 11 to 6 https://my.cdash.org/viewTest.php?onlyfailed&buildid=1483364

[2018-07-24 20:31] jrood-nrel commented on #25
It looks like the unit tests are claiming a buffer overflow on this line https://github.com/Exawind/nalu-wind/blob/master/unit_tests/UnitTestHOMasterElements.C#L952 .

[2018-07-24 20:35] lawsonro3 commented on #25
@sayerhs - the plot shows timesteps 12000 - 14400, which is 0.739 -0.888 seconds of physical time. This is from the latest restart. However, the pattern repeats regardless of what restart I look at.

[2018-07-24 22:20] alanw0 commented on #25
I've pushed the ActuatorLineFAST memory leak fix. I'm checking with Robert about the unit-test fix, it is related to high-order stuff which he is the expert on.

[2018-07-25 13:21] sayerhs commented on #25
`oversetSphereTIOGA` probably needs changes in the TPL to fix the memory issues. It might take some time before the updates show up on CDash.

I am still trying to confirm whether `dgncThreeBladeHypre` memory leaks are on the Nalu end or something that needs to changes in HYPRE. I hope to have a fix for this soon.

[2018-07-25 15:34] rcknaus commented on #25
Should be fixed now.  Do you have the asan suppressions file somewhere available?

[2018-07-25 15:36] jrood-nrel commented on #25
Thanks! Yeah, I am doing it by library like this: https://github.com/Exawind/build-test/blob/master/test-scripts/test-nalu-wind.sh#L284

[2018-07-26 16:08] jrood-nrel commented on #25
More leaks exposed in the unit tests today: https://my.cdash.org/testDetails.php?test=40859121&build=1484491

[2018-08-01 16:25] jrood-nrel commented on #12
So I am seeing a new set of warnings of deprecations due to a Trilinos update, for example:
[code]

[2018-08-02 14:46] jrood-nrel commented on #12
Thanks for taking care of the warnings @sayerhs ! I'm going to close this since there currently aren't any warnings.

[2018-08-02 14:46] #12 closed

[2018-08-07 15:50] jrood-nrel commented on #25
It looks like the only leaks we have left according to the address sanitizer are in OpenFAST and HYPRE. I think we know the problem with OpenFAST and the fix exists and just needs to be pushed to the develop branch. HYPRE will take more time to work with them on a fix.

[2018-08-07 15:54] jrood-nrel opened #30 "Unittest2 failing on Linux with Clang"
@rcknaus For some reason `PromoteElementQuadTest` is not within tolerance on Linux Clang (LLVM 6.0.0), https://my.cdash.org/testDetails.php?test=41139913&build=1492172 . Do you know why this would be happening or something we might be able to do about it?

[2018-08-08 16:33] rcknaus commented on #30
I'm not able to reproduce this with my local clang 6 build, so I'm not sure what's happening.

[2018-08-20 20:41] tonyinme opened #31 "Merge nalu-wind-utils"
Here is an idea that I believe would improve significantly the user experience for nalu.

Is it possible to merge nalu-wind-utils to this repository?
https://github.com/Exawind/wind-utils
It would be great to have these utilities in the main repository and for it to be a part of the compilation process.
The idea is that the users only have to compile once, and all the tools for running a case woul

[2018-09-14 16:42] sayerhs commented on #31
Being handled in https://github.com/Exawind/nalu-wind/pull/36

[2018-09-14 16:42] #31 closed

[2018-09-17 14:26] Cfdbooks opened #37 "nalu-wind build error: 'put_field_on_mesh' is not a member of 'stk::mesh'"
I tried to build nalu-wind manually following the instruction and got the error:  'put_field_on_mesh' is not a member of 'stk::mesh'. The accompanied  required TPLs seem ok and I am using the latest master of Trilinos I think(git clone https://github.com/trilinos/Trilinos.git).
![img_3106](https://user-images.githubusercontent.com/16715436/45629111-34641580-bac8-11e8-8bdd-25d77b88550f.JPG)

[2018-09-17 14:31] sayerhs commented on #37
The latest commit of Trilinos was on Sept 11, 2019 (https://github.com/trilinos/Trilinos/commits/master). Can you please fetch this commit and compile nalu-wind against that? You'll need a commit that is newer than this: https://github.com/trilinos/Trilinos/commit/de635abc146449dc1c4dbbea65cefda91946755e

[2018-09-17 14:33] alanw0 commented on #37
This is due to a stk API change that is in the Trilinos develop branch but hasn't yet been promoted to the Trilinos master branch.
Periodically this will happen, as new development happens on the develop branch and then a window of time follows before the master branch 'catches up'. In nalu-wind we probably need to discuss a process for managing this window.

[2018-09-18 03:56] Cfdbooks commented on #37
Now I am using both latest Trilinos and nalu-wind and have built the codes successfully. Thanks.

[2018-09-18 03:56] #37 closed

[2018-09-18 15:35] Cfdbooks opened #38 "Build nalu-wind with Tioga"
I have manually built nalu-wind successfully and try to run it with Tioga. Should I install the Tioga package separately?  How can I link the Tioga lib with nalu-wind? Thanks in advance.

[2018-09-19 01:21] Cfdbooks opened #39 "Openfast build error when using spack"
Compiling seem ok, an error occurs in linking process. I think the additional ";" in link option " -fexceptions;-pthread" cause this problem but don't know how to fix it. Thanks in advance.
![img_3107](https://user-images.githubusercontent.com/16715436/45725350-12b07e80-bbed-11e8-93e2-077b76048460.JPG)

[2018-09-19 01:56] jrood-nrel commented on #39
@Cfdbooks Can you try using the latest Nalu-Wind `build-test` repo? This is the replacement for the NaluSpack repo. https://github.com/Exawind/build-test Also make sure you are using the latest Spack repo on the `develop` branch.

Next, that looks like an error in OpenFAST and if you don't need OpenFAST, you can try using `~openfast` in replacement of `+openfast` in the install script.

[2018-09-19 02:10] Cfdbooks commented on #39
Thanks. I will try. I think it is not a problem in OpenFAST because Tioga has the same problem.

[2018-09-19 03:56] Cfdbooks commented on #39
@jrood-nrel  I tried and got the same error.

[2018-09-19 14:10] #38 closed

[2018-10-01 17:45] jrood-nrel commented on #39
@Cfdbooks I was able to spend some more time searching for the cause of this and I am unable to find any leads as to why you're having this problem. Unfortunately I will have to direct you to reporting this issue on the Spack github as it isn't a Nalu-Wind issue and doesn't seem to be a direct issue regarding the OpenFAST code as well. I think this code is somehow being injected by either Spack, o

[2018-10-01 17:48] jrood-nrel commented on #25
I am going to close this as all the memory leaks the address sanitizer were reporting have been fixed. There is still a leak with OpenFAST, but I'm confident I can fix that with either an OpenFAST update, or pushing to get the fix for it into the develop branch there.

[2018-10-01 17:48] #25 closed

[2018-10-01 17:49] jrood-nrel commented on #30
I'm going to close this as I have not seen this behavior in a long time.

[2018-10-01 17:49] #30 closed

[2018-10-02 02:48] Cfdbooks commented on #39
@jrood-nrel  Thanks for your help. I thinks it is a system dependent problem. The building process is ok in Mac OS but cause the problem in Fedora 27.

[2018-10-05 20:33] jrood-nrel opened #44 "Errors with OpenFAST test"
I have posted more detail about this here https://github.com/OpenFAST/openfast/issues/187 . This issue will just be used to track the status of this problem since it affects Nalu-Wind.

[2018-10-10 23:42] sayerhs opened #47 "I/O of edge fields in Exodus files"
@alanw0 In NaluCFD/Nalu#29 you mentioned that you had asked the STK/Exodus team about the possibility of adding capability to output edge fields to Exodus restart files. Do you know what happened to that? Is that something that is possible now, or was that deemed too complicated?

[2018-10-11 14:06] alanw0 commented on #47
@sayerhs I don't think this has happened. I'm guessing it just hasn't risen to the top of the priority list but I'll check on it and get back to you.

[2018-10-11 14:08] alanw0 commented on #47
@khpierson Kendall if you get GitHub notifications can you comment on this request?

[2018-10-12 03:17] jrood-nrel commented on #39
@Cfdbooks I'm seeing this error now too. It's definitely a problem with CMake since version 3.10.0 because I can use 3.9.4 and it works fine. It also appears to get added due to the CMake FindMPI module that OpenFAST is using because this error happens for other packages that use FindMPI now as well. Trilinos recently set a minimum CMake version of 3.10.0, so I will have to solve this so we can us

[2018-10-15 16:58] psakievich commented on #44
Any idea what the last commit was where this issue wasn't broken?  I'd like to revert locally for some testing.

[2018-10-15 17:04] jrood-nrel commented on #44
@psakievich The OpenFAST issue has the exact commits that are causing this.

[2018-10-15 17:10] psakievich commented on #44
Okay thanks!

[2018-10-17 21:10] jrood-nrel commented on #39
@Cfdbooks If you would like, you can try this again with the latest Spack develop branch which should default to using CMake 3.12.3 which for me seems to fix this issue. You might also need to wait for this PR to get merged: https://github.com/spack/spack/pull/9560 which will solve other problems I was seeing with Tioga and OpenFAST that were building as static libraries and then Nalu-Wind trying

[2018-10-19 13:31] Cfdbooks commented on #39
Dear Rood,

Thanks for your warm-hearted help. It works.

J.Xia

[2018-10-19 14:06] jrood-nrel commented on #39
Great!

[2018-10-19 14:06] #39 closed

[2018-10-19 14:28] jrood-nrel opened #49 "GCC 4 broken in the tests"
It looks like https://github.com/Exawind/nalu-wind/pull/45 broke the tests using GCC 4.9.4. What should be the solution? Fix it or abandon GCC 4?

[2018-10-19 14:35] sayerhs commented on #49
@jrood-nrel Is there a way to get the full message? I can't see the exact line in Nalu source that is throwing the error. Phil reorganized the source code, so I am curious why it is erroring now. I would like to understand the error a bit more (and see if we can fix it) before abandoning GCC 4.9.4.

[2018-10-19 14:47] jrood-nrel commented on #49
Sure, I attached the full error from the log file here.
[error.txt](https://github.com/Exawind/nalu-wind/files/2496279/error.txt)

[2018-10-25 14:32] sayerhs opened #52 "New ABL Top BC (#34) breaks backward compatibility"
Recent merge of #34, breaks the ABL neutral edge regression test and is not compatible with the usual wind farm simulation workflow. The reason for the breakage is that the normal temperature gradient for the top BC is no longer supported via symmetry BC, but instead via a new BC called `abltop`. We have two options at this point:

- Retain backwards compatibility by duplicating the logic for temp

[2018-10-25 15:40] tonyinme commented on #52
Hey @shreyas, the second option sounds good, but we will need to update
some things in the examples.
So let me know what you decide and I can modify the examples accordingly.

Thanks,

Tony

On Thu, Oct 25, 2018 at 8:32 AM Shreyas Ananthan <notifications@github.com>
wrote:

[2018-10-25 16:09] tslund commented on #52
I agree with Shreyas.  The original temperature gradient BC was sort of a
hack as it was specified with the "symmetry" option.  It is much more clear
to specify abltop.  It was my intention to imporve the sepcification for
the temperature gradient boundary condition when I put together abltop.

I think the only change we would need to make is to update the input files
for the existing regression t

[2018-10-25 16:14] sayerhs commented on #52
@tslund I think I have all the changes necessary for Option 2. I want to run the regression test suite on Peregrine to ensure that it will pass before submitting the pull request.

@rcknaus Do you have any objections to option 2?

[2018-10-25 16:35] sayerhs commented on #52
Implemented option 2 in pull request #53

[2018-10-25 17:53] rcknaus commented on #52
Option 2 sounds OK to me.

[2018-10-26 18:30] #52 closed

[2018-12-18 17:04] jrood-nrel opened #66 "Errors when FFTW enabled"
@tslund Can you look at the errors that are caused when enabling FFTW? They are located at https://my.cdash.org/viewBuildError.php?buildid=1581674

[2018-12-19 21:43] sayerhs commented on #66
Attempted to address these errors in commit d8810e2. Might have to update gold files as the original files in repository were generated on Mac OSX. They are causing diffs on Linux+GCC builds.

[2018-12-20 18:24] jrood-nrel commented on #66
Fixed by commit in previous comment.

[2018-12-20 18:24] #66 closed

[2018-12-27 16:46] jrood-nrel opened #69 "ablHill3d_pp test is nondeterministic"
@tslund This test appears to give nondeterministic results. Is there a way to make these deterministic? I have OpenMP disabled in FFTW.

[2018-12-27 18:07] tslund commented on #69
Jon,

Can you explain more about what you are experiencing with the test cases?
Unless there is a bug, the results should be repeatable.  There is no use
of a random number generator or anything like that, so there should not be
any stochastic behavior either.

   ---Tom

On Thu, Dec 27, 2018 at 9:53 AM Jon Rood <notifications@github.com> wrote:

--
Thomas S. Lund
Adjunct Professor and Research As

[2019-01-10 00:21] ashesh2512 opened #70 "Bug in WindEnergyAuxFunction when `compute_centroid: yes`"
I have come across a bug in the current implementation of `register_wall_bc` when using `mesh_motion`. The boundary conditions are registered before the `mesh_motion` is ever executed. So for the specific case of `compute_centroid: yes` the `WindEnergyAuxFunction` is created which includes setting its member variables (one of which is the centroid) before `compute_centroid_on_parts` is ever called

[2019-01-16 18:57] lucbv opened #76 "documentation for manual installation is too outdated"
@sayerhs @jhux2
I am trying to install nalu-wind manually (without spack).
I am able to install trilinos correctly, although the recommended configure file needs to be updated.
However I cannot build nalu-wind since the `do-configNalu` script does not exist anymore.
Is there a way to get a reasonable configuration script for Nalu?
Also the documentation does not mention `Tioga` which seems to be r

[2019-01-16 19:05] jrood-nrel commented on #76
@lucbv I will try to update these instructions today.

[2019-01-16 19:16] sayerhs commented on #76
@lucbv You don't need Tioga to compile `nalu-wind`, by default `ENABLE_TIOGA` is off in Nalu-Wind's CMakeLists.txt

The latest settings for Trilinos are available [here](https://github.com/Exawind/build-test/blob/master/configs/machines/peregrine/do-config-trilinos-peregrine.sh).

[2019-01-16 20:15] lucbv commented on #76
@jrood-nrel thanks for updating the instruction!
@sayerhs thanks for the link to the Nalu configuration, I will use it as a baseline for my local configuration.
I will keep you posted on my progress.

[2019-01-16 21:04] lucbv commented on #76
@jrood-nrel and @sayerhs, I have been able to modify the nalu configuration to use Sandia's sems modules.
I ran `unittestX` and it reported 283 tests passed so I guess I am good to go.
Thanks for the help!

[2019-01-16 21:04] #76 closed

[2019-01-16 21:15] jhux2 commented on #76
@DrBooom fyi

[2019-01-18 17:10] ashesh2512 opened #78 "Move mesh motion definition from under solution_options to under realm in the input file"
Currently `solution_options` in the input file seems to include a lot of miscellaneous options controlling the discretization, numerical stability, and mesh motion of a simulation. This issue suggests making `mesh_motion` a sub-section of `realm` rather than `solution_options` for a more clear structure of the input file.

[2019-01-23 20:48] #78 closed

[2019-01-23 20:48] #70 closed

[2019-02-12 17:09] jrood-nrel opened #119 "Unit Tests failing on Intel due to diffs"
@ashesh2512 I think the tolerances just need to be larger for the mesh motion unit tests. You can see the diffs here https://my.cdash.org/testDetails.php?test=45313861&build=1606919

[2019-02-12 17:18] ashesh2512 commented on #119
@jrood-nrel Thanks for pointing out. I will submit a pull request shortly.

[2019-02-12 19:48] #119 closed

[2019-02-13 21:42] cmkaul opened #122 "Neutral ABL example case fails, can't open mesh database"
I am a new user of nalu-wind and, more generally, new to Trilinos. While attempting to run the Neutral ABL example case, I can't get past the following error:

Error occured at: stk_io/stk_io/InputFile.cpp:142
Error: ERROR: Could not open database 'mesh_abl.exo' of type 'exodus'

(full error output here: https://github.com/Exawind/nalu-wind/files/2862274/nalu_abl.err.pdf ).

mesh_abl.exo was gener

[2019-02-13 22:03] gantech commented on #122
Do you have this line in the input file?

`  automatic_decomposition_type: rcb`

[2019-02-13 22:41] cmkaul commented on #122
Yes,  I do.

[2019-02-13 22:44] jamelvin commented on #122
Hey Colleen,

Is it possible for you to upload your input file and the command you used to execute nalu-wind as well as an `ls` in your working directory?

[2019-02-13 23:00] cmkaul commented on #122
Certainly! Thanks for the help @gantech  and @jamelvin .

My job script:
[job_script.csh.pdf](https://github.com/Exawind/nalu-wind/files/2862520/job_script.csh.pdf)
(I've also tried without the -p and -D options...)

My input file:
[abl_simulation.yaml.pdf](https://github.com/Exawind/nalu-wind/files/2862524/abl_simulation.yaml.pdf)

ls of the working directory:
<img width="719" alt="screen shot 20

[2019-02-13 23:15] jamelvin commented on #122
It seems weird to me that Nalu would try to generate 24 log files, is your parallel command being executed correctly?  Normally, I would execute
`mpirun -np 24 naluX -i abl_simulation.yaml -o abl_simulation.log`
but each implementation can require different inputs.

If you get a chance, could you also upload abl_simulation.log?

[2019-02-13 23:48] cmkaul commented on #122
I believe the 24 log files are a consequence of the -p flag  but this turns out not be useful as all these per-processor log files are empty. There are 24 processors per node on the machine I am using, so that checks out.

Here is the log file:
[abl_simulation.log](https://github.com/Exawind/nalu-wind/files/2862650/abl_simulation.log)

[2019-02-14 00:12] jamelvin commented on #122
So when I use your command,
`mpirun naluX -p -D -i abl_simulation.yaml`
it produces some weird output for me as well.  Can you try with the command
`mpirun -np 24 naluX -i abl_simulation.yaml -o abl_simulation.log`?

[2019-02-14 07:07] cmkaul commented on #122
So with that command, I get the single log file abl_simulation.log but everything else proceeds in the same manner as previously (same messages to stderr and stdout, same contents to abl_simulation.log)

[2019-02-14 22:38] jamelvin commented on #122
Hey @cmkaul, I don't see anything that jumps out that could be causing this... Maybe @sayerhs can help?

[2019-02-14 22:48] sayerhs commented on #122
@cmkaul It appears that the way Trilinos is setup, it is not doing automatic decomposition.  Can you clarify how you compiled NetCDF and Trilinos? Are you used a system provided NetCDF? If NetCDF isn't compiled properly with `parallel-netcdf` that could be the issue. Until we can troubleshoot this, can you try the following workaround:

- Use `decomp` utility (look in `bin` directory of Trilinos i

[2019-02-15 02:18] sayerhs commented on #122
Can you share the output of `nc-config --all` and `pnetcdf-config --all` for your system, that might help troubleshoot this issue.

[2019-02-15 19:41] cmkaul commented on #122
Here are the config files:
[pnetcdf_config.txt](https://github.com/Exawind/nalu-wind/files/2870540/pnetcdf_config.txt)
[nc_config.txt](https://github.com/Exawind/nalu-wind/files/2870541/nc_config.txt)
I configured hdf5 (version 1.10.4) with these options:
`./configure CC=mpicc FC=mpif90 CXX=mpicxx CXXFLAGS="-fPIC -O3" CFLAGS="-fPIC -O3" FCFLAGS="-fPIC -O3" --enable-parallel --with-zlib=${NALU_ROOT

[2019-02-15 22:03] cmkaul commented on #122
I was able to use the decomp utility to preprocess the decomposition of the mesh file successfully. I replaced the single mesh_abl.exo file with the decomposed files and commented out `automatic_decomposition_type: rcb` in the input [abl_simulation.yaml.txt](https://github.com/Exawind/nalu-wind/files/2871031/abl_simulation.yaml.txt)

 But I am still seeing the error at stk_io/stk_io/InputFile.cpp:

[2019-02-15 22:21] sayerhs commented on #122
@cmkaul Thanks for trying that out. This is indeed a mystery. Looking at your `nc-config --all` output, it appears that NetCDF has been linked to PNetCDF correctly. The only difference I see that you are using `4.6.1` whereas we are using `4.4.1.1`, and you have linked `hdf5` to your custom `zlib` but the netcdf is linking to the system `zlib`? Not sure if this is the cause of the discrepancy.

We

[2019-02-15 22:49] cmkaul commented on #122
Thanks for persevering with me on this.
I didn't realize I needed to also specify which `zlib` to use when building `netcdf` if I had already specified it for `hdf5`, but I'll give that a try. There are some other would-be users here, so it would be nice to figure out what works on our system.

I am planning to work again on getting going on NREL Eagle the rest of today.

Thanks again!

[2019-02-15 22:50] alanw0 commented on #122
Usually that error message means that the mesh file is not in the current working directory. Can you attach your mesh file so that we can try reading it locally?

[2019-02-15 23:34] cmkaul commented on #122
It's too large for me to attach here, so I've transferred it to Eagle scratch `/scratch/ckaul/neutral_abl`. I put both the single mesh and the mesh files produced by decomp and the simulation input file.

[2019-02-15 23:51] sayerhs commented on #122
@alanw0 I can confirm that I am able to run the input file/mesh combination uploaded by @cmkaul to Eagle, both with `automatic_decomposition_type: rcb` and the single mesh and the decomposed mesh without that option in the input file.

[2019-02-15 23:52] sayerhs commented on #122
@cmkaul For Eagle, you can use the build scripts in the projects directory under HFM allocation. Let us know if you have access to it, otherwise we will get you the relevant information.

[2019-02-15 23:57] cmkaul commented on #122
Thanks @sayerhs, I don't have access to the build scripts under HFM.

[2019-02-16 00:34] sayerhs commented on #122
@cmkaul Please follow the [exawind-builder](https://exawind-builder.readthedocs.io/en/latest/), use the [bootstrap script](https://exawind-builder.readthedocs.io/en/latest/installation.html#basic-installation-for-all-systems) to setup the directory structure and then skip to the `nalu-wind` [build instructions](https://exawind-builder.readthedocs.io/en/latest/basic.html#compiling-software). Note y

[2019-02-17 00:07] alanw0 commented on #122
@sayerhs thanks for confirming that the mesh file works on eagle. So this seems to indicate that there is some issue either with her working-directory location, or with her build of one of the libraries. We'll try to make the STK IO message be more informative. I.e., it should say "file not found" or "file corrupt" or something more specific than what it produced in this case.

[2019-02-20 16:56] #122 closed

[2019-02-20 16:58] cmkaul commented on #122
I was personally able to run the simulation using that mesh file on Eagle. So it is definitely some issue related to my system/my compilation of the code.

[2019-02-20 21:03] ashesh2512 opened #124 "Dealing with geometric conservation law in presence of specified mesh motion"
Since #77 we now have the capability of moving/deforming the mesh such that the cell volumes can change. This is important for when we might interface with a structural solver for FSI as well as for testing basic geometric conservation law with overset. However currently the only way to do so is through the `MeshDisplacement` class, some side effects of which are an extra equation system solve and

[2019-03-03 23:23] #124 closed

[2019-03-15 14:28] #44 closed

[2019-03-15 15:28] jrood-nrel commented on #69
Fixed by https://github.com/Exawind/nalu-wind/pull/91

[2019-03-15 15:28] #69 closed

[2019-03-26 13:20] sayerhs opened #163 "Failing test oversetRotCylinder"
Opening an issue to track details on the failing test `oversetRotCylinder` on the test machine.

[2019-03-26 13:24] sayerhs opened #164 "GCL mods (#160) introduces diffs in movingCylinder regression test"
Recent merge of #160 introduced a diff (`4.334477e-04`) for the `movingCylinder` test. With the change in formulation I would expect it to diff, but I am unsure of the magnitude of the diffs introduced. Hoping @ashesh2512 can confirm whether this requires further investigation before re-blessing the gold norm files.

Cc: @jrood-nrel

[2019-03-26 15:12] rcknaus commented on #164
I think it would be nice to have a simple freestream preservation test (constant velocity flow with some non-solenoidal mesh motion) added too.  On paper the old source-term style should have freestream preservation for backward Euler.

[2019-03-26 17:25] ashesh2512 commented on #164
[Uploading DISCRETE FORM OF THE GCL FOR MOVING MESHES AND ITS IMPLEMENTATION IN CFD SCHEMES - Zhang.pdf…]()

[2019-03-26 18:55] rcknaus commented on #164
Yeah, the pulsating sphere test sounds like a good test to add to the suite if it's not too big.  The freestream preservation test you described is a good alternative if that test is too large.

The volume/face velocity approach would definitely be a lot more cumbersome, but it's probably not too bad cost-wise.  We already break every low-order topology up into tets for the purpose of computing vo

[2019-03-26 20:46] ashesh2512 commented on #164
Holding on closing out to make sure the tests pass overnight before I finally close it.

[2019-03-27 16:03] #164 closed

[2019-03-31 20:55] sayerhs commented on #163
CDash reports no failures after OpenMP has been turned off.

[2019-04-10 14:56] sayerhs opened #184 "Add missing `shape_fcn` and `shifted_shape_fcn` methods for MasterElements"
Before transitioning Kernels to run on GPUs, at least the following MasterElements must have implementations of `shape_fcn` and `shifted_shape_fcn` that take `SharedMemView<...>` arguments:

- [x] Hex8SCV
- [x] Quad42DSCV
- [x] Quad42DSCS
- [x] Tet4SCV
- [x] Tet4SCS
- [x] Wedge6SCV
- [x] Wedge6SCS

[2019-04-10 15:06] sayerhs commented on #184
The following cases need to be fixed

[code]

[2019-04-10 15:40] sayerhs opened #185 "Redesign ScratchViews/SharedMemData to allow execution on both host and device with CUDA builds"
The current ScratchViews design only allows `Kokkos::parallel_for` execution on the device execution space. Explore an alternate design that allows the user to perform `Kokkos::parallel_for` actions with `ScratchViews` on both host and device with CUDA builds.

[2019-04-10 15:44] sayerhs opened #186 "Segfaults on GPU with particular MasterElement methods"
Certain [calls](https://github.com/Exawind/nalu-wind/blob/master/include/ScratchViews.h#L622) to MasterElement methods to populate ScratchViews from within device loop causes segfaults.

Determine and fix cause of segfaults, update `UnitTestHexMasterElementNgp.C` to add unit tests that demonstrate execution of these methods on GPUs.

[2019-04-10 20:53] sayerhs commented on #184
Addressed in commits: 49423d34, 9cc7e7f3ab6, 2340eb91a43, and 9932225a3d7

[2019-04-10 20:53] #184 closed

[2019-04-12 20:43] sayerhs opened #196 "Running specific tests using gtest_filter causes runtime error"
[code]

[2019-04-12 20:46] #196 closed

[2019-04-12 20:53] sayerhs commented on #196
Kokkos threw a runtime error complaining about deallocation after a Kokkos::finalize call. This occurred because the master elements created for specific tests weren't deallocated prior to exit. These elements were deallocated by `Realm::~Realm()` when the full-suite was run and we were lucky in the ordering of tests such that the tests with realm destructors run at the end cleaning up the memory.

[2019-04-18 13:13] sayerhs opened #198 "Nightly test diffs in HO cases introduced by #197"
It seems that merging #197 has introduced [diffs in two HO test cases](https://my.cdash.org/viewTest.php?onlyfailed&buildid=1638021). The `tensor_tg_mms` diffs seem a bit high. @rcknaus Can you please confirm that you are seeing this also on your system and recommend a fix?

[2019-04-18 13:14] sayerhs commented on #163
Reopening this as the test has started failing randomly over the last few days.

[2019-04-18 13:26] sayerhs opened #199 "Fix deprecated calls to MueLu in Nalu-Wind"
trilinos/trilinos@12f9808 deprecates the [MueLu::CreateTpetraPreconditioner](https://github.com/Exawind/nalu-wind/blob/master/src/LinearSolver.C#L136) used in the Nalu-Wind Trilinos solver interface. Replace this with the recommended alternative from MueLu developers to fix [deprecation warnings](https://my.cdash.org/viewBuildError.php?type=1&buildid=1638039).

[2019-04-18 13:26] sayerhs commented on #199
@jhux2 @aprokop I see no non-deprecated alternatives that uses `coordinates`. Is the variant with coordinates not going to be supported going forward?

[2019-04-18 13:34] sayerhs commented on #199
Never mind, I think I found the [new way](https://github.com/trilinos/Trilinos/commit/12f9808#diff-31eb6d80659816202d13346bd0d5700eR67) to do things.

[2019-04-18 16:09] #199 closed

[2019-04-18 17:26] sayerhs commented on #198
Also introduced a heap-buffer overflow

[code]

[2019-04-18 19:25] rcknaus commented on #198
The kovasznay_P5 can be reblessed.  The tensor_tg_mms test is pretty sensitive (it's always diffed locally since https://github.com/Exawind/nalu-wind/pull/28 ), so I'm going to look either into making it an order-of-accuracy test or just redoing it.  That said, it could also be diffing due to that memory issue.

[2019-04-21 16:45] sayerhs opened #202 "Nalu-Wind Kernels – GPU transition"
Tracking the progress of conversion of Nalu-Wind kernels for execution on GPUs. The basic process of converting a non-HO Kernel to GPU can be seen in commits 1e9382f66f4823 (volume master element) and 5ee617e3ad555 (surface master element). The steps are:

- Switch base class from `Kernel` to `NGPKernel<T<AlgTraits>>` where `T = MomentumMassElemKernel` for example.
- Replace private/deleted defaul

[2019-04-21 18:42] alanw0 commented on #202
I'm currently working on kernel/ScalarMassElemKernel. (It's done and passing regression tests, but I don't have it unit-tested yet.)

[2019-04-21 19:24] sayerhs commented on #202
@alanw0 Thanks, I'll use the `[x]` box to indicate someone is working on the kernel and then add the commit/pull-request ID to mark the kernel as `DONE`.

[2019-04-22 14:04] sayerhs commented on #198
@rcknaus #201 fixed the memory errors that caused unit tests to fail. At this point, should we be re-blessing tensor_tg_mms or do you want to change the way it is tested?

[2019-04-22 18:11] sayerhs commented on #202
`AssembleFaceElemSolverAlgorithm` in progress by @alanw0

[2019-04-22 18:16] ashesh2512 commented on #202
I am working on `kernel/MomentumUpwAdvDiffElemKernel`

[2019-04-22 20:47] rcknaus commented on #198
Reblessing them is good. I do still want to change the tensor_tg_mms, since it'll keep coming up as it is.
 Running it as a convergence test takes way too long for the test suite, though, so I'll have to change it more significantly.

[2019-04-25 22:10] overfelt commented on #186
@alanw0,

I added a branch that has a unit test to show this.  I should not have commented out UnitTestHexMasterElementsNgp.C:193 since this is a branch, but if you clone and uncomment that line and run the unit test with --gtest_filter=masterElementHexSerialNGP.hex8_scs_interpolation you should get an error when trying to set up the element data requests.  I do not see that it has anything to do

[2019-04-25 22:43] alanw0 commented on #186
@overfelt I will try to reproduce this.

[2019-04-25 23:42] sayerhs commented on #186
@overfelt I had the same experience. The code will segfault in the fill master element views even if you register no ME views in the ElemDataRequests object, which is really puzzling.

[2019-04-26 17:16] overfelt commented on #186
I'm trying to build -G to debug through cuda calls.  I could not get Trilinos to build, some odd undefined references but maybe just nalu is enough.

[2019-04-29 12:29] sayerhs opened #207 "Memory leak in HigherorderQuad2DSCS::set_boundary_info()"
Looks like #206 introduced a memory leak [reported by Clang](https://my.cdash.org/testDetails.php?test=46913868&build=1642835)

[2019-04-29 14:48] jrood-nrel commented on #207
`Address 0x61f000003f88 is a wild pointer.` Careful now.

[2019-04-29 15:05] psakievich commented on #207
@jrood-nrel I'll grab my code lasso, and spurs before I head after it.

[2019-04-29 18:35] DrBooom opened #208 "Realm::set_hypre_global_id() is not included in any timer."
It appears that the MPI_Allgather inside Realm::set_hypre_global_id() is not included in any of the timers. Since the Tpetra stack does this same operation (scan_sum) inside it's equation system "Init" timer, it seems that this hypre function should be included somewhere so that comparisons include all work and mpi communication.

[2019-04-29 21:53] psakievich commented on #207
Addressing with PR #210

[2019-04-30 15:21] jrood-nrel commented on #207
The victorious gaucho rides off into the sunset.

[2019-04-30 15:21] #207 closed

[2019-04-30 16:12] jrood-nrel commented on #202
I think I got `kernel/TurbKineticEnergySSTSrcElemKernel` with #209 . I'm going to try the rest of the SST kernels as well.

[2019-05-03 20:30] sayerhs commented on #208
@DrBooom That is a good point, the time spent needs to be captured somewhere other than the overall runtime. However, in case of `set_hypre_global_id` it is done once per timestep regardless of how many equation systems there are, so we can't just add this time to all the equation systems `init` because we don't perform this separately for momentum, continuity, enthalpy, turbulence equation system

[2019-05-07 13:56] sayerhs opened #222 "Memory leak introduced in unit test by #220"
Commit 0d0f6923f45 introduced a memory leak in unit tests. The leak occurred because previously the Kernel destructor was responsible for cleaning up the device pointer. However, the commit moved this to `sierra::nalu::Algorithm` destructor. In [UnitTestHelperObjects](https://github.com/Exawind/nalu-wind/blob/0d0f6923f45d53eaab5f5c716fe77275d3f2f7d4/unit_tests/UnitTestHelperObjects.h#L35) we clear

[2019-05-07 13:58] sayerhs commented on #222
Fix in e4fd9c35f868

[2019-05-07 18:59] alanw0 commented on #186
@overfelt I finally tried to reproduce this. I built and ran with line 193 commented out and uncommented, and in both cases it runs without complaining... How can I make sure I'm running the right thing here?

[2019-05-07 20:07] alanw0 commented on #186
@overfelt I am now reproducing the crash. I had to also uncomment the SharedMemData construction inside the kokkos loop. I'll see what I can figure out about the crash.

[2019-05-07 21:34] DrBooom commented on #208
The obvious answer is to create the local and sharedNotOwned Tpetra maps once, and re-use them for each subsequent equation system. It would both improve performance, and allow direct comparison.

[2019-05-09 18:44] #222 closed

[2019-05-09 22:05] alanw0 commented on #202
A note for when we return to element-based GPU conversion:
Regarding AssembleFaceElemSolverAlgorithm. The run_algorithm method is converted and unit-tested, but the execute method needs to be converted next. Need to convert the unit-tests in UnitTestFaceElemBasic.C which call faceElemAlg.execute().

[2019-05-15 23:03] jamelvin opened #230 "Too many fields warning message"
In a case I am running in a development branch of mine, the following warning message

https://github.com/Exawind/nalu-wind/blob/b7f6a9756ababa5fd0a59d8de1f66d6d879c1196/include/MultiDimViews.h#L54

prints out an excessive number of times.  I can disable the warning, but @sayerhs wanted me to bring this up here to figure out the proper way to address this situation for NGP.

[2019-05-15 23:10] alanw0 commented on #230
@jamelvin Can you show the message it is printing? I'm curious about how many fields you have. We have a hard-coded stack-array in there which assumes you won't have more than 64 fields. If we need to raise that constant we can. I didn't think nalu-wind had that many fields.

[2019-05-15 23:12] jamelvin commented on #230
`Too many fields (66), current limit in internal arrays is 64.  Code will crash...`

[2019-05-15 23:14] alanw0 commented on #230
ok. For now, in your development branch, go ahead and raise the maxFieldOrdinals constant in that file. @sayerhs and I will discuss how to make this more robust with a better solution.

[2019-05-15 23:14] jamelvin commented on #230
In the development branch I am working on, I am using a bunch of additional fields

https://github.com/marchdf/nalu-wind/tree/TAMS-Hybrid

is the link to the branch.

[2019-05-17 17:48] sayerhs opened #233 "Consolidated Elem + modified timestep algorithm broken since #227"
#227 introduced GPU friendly `sumInto` logic for the linear system and removed the call to [apply_coeff](https://github.com/Exawind/nalu-wind/blob/master/src/SolverAlgorithm.C#L151) in [AssembleElemSolverAlgorithm::execute](https://github.com/Exawind/nalu-wind/blob/master/src/AssembleElemSolverAlgorithm.C#L127). Now the momentum diagonal is no longer populated into the field as a _side effect_ of

[2019-05-17 17:52] alanw0 commented on #233
oh, oops, I remember noticing that side-effect when I was working on the coeff-applier, and forgot about it before I finished. I'll take care of that.

[2019-05-17 17:55] sayerhs commented on #233
@alanw0 A stopgap would be to revert

https://github.com/Exawind/nalu-wind/blob/master/src/AssembleElemSolverAlgorithm.C#L127

back to `apply_coeff` when executing on HostSpace.

[2019-05-17 18:01] alanw0 commented on #233
@sayerhs yes that would be fine. Do you want to go ahead and do that? I'm out of the office today, so I won't get to this until tonight or tomorrow.

[2019-05-17 19:56] sayerhs commented on #233
@alanw0 I've reverted back to `apply_coeff` on host. I will leave this issue open until we have a proper fix to this issue, and a regression test to catch such issues in future.

[2019-05-28 17:23] sayerhs opened #238 "Nalu-Wind Edge Algorithms – GPU Transition"
Track progress of the conversion of Edge algorithms in Nalu-Wind to be capable of running on GPUs.

## Edge Interior algorithms

**Status:** _Ready for conversion_

Basic implementation of the NGP-version of *interior edge algorithm* was demonstrated in #232, see [ContinuityEdgeSolverAlg](https://github.com/Exawind/nalu-wind/blob/master/src/edge_kernels/ContinuityEdgeSolverAlg.C)

~Outstanding iss

[2019-05-28 17:24] sayerhs commented on #238
@marchdf @jamelvin Please add details on the TAMS edge implementation here, so that we can track that also.

[2019-05-28 21:14] psakievich opened #240 "Memory Issues with OpenMPI"
This issue is being opened to further address/document the issues reported at NREL while running nalu-wind with openmpi-1.10 that was reported to the ECP team on 02/20/2019 via an internal project summary. I would like to replicate the test cases to see if the memory issues are observed on SNL platforms.

[2019-05-28 21:14] marchdf commented on #238
The TAMS branch currently lives here: https://github.com/marchdf/nalu-wind/tree/TAMS-Hybrid

The following are element kernels that we implemented that we are going to need to convert to edge kernels:
- [ ] src/kernel/MomentumTAMSKEpsDiffElemKernel.C
- [x] src/kernel/MomentumTAMSKEpsForcingElemKernel.C
- [ ] src/kernel/MomentumTAMSSSTDiffElemKernel.C
- [ ] src/kernel/MomentumTAMSSSTForcingElemKern

[2019-06-03 12:31] sayerhs commented on #163
Seems to have been resolved by #235

[2019-06-03 12:31] #163 closed

[2019-06-03 14:53] #230 closed

[2019-06-12 20:37] lucbv opened #249 "Tpetra Segregated System"
This issue is here to keep track of progress made to implement a segregated linear system with the Tpetra stack in nail-wind.
There is already a working implementation in my fork but rebasing on head and merging afterwards seems quite hard due to many changes in `nalu-wind`.
I will take an incremental approach in which I slowly introduce all the features I need to get to the full segregated linear

[2019-06-12 23:05] alanw0 commented on #249
Do we really need a new linear system class? That sounds like a lot of code duplication. I don't know how specifically your work is implemented, but I was hoping it would make the momentum equation more similar to the scalar equations. Adding a new linear system class sounds like it would be very different. I'll be interested to hear/see more details.

[2019-06-13 00:17] jhux2 opened #252 "Compilation failure with nalu-wind VOTD and Trilinos dev VOTD"
Using NaluWind SHA 32994aff27c5 and Trilinos dev 8a82b322ba, I'm seeing this error.  Is my Trilinos just too far ahead of NaluWind?

[code]

[2019-06-13 12:42] sayerhs commented on #249
@alanw0 While don't need an entirely new class, you'll want to override `sumInto` class so that even though the algorithms are `3x3` we are just populating a scalar matrix. In `HypreLinearSystem` vs. `HypreUVWLinearSystem` the differences are in the logic of handling `numDof_`, `sumInto` and the `loadComplete` steps.

[2019-06-13 13:07] sayerhs commented on #252
@jhux2 I think it is the other way round, Trilinos needs to be updated to bring in a newer STK commit that deprecated the use of Boost in `stk_transfer`. The change c09807fc79d was introduced on May 24th and the nightly tests have been building properly with the VOTD `trilinos/develop`. I just tested 32994aff27 with trilinos/trilinos@925aaa779 and the build succeeded on NERSC Cori.

[2019-06-13 15:54] alanw0 commented on #249
@sayerhs does sumInto need to only keep the 0,0 position of each 3x3 and discard the rest, or does it need to do something fancier than that? If it is just discarding most of the coefficients, maybe we should pass an option to the relevant kernels so that they don't waste time calculating those coefficients.

[2019-06-13 16:18] sayerhs commented on #249
@sayerhs In scalar/continuity kernels `lhs` is just `(1, 1)`. For momentum, the time derivative kernel should populate the diagonal `(i, i) i = 1..3` and not just `(0, 0)`. I'll have to look through the other kernels to make sure that they are not populate off-diagonal terms.

[2019-06-13 16:26] lucbv commented on #249
@alanw0 @sayerhs I did not plan to touch anything but LinearSolver and LinearSystem, I did try to do something fancier initially but realized quickly that there are a lot of physic kernels that would need to be changed otherwise.
I do not mind implementing the segregated linear system as an option in the TpetraLinearSystem, I think that could be done without much extra work from me but it probably

[2019-06-13 16:31] sayerhs commented on #249
@alanw0 Sorry, I misunderstood your question. You are correct that it only requires `(0, 0)` for each node. I opted for subclassing HypreLinearSystem instead of modifying every algorithm and kernel because it requires adding this flag to every momentum NGP kernels edge/node/elem traditional algorithms. If someone wants to take on the effort of adding `if` conditions to all kernels,  that would be

[2019-06-13 16:37] lucbv commented on #249
@sayerhs @alanw0 pretty much all the `AssembleXYZ` classes would need to have an `if` or an overload for the segregated case.

[2019-06-13 16:44] alanw0 commented on #249
@sayerhs @lucbv Do we want the segregated case to be an option, or do we want it to be the only way going forward? What are the pros and cons?

[2019-06-13 16:52] sayerhs commented on #249
@alanw0 On the Hypre side, segregated/monolithic is an option that user can select at runtime. For preserving backwards compatibility, I would like to keep this as an option. Also for small problems, we might not see much runtime benefit of doing segregated and might as well get the extra accuracy of the monolithic solves. For really large problems, segregated offers good speed-up in init phase. I

[2019-06-13 17:15] alanw0 commented on #249
@lucbv @sayerhs Shreyas and I spoke on the phone about this. I understand a little better now. We don't want to make the segregated approach turned on all the time, due to accuracy issues, it should just be an option for when a user wants to make the trade-off for improved speed. Putting conditional logic throughout the kernels also sounds bad. So adding a segregated linear system is probably the

[2019-06-13 19:53] lucbv commented on #252
@sayerhs could we try not to use the `develop` branch of Trilinos in favour of the `master` branch?
There is currently an automatic `develop` -> `master` promotion every night which should be frequent enough for nalu-wind and if something is not promoted is usually mean that `develop` is broken in a way which you do not really want to rely on...

[2019-06-13 20:08] sayerhs commented on #252
@lucbv Our [nightly tests](https://my.cdash.org/index.php?project=Nalu-Wind) do track builds against Trilinos master. The main reason for developers to track `trilinos/develop` is to anticipate anything that would break/deprecate nalu-wind and fix it right away. Building against `develop` also has helped us to identify issues that are not tracked in trilinos test suite (particularly post-install i

[2019-06-13 20:18] lucbv commented on #252
@sayerhs I see that sound like a sound policy, by the way I am running into this error while building locally on my workstation:
[code]
It prevents me from building the unit-tests. I see on the dashboard that trilinos develop seems to resolve this issue?

[2019-06-13 20:23] lucbv commented on #252
OK recompiled with Trilinos/develop VOTD and it compiles the unit-tests now.

[2019-06-14 00:12] jhux2 commented on #252
@sayerhs I was also able to get a build of NaluX.  Turns out I was using Trilinos *master* VOTD.  Switching to Trilinos develop is the key.  Thanks for all your help.

[2019-06-14 00:12] #252 closed

[2019-06-17 16:07] lucbv opened #255 "regression test: tolerance testing"
This issue is meant to continue the discussion started in PR #251

[2019-06-17 16:15] lucbv commented on #255
@sayerhs @alanw0 @rcknaus
One of the things I would like to point is the [this](https://github.com/Exawind/nalu-wind/blob/ba2d9809c1a124c136ecb1232472c4f9547b8f1d/reg_tests/CMakeLists.txt#L33) tolerance criteria.
It pretty much means that all version of the GNU compiler are supposed to lead to the exact same convergence behavior which seems pretty strict to me.
Would it be OK to have other compile

[2019-06-17 17:09] alanw0 commented on #255
@lucbv I think it's reasonable to have slightly looser tolerances for certain platforms or compilers.  The fundamental issue is that we don't want anything to change unless we understand it. i.e., we want to know if/when a code change alters the answers. If we loosen tolerances to get tests to pass, then we're just hiding stuff. As long as we maintain some tight tolerances on the nightly dashboard

[2019-06-17 17:18] lucbv commented on #255
@alanw0 I understand that the dashboard needs to have a tight tolerance for quality assurance but that can be achieved using the configure option `-D TEST_TOLERANCE=1e-N`.
On the other hand the current default for `GCC` is bit to bit equality which is pretty hard to achieve with software version deviation...
Also I have access to `clang` and `intel` compilers which I could use on my workstation to

[2019-06-17 17:23] lucbv commented on #255
@sayerhs reading [pass_fail.sh]() it seems that absolute difference between the gold file and the test file is compared to a fixed tolerance. Should not the check be performed with a relative difference?
For solutions greater than `10` there might not be enough significant digits to reach `1e-15` tolerance?

[2019-06-17 19:26] jrood-nrel opened #256 "Catalyst Tests Failing"
The 3 tests for Catalyst will fail until the Trilinos IOSS Catalyst Adapter is updated for Python 3 since I recently switched to Python 3. I have an issue for it here: https://github.com/trilinos/Trilinos/issues/5386

[2019-06-17 19:28] jrood-nrel opened #257 "UnitTest2 Failures"
It seems like `UnitTest2` fails ever since we randomized the order of the unit tests in Google Test?

[2019-06-17 20:31] alanw0 commented on #257
@jrood-nrel I'll look into this. I saw the failure in one of my test runs, and it may be related to stk-mesh, probably something not being deleted from one test to another.

[2019-06-18 05:25] sayerhs commented on #255
@lucbv Assuming I understood your points correctly, here are my thoughts on some of the points you raised:

- The regression tests are solely for the developers, so my preference is that the developer manually use `-DTEST_TOLERANCE=<desired_value>` during CMake rather than change the defaults to something smaller.
- I do think that the tolerance doesn't have to be as strict as `1e-15`, but I don't

[2019-06-18 13:26] sayerhs commented on #238
@jrood-nrel @alanw0 @overfelt The ABLSrc terms need a little more surgery and can't be converted by just implementing a NodeKernel. I'll have some modifications to the classes in `wind_energy` before we can implement that.

[2019-06-18 15:42] alanw0 commented on #255
@sayerhs I agree it's ok if he uses custom gold files and/or looser tolerances on his own machine, as long as we keep tight tolerances on the nightly dashboard results. He clearly understands that the goal is to figure out whether his commits change behavior before they get to the nightly dashboard. I agree with your concern about production users. We don't want to start letting bad commits in, th

[2019-06-18 16:41] jrood-nrel commented on #255
I've read through all of this, and It seems like the original issue was solved by generating local golds and checking for diffs from the PR itself. Although not ideal, things rarely are, so that seems sufficient to me.

The default test tolerances in CMake are superfluous so feel free to do whatever you want with them. They are merely a guide with how far the tolerances stray for each configuratio

[2019-06-19 15:10] lucbv commented on #255
@jrood-nrel fundamentally my question was: "What do I need to do when I submit a PR"
It eventually moved on to what is a good way to evaluate a PR and what can be expected if we do not all have the same compiler/TPL versions, etc...

[2019-06-19 17:00] lucbv commented on #255
I finally have a "compatible" local installation of nalu-wind+Trilinos, it turns out that using `SuperLU/5.2.1` leads to diffs whereas `SuperLU/4.3` does not...
I should have realized that it was the likely culprit since I need to add `Trilinos_ENABLE_SuperLU5_API:BOOL=ON` in my configuration and @sayerhs does not...
In any case I have a way of getting clean build and tests on my workstation!

[2019-06-20 16:51] jrood-nrel commented on #257
Solved with #263 thanks to @alanw0

[2019-06-20 16:51] #257 closed

[2019-06-28 13:25] sayerhs opened #270 "#269 introduces overloaded-virtual warning"
The changes to `KsgsKernelHex8Mesh` introduces the following warning on Clang

[code]

[2019-06-28 13:59] sayerhs commented on #270
Fixed in 7f736c7

[2019-06-28 13:59] #270 closed

[2019-06-28 22:36] lucbv opened #273 "nightly build configuration error"
@sayerhs @jrood-nrel
I am looking at the dashboard and I see that all the builds on `rhodes.hpc.nrel.gov` and `mac.hpc.nrel.gov`.
Looking at the command line reported I see the following: `-DTrilinos_DIR:PATH= ` which is likely the source of the error.

[2019-07-01 03:10] jrood-nrel commented on #273
If you look at the notes for the build, it appears Trilinos is failing to build due to this error:
[code]

[2019-07-01 13:54] lucbv commented on #273
@jrood-nrel, sorry, I can only see the dashboard [here](https://my.cdash.org/index.php?project=Nalu-Wind) and this is what is displayed on it:
[code]

Is there another place where the build/configure errors can be looked at?

[2019-07-01 14:19] alanw0 commented on #273
@jrood-nrel The error about stk_ngp_test/ngp_test.hpp can possibly be due to the trilinos cmake command missing the option '-DTrilinos_ENABLE_STK_NGP_TEST:BOOL=ON'. Or better, would be to use this: '-DTrilinos_ENABLE_STK:BOOL=ON'.

[2019-07-01 14:23] alanw0 commented on #273
Do the dashboard builds use exawind-builder these days? If not, it may be a spack configuration that needs to be updated somewhere.

[2019-07-01 14:25] sayerhs commented on #273
@alanw0 Jon's build system doesn't use `exawind-builder`, the trilinos build is entirely done within spack

[2019-07-02 15:05] jrood-nrel commented on #273
Ok I will fix this. I put together a PR in Spack to use `-DTrilinos_ENABLE_STK:BOOL=ON` but I haven't submitted it yet because I also wanted to check whether or not I can also use `-DTrilinos_ENABLE_SEACAS:BOOL=ON` rather than all the specific Seacas options I have been setting in the past.

[2019-07-02 16:07] jrood-nrel commented on #273
I made the pull request to Spack https://github.com/spack/spack/pull/11917 . I will change this locally for testing in the meantime though.

[2019-07-02 20:44] jrood-nrel commented on #273
@lucbv You can read the notes attached to each build line that will show the output from the entire testing process and you can see how Trilinos fails building. The icon looks like a document.

I am going to close this as I switched to using `-DTrilinos_ENABLE_STK:BOOL=ON` and that seems to have solved it.

[2019-07-02 20:44] #273 closed

[2019-07-02 20:46] jrood-nrel commented on #256
An update on this. It looks like they have replied to my issue and have agreed to get the IOSS adapter to work with Python 3.

[2019-07-03 22:49] sayerhs commented on #249
Done in #265

[2019-07-03 22:49] #249 closed

[2019-07-03 22:51] sayerhs commented on #255
Added options to allow users to specify a custom gold norm dir during CMake configure, and output both absolute and relative tolerance for failing tests. Future discussion regarding CI can be a new issue.

[2019-07-03 22:51] #255 closed

[2019-07-04 18:54] sayerhs commented on #238
Status update [July 4, 2019]

Almost all nodal and edge assembly algorithms necessary to perform an ABL precursor simulations have been converted to NGP (once #278 and #279 gets merged). The first round of integration of these algorithms with EquationSystems is pending in #277. Second round of integration after pending pull requests are merged.

[2019-07-07 12:57] sayerhs opened #286 "FaceElemSolver run_algorithm behavior"
I am curious about the logic for creation of `ScratchMeInfo` in`AssembleFaceElemSolverAlgorithm::run_algorithm` on GPUs here

https://github.com/Exawind/nalu-wind/blob/da5aa392e078e0705de5cede227b96fdd537b064/include/AssembleFaceElemSolverAlgorithm.h#L48-L59

This snippet of code is being executed in host space and the `MasterElement*` pointers are created on device for _converted_ BC kernels, for

[2019-07-07 20:45] alanw0 commented on #286
I agree it looks like meFC should be a device pointer, so line 56 should seg-fault when attempting to call the 'num_integration_points()' method on host. I'll try to dig into it and see what's actually happening.

[2019-07-08 22:39] overfelt commented on #286
In my GPU build the code runs because the Kokkos::DefaultExecutionSpace::memory_space comes up Kokkos::CudaUVMSpace so the GPU allocation of the master elements works fine on the CPU.  Where is this set?  I thought something was set to avoid UVM allocations.

[2019-07-08 22:43] alanw0 commented on #286
That makes sense. I just added some print statements and saw that the pointer value of the master-element created by create_device_expression was the same pointer that was later used in AssembleFaceElemSolverAlgorithm. A 'MemSpace' value is set in KokkosInterface.h. I don't know about DefaultExecutionSpace::memory_space… That maybe influenced by a cmake configuration parameter for the trilinos bui

[2019-07-08 22:47] sayerhs commented on #286
Argh! I should've guessed about the UVM. It is basically required by trilinos Tpetra. So there's no way to disable that I think, unless we can ask Mark if things have changed.

[2019-07-08 22:49] alanw0 commented on #286
I'll ask Mark about that. He recently told me that tpetra still needs UVM, but I don't know if Kokkos::DefaultExecutionSpace::memory_space has to be UVM because of that.

[2019-07-08 22:53] overfelt commented on #286
So if tpetra depends on Kokkos::DefaultExecutionSpace::memory_space being Kokkos::CudaUVMSpace then we would need to define Nalu::DefaultExecutionSpace that would be Kokkos::CudaSpace on the GPU?

[2019-07-08 22:57] sayerhs commented on #286
@alanw0 see here https://github.com/kokkos/kokkos/blob/2983b80d9aeafabb81f2c8c1c5a49b40cc0856cb/core/src/Kokkos_Cuda.hpp#L114

[2019-07-08 23:04] alanw0 commented on #286
I just talked to Mark. He said if we change Kokkos::DefaultExecutionSpace::memory_space we will probably experience pain. But our create_device_expression function is calling kokkos_malloc_on_device which is defined in our KokkosInterface.h header, and it calls Kokkos::kokkos_malloc which takes a template parameter that is defaulting right now. If we pass CudaSpace to that, things should work well

[2019-07-08 23:22] sayerhs commented on #286
@alanw0 that sounds like the right thing to do. I have a feeling a lot more segfaults are going to show up once we do that 😉

[2019-07-09 14:41] overfelt commented on #286
Yep, kills the NGPKernelTest unit test right off the bat.   I'll look into it....

[2019-07-09 14:51] alanw0 commented on #286
Yes clearly assembleFaceElemSolverAlgorithm will need some work if we make this change, because line 56 will be segfaulting like Shreyas thought it should be.

[2019-07-10 13:19] sayerhs opened #289 "KokkosInterface `set_zero` function"
@alanw0 I noticed that the `set_zero` function in `KokkosInterface.h` is outside the `nalu` namespace and in `sierra` namespace. Wanted to check if this wasn't just a typo but intentional before I changed it.

https://github.com/Exawind/nalu-wind/blob/718131130dc75e4da66fd64999b2ad3c07586237/include/KokkosInterface.h#L136-L151

[2019-07-10 14:20] alanw0 commented on #289
@sayerhs No reason for it to be outside the nalu namespace, that was a mistake.

[2019-07-10 16:30] overfelt commented on #286
The problem seems to be ElemDataRequests and ElemDataRequestsGPU.  ElemDataRequests wants host side element pointers to get information on integration points and such.  ElemDataRequestsGPU is created from ElemDataRequests and copies those pointers but ElemDataRequestsGPU wants to use them on the GPU.

I don't see enough information contained in the MasterElement base class or the virtual functions

[2019-07-10 16:38] sayerhs commented on #286
@overfelt You have understood the purposes of `ElemDataRequests` and `ElemDataRequestsGPU` correctly, the latter is supposed to be a _deviceable_ version of the former. Ideally we _register_ the information into `ElemDataRequests` so that we don't have to peek into the `meSCS` instances to get the necessary information.

This seems to be only necessary for `AssembleFaceElem` where I don't see the

[2019-07-10 17:29] alanw0 commented on #286
@sayerhs @overfelt I don't specifically remember the use-case, but I'll look into whether we can get rid of ScratchMeInfo.

[2019-07-10 17:44] alanw0 commented on #286
here's what's going on: before we launch the parallel_for, we pass scratchMeInfo to calculate_shared_mem_bytes_per_thread(..). That function needs several sizes, such as nodes-per-element, nodes-per-face, and num-integration-points for whichever master-elements are being used. We have nodes-per-element and nodes-per-face already, on the host. So we just need a way to get num-integration-points fro

[2019-07-10 17:48] sayerhs commented on #286
@alanw0 It would be good to get rid of the `ScratchMeInfo` object if possible. Will something [like this](https://github.com/Exawind/nalu-wind/pull/287/files#diff-b322bf8d90f3c2a2474980ac868f3920R79) in the loop abstractions pull request (#287) be sufficient?

[2019-07-10 17:50] sayerhs commented on #286
I'll add the `num_integration_points()` utility function like the `nodes_per_element()`

[2019-07-10 18:48] alanw0 commented on #286
@sayerhs Do you already have something equivalent to the 'get_num_scalars_pre_req_data' function at line 332 of ScratchViews.C? That's where it figures out the sizes for the master-element-views such as gradop, etc.

[2019-07-10 18:51] sayerhs commented on #286
I am using functions defined in `ScratchViews.C` -- [see here](https://github.com/Exawind/nalu-wind/pull/287/files#diff-b322bf8d90f3c2a2474980ac868f3920R55)

[2019-07-10 18:56] alanw0 commented on #286
@sayerhs I don't see where it calculates the sizes for master-element views such as gradop or areav etc.

[2019-07-10 19:00] sayerhs commented on #286
@alanw0 I am using this function defined in `ScratchViews.C` that calls `get_num_scalars_pre_req_data` internally

https://github.com/Exawind/nalu-wind/blob/718131130dc75e4da66fd64999b2ad3c07586237/include/ScratchViews.h#L919-L922

[code]

[2019-07-10 19:05] alanw0 commented on #286
@sayerhs Ah ha, ok. I hadn't noticed (or had forgotten about) that overload of get_num_scalars_pre_req_data that doesn't take a ScratchMeInfo. That's essentially a duplicated function, it looks like we could delete the one that takes ScratchMeInfo, and then get rid of ScratchMeInfo.

[2019-07-12 21:55] sayerhs opened #291 "Fix Rodi source term for Ksgs equation system"
Port NaluCFD/Nalu#428 to Nalu-wind

[2019-07-12 22:42] sayerhs commented on #291
Fixed with #292

[2019-07-12 22:42] #291 closed

[2019-07-14 17:51] sayerhs commented on #286
@alanw0 Looking further into the code, it appears to me that `ScratchMeInfo` exists solely to pass `numFaceIp` to the code that processes `elemDataNeeded` (where the user might have requested `SCS_FACE_GRAD_OP`, so instead of `meInfo` we can just pass this extra parameter to the functions?

Also there is a bug in the current implementation of how we compute the scratch memory size for `elemDataNee

[2019-07-15 14:29] alanw0 commented on #286
@sayerhs I'm glad you're unraveling this stuff, I think your changes are a great improvement.

[2019-07-15 16:21] sayerhs commented on #286
Fixed with #293 and #294

[2019-07-15 16:21] #286 closed

[2019-07-16 19:45] alanw0 opened #295 "Unit-tests on GPU: remove #ifndef KOKKOS_ENABLE_CUDA"
Remove `#ifndef KOKKOS_ENABLE_CUDA` so that gold-values are being checked on device also.

# Node kernels

- [x] `kernels/UnitTestWallDistElem`
- [x] `node_kernels/UnitTestContinuityGclNodeKernel`
- [x] `node_kernels/UnitTestContinuityMassBDFNodeKernel`
- [x] `node_kernels/UnitTestEnthalpyABLForceNode`
- [x] `node_kernels/UnitTestKsgsNodeKernel`
- [x] `node_kernels/UnitTestMomentumABLForceNode`
-

[2019-07-16 20:56] alanw0 commented on #186
The scratchViews change that triggers this error is checked into branch issue_186 of my fork: https://github.com/alanw0/nalu-wind/tree/issue_186

[2019-07-16 21:23] alanw0 opened #296 "Tasks towards ABL precursor demonstration on GPU"
1. loadComplete : unit-test to try it on device
2. field updates such as mdot, nodal gradient fields
3. start ScalarOpenEdge kernel conversion

[2019-07-21 19:35] sayerhs commented on #289
Fixed in #298

[2019-07-21 19:35] #289 closed

[2019-07-21 22:43] sayerhs opened #301 "NGP transition of TpetraLinearSystem"
`TpetraLinearSystem::sumInto` has been transitioned to NGP in #234. The following might need to be transitioned before a linear system solve can be performed on a GPU and the field updates are handled properly. Since Tpetra uses UVM space, the update of `deltaSolution` and the remaining fields will happen in the STK mesh space without modifications. However, the solution will need to be pushed dow

[2019-07-21 22:44] sayerhs commented on #296
Outstanding `LinearSystem` issues listed in #301

[2019-07-22 15:36] overfelt commented on #186
So for the issue: Segfaults on GPU with particular MasterElement methods #186.

This seems to be a problem with deleting Views on the GPU.   During destruction of a View, there is an info structure filled with a call to the cuda library.  On host it returns lots of information but on the GPU it is all zeros.  This is what leads to the divide by zero when trying to delete the view.  Is it possible

[2019-07-22 18:50] sayerhs commented on #186
@overfelt Can you explain why you think we need to fiddle with `FieldInfoNGP`? the `MasterElement` data never gets stored in `FieldInfoNGP`. Or were you talking about `MultiDimViews`?

[2019-07-29 22:09] jrood-nrel opened #304 "heliumPlume test timing out"
Anybody else seeing this? It looks like it might be a Trilinos issue to me because I reverted to commit `c6a93edb330bffc36d079c935685f1d7a4159893` which previously ran this test fine and it hangs at:
[code]

[2019-08-08 19:56] rcknaus opened #311 "Read the Docs build failing"
The read-the-docs documentation build updates have been failing for a while https://readthedocs.org/projects/nalu-wind/builds/

[2019-08-08 20:00] jrood-nrel commented on #311
Oh, thanks for reporting it. I will look into it.

[2019-08-08 20:02] jrood-nrel commented on #311
Looks like I need to switch it to Python 3:
[code]

[2019-08-09 15:26] jrood-nrel commented on #304
This was fixed by Seacas IOSS in Trilinos.

[2019-08-09 15:26] #304 closed

[2019-08-09 17:04] jrood-nrel commented on #311
These are building again after #313

[2019-08-09 17:04] #311 closed

[2019-08-12 16:41] sayerhs opened #314 "`NALU_ALIGNED` warnings on ORNL Summit"
Nalu currently uses Kokkos variable `KOKKOS_MEMORY_ALIGNMENT` to set the value for `NALU_ALIGNED`.

https://github.com/Exawind/nalu-wind/blob/47d8d5aa255b74479ee98a8d49d7141fc2d22ff4/include/KokkosInterface.h#L12-L16

However, this generates a warning when compiling on ORNL Summit system (GCC + NVCC).

[code]

[2019-08-13 18:48] #314 closed

[2019-09-05 17:08] sayerhs opened #336 "NGP conversion of field update algorithms"
This issue tracks the non-solver field updates that needs to be converted to run on device for wind-energy relevant simulations.

For a template of edge loop conversion, see conversion of `AssembleNodalGradEdgeAlgorithm` in

https://github.com/Exawind/nalu-wind/blob/d2d9b58929b9b201b04089dc5a296e8ccb3950ec/include/ngp_algorithms/NodalGradEdgeAlg.h#L20

Similarly the `NodalGradElemAlg` and `NodalGr

[2019-09-05 21:37] jhux2 opened #339 "Compile error in UnitTestNodalGradAlg.C"
My build of Nalu master 013b7061b8 with gcc 7.2.0 is failing with this error:
[code]

[2019-09-05 22:50] sayerhs commented on #339
Looks like it needs an explicit move. I don't have GCC-7.2.0 to test right away, can you apply this patch and see if this works? if so, I'll update the `master` branch

[code]

[2019-09-06 14:15] sayerhs commented on #339
@jrood-nrel I am looking at the [CDash build error](https://my.cdash.org/viewBuildError.php?buildid=1698813) and I am unable to reproduce this on Rhodes. Do you see anything different in how I am compiling vs. what the test setup is doing?

[code]

@alanw0 can you try the patch above on one of the SNL machines with GCC-7.2.0? CDash tells me that 7.4.0 doesn't have errors compiling that file.

[2019-09-06 14:22] sayerhs commented on #339
[code]

[2019-09-06 15:03] jrood-nrel commented on #339
I'm guessing your Intel 2018 is picking up a GCC frontend > 4 which is likely what the tests are using. I would be pretty surprised that GCC 7.2 fails with this error while 7.4 succeeds but it looks like everything is referencing 7.2 on that SNL machine. This looks like a GCC 4 error to me. A similar error recently happened in AMReX regarding deleted functions that was a GCC 4 and Intel 2018 issue

[2019-09-06 15:04] jrood-nrel commented on #339
Yeah, you can see that `/usr/include/c++/4.8.5/bits/stl_tree.h` is being used for my Intel 2018 build.

[2019-09-06 15:08] sayerhs commented on #339
Thanks @jrood-nrel, either way we will need to fix this for GCC 4.8.x. So let me try that on Rhodes.

[2019-09-06 16:29] jhux2 commented on #339
@sayerhs  Sorry for the late reply.  I tried your [patch](https://github.com/Exawind/nalu-wind/issues/339#issuecomment-528622096).  I'm still getting a compiler error.

<details>
<summary> error</summary>

[code]

</details>

[2019-09-06 23:12] sayerhs commented on #339
@jhux2 thanks for the update.

@jrood-nrel can you point me to the stack built on gcc-4.9.4? So that I can try to reproduce the error on Rhodes?

[2019-09-08 16:33] sayerhs commented on #339
@jhux2 @alanw0 Can one of you try this patch on the systems where this error can be reproduced?

[code]

[2019-09-08 16:38] sayerhs opened #343 "Add unit test for #334"
#334 introduces new methods to `Edge2DSCS` and `Edge32DSCS` that don't have unit test coverage. Add the necessary unit tests.

[2019-09-08 16:40] sayerhs commented on #185
Closing this issue as it is of lower priority at the moment. Will revisit later if necessary

[2019-09-08 16:40] #185 closed

[2019-09-08 16:42] sayerhs commented on #296
Field updates tracked in #336. Closing this issue in favor of the dedicated issues.

[2019-09-08 16:42] #296 closed

[2019-09-08 16:54] sayerhs opened #344 "Pull-request 321 breaks minimum wall distance for periodic BC with SST EqSys"
#321 introduced `periodic_field_update()` in `clip_min_distance_to_wall()`

https://github.com/Exawind/nalu-wind/blob/55b3c924290e1e0ba25124eb4e4d3d603cce6f94/src/ShearStressTransportEquationSystem.C#L486-L489

This ends up adding the wall distance calculated at the true DOF and the image DOF, instead of just setting the value at the image DOF to the value computed at true DOF.

https://github.com

[2019-09-09 14:30] sayerhs commented on #339
The `diff` posted above has fixed compilation errors on CDash for GCC 4.9.4 and Intel compilers. Closing this now, please reopen if the issue isn't fixed on SNL machines.

[2019-09-09 14:30] #339 closed

[2019-09-09 14:49] sayerhs commented on #343
Also according to [CDash](https://my.cdash.org/viewBuildError.php?type=1&buildid=1700065) seems like there are some out of bounds access?

[2019-09-09 16:03] overfelt commented on #343
Yes, a fortran->C error. I'll fix it.

[2019-09-10 03:51] #344 closed

[2019-09-11 22:11] marchdf opened #356 "Problem with 2fc5bb4 ?"
I am getting compile errors like using latest master:
[code]

Is this related to 2fc5bb4? Am I the only one seeing this? Can @alanw0 or @jhux2 revert the commit if it's appropriate? Or am I the only seeing this?

[2019-09-11 23:17] jhux2 commented on #356
@marchdf What architecture/compiler are you using?   Meanwhile, I will see if I can reproduce on a local machine.

[2019-09-11 23:17] jhux2 commented on #356
@drbooom

[2019-09-11 23:19] jhux2 commented on #356
Ok, I can reproduce.

[2019-09-11 23:32] marchdf commented on #356
I was doing this on Eagle, pointing to Shreyas' Trilinos builds.

[2019-09-12 00:28] jhux2 commented on #356
@marchdf I think this should fix it:
[code]

[2019-09-12 00:32] jhux2 commented on #356
I will rerun the unit tests;  if they pass, I'll submit a PR to address this. Sorry about the trouble.

[2019-09-12 04:38] jhux2 commented on #356
Even building Nalu-Wind against c060545 (SHA prior to the merge of PR #338), there are test failures:

[code]

[2019-09-13 13:07] sayerhs opened #360 "CUDA warnings – `long double` is treated as `double`"
We recently get these warnings when building Nalu-Wind with CUDA

[code]

These are appearing due to changes introduced in #315

https://github.com/Exawind/nalu-wind/blob/626b95fc5c3c61ed8f3c7c32c0da5f8e772d350a/include/KokkosInterface.h#L17-L21

on lines such as these

https://github.com/Exawind/nalu-wind/blob/626b95fc5c3c61ed8f3c7c32c0da5f8e772d350a/src/kernel/ContinuityAdvElemKernel.C#L91-L94

[2019-09-13 14:44] alanw0 commented on #360
These alignment issues have been a problem off and on for a long time. alignas(double) sounds good to me for cuda...

[2019-09-13 15:57] #295 closed

[2019-09-14 23:30] sayerhs commented on #360
Fixed in #364

[2019-09-14 23:30] #360 closed

[2019-09-15 22:38] jamelvin opened #369 "Crashing with `Error occured at: ../src/TpetraLinearSystemHelpers.C:124`"
When I run a simple channel flow case  in parallel, I get the following error in the current master:
[code]

I do not encounter this error with older versions of master, such as, https://github.com/Exawind/nalu-wind/commit/0e87d37630507f4ea8ce5e1f0078b6af5d4323c3

The relevant files are located in my channelflow repo, with the input file located: https://github.com/jamelvin/channelFlow/blob/master

[2019-09-15 23:13] jamelvin commented on #369
@sayerhs @alanw0 I believe this issue occurs starting with #7004321cda46cafb23376e3e7a1ff15cb2e42ce3

[2019-09-16 00:06] alanw0 commented on #369
ok, I'll take a look right away, and either revert or fix no later than tomorrow.

[2019-09-16 00:14] alanw0 commented on #369
when I clone your channelFlow repo, I don't get any mesh files under the mesh subdir (needed to run sst_1000/channelflow.yaml). Where do I get those?

[2019-09-16 00:19] jamelvin commented on #369
Sorry about that.  The mesh included as part of this commit should be the same one.

https://github.com/Exawind/meshes/commit/63359b287db683488e5c8eedc4ec2dee0381a79d

On Sun, Sep 15, 2019, 7:15 PM Alan Williams <notifications@github.com<mailto:notifications@github.com>> wrote:

when I clone your channelFlow repo, I don't get any mesh files under the mesh subdir (needed to run sst_1000/channelflow

[2019-09-16 14:44] alanw0 commented on #369
Ok I grabbed periodicChannel.g and renamed it so it will work with your channelFlow.yaml input. But I can't find any commit so far that allows it to run. I've gone back a couple months now. I'm just running it with gcc 7.2.0 and using 16 procs, but I always get a message about 'Belos::StatusTestImpResNorm::checkStatus(): One or more of the current implicit residual norms is NaN'.
This isn't the sa

[2019-09-16 15:33] jamelvin commented on #369
Hey @alanw0, the relaxation settings were incorrect in the pushed file, sorry about these inconveniences.  I pushed an update to the channelFlow repo which should allow it to run properly when it gets past the error message in the older versions of master.

I can still reproduce the error using the current master in parallel with the periodicChannel.g mesh.  The error happens immediately, so it do

[2019-09-16 15:47] alanw0 commented on #369
ok thanks @jamelvin I'll re-pull channelFlow and try again.

[2019-09-16 19:38] sayerhs opened #370 "Nalu-Wind GPU demonstration"
I am creating this issue to track the issues and related progress on running a Nalu-Wind simulation GPUs. Thanks to the work performed in #202, #238, #301, and #336 I was able to run a simple case both on host and device. However, I am not sure that I have the linear solver settings correct. Here is the output I am seeing.

**Linear solver output on host**
[code]

**Linear solver output on GPU**
[

[2019-09-16 23:09] jhux2 commented on #370
@sayerhs The continuity solve is using Chebyshev smoothing, which should be the same on CPU and GPU.  (It's kernel is a sparse matvec.)  Is this on a single GPU?

[2019-09-16 23:13] sayerhs commented on #370
@jhux2 yes. This is a single MPI rank/ single GPU run.

Since I posted the original message, I notice that if I keep submitting the run again and again there are times where the GPU run will converge in the same number of iterations as the CPU run, but most of the time it will hit the max 50 iterations.

[2019-09-17 17:49] jhux2 commented on #370
That is interesting -- the matvec is deterministic, so there must be something else that is not.  If you turn on Belos and MueLu verbosity, are the linear iterations the same between CPU and GPU?  What simulation are you using?  @srajama1 @lucbv

[2019-09-17 17:58] lucbv commented on #370
@sayerhs what version of Trilinos did you use for this run?
As @jhux2 mentioned, it would be good to get the output from MueLu, it is possible that new aggregation algorithms are being used in your simulation and these are non-deterministic.
If you have configured MueLu with the flags for kokkos refactor, these new algorithms will be used by default even if your xml file is unchanged...

[2019-09-17 22:23] sayerhs commented on #370
@jhux2 @lucbv thanks for your comments. I am using the following commit of Trilinos for the GPU and CPU builds. I'll turn up verbosity and post the data here.

[code]

[2019-09-17 22:24] sayerhs commented on #370
I do have the Kokkos refactor flags turned on: https://github.com/sayerhs/exawind-builder/blob/c5de8b507070cead69c3070285fd1620aae2b5ff/codes/trilinos.bash#L99-L100

[2019-09-18 15:52] jrood-nrel opened #373 "elemHybridFluids segfault"
Using valgrind, it seems possible to reproduce the segfault sometimes seen on the dashboard for `elemHybridFluids` test. It appears this might be an STK issue. I am also using GCC 4.9.4 here, but it looks like the dashboard has shown this segfault in GCC 7.4.0 as well.

[code]

[2019-09-18 15:53] lucbv commented on #370
@sayerhs one thing that can be done initially to avoid having some recent changes in MueLu affect your runs is to use the following in your xml file:
[code]
this will ask MueLu to run without the refactored kokkos path thus providing a deterministic behavior.

[2019-09-18 16:15] alanw0 commented on #373
Hmm. My first question is, why is Realm calling 'sort_entities'... But in any case it should work without seg-faulting.

[2019-09-18 16:59] sayerhs commented on #370
Thanks @lucbv. I'll try that too.

[2019-09-18 21:37] sayerhs commented on #370
@jhux2 @lucbv @alanw0 so it seems that muelu was working fine. There was a field sync issue on Nalu-Wind side, and somehow my solutions are not the same with `mt_sgs`, I haven't had a chance to verify the latter yet, but it is very likely that I am doing something silly that I need to fix.

I was able to successfully run the ABL neutral edge simulation for multiple timesteps on the GPU and I am ge

[2019-09-18 21:54] lucbv commented on #370
@sayerhs the file `abl_neutral_CPU_NP16.txt` seems to be the serial run while `abl_neutral_CPU_NP1.txt` seems to be running with 16 processors.

[2019-09-18 22:22] sayerhs commented on #370
@lucbv argh. Sorry. But the information in the log files should be correct. I'll update the links.

[2019-09-18 22:30] sayerhs commented on #369
Fixed in #371

[2019-09-18 22:30] #369 closed

[2019-09-19 01:22] alanw0 commented on #370
Those times seem a little strange. The CPU16 run seems more than 16 times faster than the CPU1 run. (185.32 / 6.95 = 26.7) Perhaps there is significant noise in the timings?

[2019-09-19 01:44] jhux2 commented on #370
@sayerhs Thanks for the logs.  In the future, can you enable the Trilinos Teuchos timers via the Nalu-Wind input deck?  Having those will potentially help in drilling down on bottlenecks.

[2019-09-19 15:47] sayerhs commented on #370
@alanw0 You bring up a good point... I ran this case multiple times and I see that NP=1 and 2 have higher times than 4 and above... see below:

**NP = 16**
[code]

**NP = 8**
[code]

**NP = 4**
[code]

**NP = 2**
[code]

**NP = 1**
[code]

[2019-09-19 16:25] sayerhs commented on #370
@jhux2 do you mean `summarize_muelu_timer` in the linear solver section? That won't be very useful, as it is called in https://github.com/Exawind/nalu-wind/blob/672277aa9aeb4e3253951d121c8de72a935994ac/src/LinearSolver.C#L126 which will be only called once for this problem.

[2019-09-19 16:40] lucbv commented on #370
@alanw0 there is a possibility that at certain sizes the problem starts fitting in faster memory which can increase the speedup beyond the expected linear scaling.

[2019-09-19 16:58] sayerhs commented on #370
@jhux2 Here are the log files with muelu verbosity set to `high` and `Teuchos::TimeMonitor::summarize` called at the end of Nalu-Wind `main` function. I am using the standard [milestone.xml](https://github.com/Exawind/nalu-wind/blob/master/reg_tests/xml/milestone.xml), let me know if there are any other settings I should be trying out.

[log.gpu_baseline_verbose.txt](https://github.com/Exawind/nal

[2019-09-19 18:31] sayerhs commented on #370
@jhux2 @lucbv I attempted to run this with multiple MPI ranks and I get a segfault at this line:

https://github.com/Exawind/nalu-wind/blob/3bb5be8a0325ca33d5265062257f535798a49425/src/LinearSolver.C#L138

[code]

[2019-09-19 19:19] alanw0 commented on #370
I'm going to do a little profiling of the cpu runs. Those times seem to indicate that we have something n-squared in local problem-size...

[2019-09-19 20:33] jhux2 commented on #370
Thanks, these have the timers I was interested in.  Here are the relevant ones:

log.gpu_baseline_verbose.txt
[code]

log.gpu_mt_sgs_verbose.txt
[code]

Some observations:

- MTSGS is about 10x faster than SGS
- Chebyshev should be preferred if it can be used
- Inner products and orthogonalization are about half of the Belos total solve time

[2019-09-19 22:39] alanw0 commented on #373
Now that I looked in Realm, I remember why it's calling sort_entities.
Anyway, this is a tough problem because it only seg-faults sometimes. I saw the seg-fault in a release build where I was running all of the tests, but when I build debug and run only elemHybridFluids, it passed. Maybe if I run it again and again it will fail once in a while? In any case, that makes debugging really hard! I'll k

[2019-09-20 01:29] jrood-nrel commented on #373
Have you ran it with valgrind? That's the only way I can see the segfault when I try to reproduce it manually.

[2019-09-20 02:32] jrood-nrel commented on #373
i'm feeling like this uninitialized value warning might be part of this since it's close to the segfault code. Even with `--track-origins=yes` I'm having trouble following what is uninitialized, but here is what I'm seeing:
[code]

[2019-09-20 20:42] srajama1 commented on #370
@jhux2 : Yay (on the MTGS apply) ! The cluster GS we are working on should be even better. Expect that to come in Kokkos 3.0.

I believe MTGS setup is slower, if we can avoid calling that multiple times on fixed graphs we can improve the total times.

The s-step might help with the orthogonalization times.

[2019-09-20 20:49] srajama1 commented on #370
@jhux2 : What is the Chebyshev comment based on ? Is there a log file that uses Chebyshev ?

[2019-09-20 21:05] jhux2 commented on #370
@srajama1 I was looking at the Chebyshev timers in the summary above, where the number of applies is higher but the apply time is lower.  However, Chebyshev is used in the pressure solve -- if @sayerhs was running monolithic momentum, then this isn't really a fair comparison.

[2019-09-20 22:24] srajama1 commented on #370
@jhux2 Got it ! In general, I agree with the comment that if Chebyshev works then the cost of each apply will be the fastest. @sayerhs is this is monolithic ?

[2019-09-20 22:32] sayerhs commented on #370
@srajama1 yes this is the monolithic solve that I had set-up a while ago. I haven't switched to segregated yet, still trying to debug the crash I see on 2 mpi ranks when calling muelu setup.

[2019-09-20 22:52] jhux2 commented on #370
@sayerhs wrote:

Let us know if you need help with this.

[2019-09-24 16:08] sayerhs commented on #370
@srajama1 Yes to all your questions: UVM is on, CUDA launch blocking is set, using CUDA-aware OpenMPI for this run. This is the only error output I get: https://github.com/Exawind/nalu-wind/issues/370#issuecomment-533254720 I haven't been able to tell if I am passing any host pointer that is being accessed on device.

[2019-09-24 16:37] srajama1 commented on #370
My first guess is same as yours, that some host pointers are getting passed around. @jhux2 : Can we set env variables for debug outputs ?

[2019-09-24 20:05] jhux2 commented on #370
@sayerhs Do you have verbosity set to `high` in MueLu's xml deck?   How much of the MueLu set output do you see?

[2019-09-24 20:42] sayerhs commented on #370
@jhux2 Here is the output from verbosity set to high in MueLu's xml deck.

[log.gpu_np2.txt](https://github.com/Exawind/nalu-wind/files/3649382/log.gpu_np2.txt)

[2019-09-24 21:08] sayerhs commented on #370
@alanw0 After fixing the performance issues of NGP field updates on CPU, here are the revised timings for the ABL neutral run (10 timesteps, with 4 Picard iterations per timestep). @jrood-nrel I think at this point this is ready for profiling if you want to start on that.

|Run | Time (s) |
| --- | --- |
| cpu_np1  |157.2946 |
| cpu_np2  | 88.3923 |
| cpu_np4  | 46.7837 |
| cpu_np8  | 25.0686 |
|

[2019-09-24 21:27] alanw0 commented on #370
@sayerhs excellent, those timings look good. It will be fun to see the results of the profiling, and start improving further.

[2019-09-25 13:08] sayerhs opened #382 "nvlink warnings from #379"
@overfelt Since the merge of #379 I am getting tons of nvlink warnings like the following, it is doing this for practically every NGP function that uses scratch views. I suspect this is because of the removal of `ifdef`s?

[code]

[2019-09-25 13:37] overfelt commented on #382
Yes, this is unfortunate.  I talked to Dan Sunderland who works on Kokkos and he even brought this up with Nvidia but got no response.  Seems to be a relic of the time before relocatable device code, if everything is inlined it would be odd not to know the needed stack size.  Any virtual function call (i.e. master element call) will produce a warning like this since the stack size is undetermined.

[2019-09-25 14:17] sayerhs commented on #382
@overfelt What's weird is that if I remove your commit, I get a clean build without any warnings. So there is something about those specific methods that are causing stack size warnings.

[2019-09-26 21:36] srajama1 commented on #370
@sayerhs : What are the CPUs here ?

[2019-09-26 22:01] sayerhs commented on #370
@srajama1 They are Intel Skylake processors (https://www.nrel.gov/hpc/eagle-system-configuration.html)

[2019-09-26 22:41] srajama1 commented on #370
If it is skylake, then pretty good numbers :)

[2019-09-26 23:05] sayerhs commented on #370
@srajama1 thanks for confirming! By the way, any pointers on the MueLu error on multiple mpi ranks  with 1 GPU per rank? I posted the log file with the verbose MueLu logging a few posts above. Let me know if u should try something else. All the changes necessary to run the case has been now merged with master. So let me know if you want to try running this yourself.

[2019-09-26 23:17] alanw0 commented on #370
@sayerhs just curious, did you build the code that uses 'ngp::Field::swap' on a cpu build? There may be a problem there, because ngp::stkFieldAdapter doesn't have the swap method. This is fixed by the stk pull-request I currently have in the trilinos system, hopefully it will get through tonight or in the morning.

[2019-09-26 23:20] sayerhs commented on #370
Yes. I hacked the NgpField.hpp file to add that to the StkFieldAdapter.

On Thu, Sep 26, 2019 at 5:17 PM Alan Williams <notifications@github.com>
wrote:

[2019-09-27 13:02] srajama1 commented on #370
This looks like the spgemm kernel or the transpose kernel was the last call, @jhux2 can you please confirm ? I don't know if there is a way to say we have returned from those calls.

We have fixed several problems related to Volta on Kokkos Kernels side, some of them have been patched to Trilinos, @brian-kelley will remember what is patched and what is not.

[2019-09-27 13:05] sayerhs commented on #370
@srajama1 since this happens fairly quickly, I can load the kernel_logger and get the exact names of the kernrls, if that would help. Is there anything I've to keep in mind when using the logger for MPI runs? That is, is there a way to prefix which rank is having trouble?

[2019-09-27 14:08] srajama1 commented on #370
I don't know any way to print the rank with the kernel logger. AFAIK, it has no notion of MPI.

[2019-09-27 15:21] sayerhs commented on #186
@overfelt James had to revert #379 in d4706afdc5c01aaa because it was causing still failing tests on CDash. It seems that we are still unable to run with the `#ifdefs` removed for those master element data. Can you share what CUDA version + GPU you were using where you saw successful run?

[2019-09-27 15:39] overfelt commented on #186
Bummer.  I am running on the ascic platforms here at Sandia. Tesla P100s with nvidia-9.2.88.

[2019-09-27 15:43] overfelt commented on #186
I'll do a clean build to make sure.

[2019-09-27 16:08] brian-kelley commented on #370
@sayerhs @srajama1 I put my permanent bugfix for spgemm into Trilinos directly. So current Trilinos should have a full performance, correct version.

[2019-09-27 17:52] overfelt commented on #186
Well, duh, of course.  I moved the fix into that Simulation class which is not used by unit_test.C.

[2019-09-28 00:34] sayerhs commented on #370
@brian-kelley thanks for the heads up. I'll pull the latest trilinos and attempt a run. I'll report back with log files here.

[2019-09-28 00:35] sayerhs commented on #186
Of course! We should have noticed that. Can you please resubmit a new pull request?

[2019-09-30 17:12] psakievich commented on #240
To update this issue.  I was able to reproduce the memory issue on SNL machines. I also determined this was not an issue for the SNL HFM runs because they weren't reinitializing the linear system.  I am keeping this open for now while I do a little more investigating.  I will discuss in person with @sayerhs and others during my October trip.

[2019-10-01 14:41] #373 closed

[2019-10-01 20:29] marchdf opened #391 "Compile errors in sym bc"
I am getting the following when compiling the latest Nalu-Wind:
[code]

[2019-10-02 13:29] sayerhs commented on #391
Fixed in 35782f37a5d6ed3e795ce67eb3e7d7fdc689a974

[2019-10-02 13:30] #391 closed

[2019-10-10 20:05] jhux2 opened #404 "Has anyone run ablNeutralEdge on waterman cluster?"
Has anyone successfully run the ablNeutralEdge (or other) simulation on the SNL cluster waterman?  I'm seeing a weird failure

[code]

@alanw0 @sayerhs @overfelt @lucbv

[2019-10-10 20:16] jhux2 opened #405 "Many warnings of type "requested alignment 64 is larger than 16""
While building nalu-wind (SHA adf46c3f) on the SNL cluster waterman, I'm seeing a lot of these types of warnings:

[code]

[2019-10-10 20:18] sayerhs commented on #405
@jhux2 What architecture/compiler is this? We used `KOKKOS_MEMORY_ALIGNMENT` because of issues with SIMD before

https://github.com/Exawind/nalu-wind/blob/db057d8f620b0b4da58029fe91075cb5b02b4c94/include/KokkosInterface.h#L17-L21

but seems like we might have to switch that to `alignas(sizeof(stk::simd::Double))`

[2019-10-10 20:23] jhux2 commented on #405
@sayerhs waterman is Power9 + V100s.  I'm using gcc/7.2.0 and cuda/9.2.88.

[2019-10-10 21:00] alanw0 commented on #404
I haven't tried it on this platform yet. But the stk team is taking on a story to profile the ablNeutralEdge case on gpu in the sprint that starts tomorrow. (The story won't happen til next week at the earliest.) But I'm not sure if they'll do the profiling on one of the ascicgpu machines or on waterman or vortex.

[2019-10-10 21:11] jhux2 commented on #404
I am going to try with the same SHA's as reported in #370.

[2019-10-10 22:02] jhux2 commented on #370
@sayerhs I would like to run the exact code versions that you have. Where you using branches?  I can't find the Trilinos SHA in develop or master, nor the Nalu-Wind SHA in master.

[2019-10-10 22:19] sayerhs commented on #370
The Nalu runs were performed before the code was merged into master as part of testing before submitting #381

[code]

[code]

[2019-10-11 13:18] sayerhs commented on #405
@jhux2 Are you building for CUDA then? If so, these warnings shouldn't show up since the `#ifdef` should use line 18 in the snippet above. How are you compiling for CUDA? If you are compiling on host-only, then these warnings are expected.

@overfelt Looks like we might have to add some additional logic to fix these warnings on non-Intel chips... any thoughts?

[2019-10-11 13:43] overfelt commented on #405
Since this is a cuda/9.2.88 compile KOKKOS_ENABLE_CUDA should have been defined and the NALU_ALIGNED set to avoid this cuda compiler warning.  Something is amiss.
@jhux2 did the cmake command define ENABLE_CUDA=ON ?  This should be in the cmake_output.log in the build directory and in the CMakeCache.txt file.

[2019-10-11 13:49] sayerhs commented on #405
@overfelt @jhux2 doesn't use `exawind-builder`. `ENABLE_CUDA=ON` is an `exawind-builder` specific quirk. Trilinos official flag is `TPL_ENABLE_CUDA:BOOL=ON`

[2019-10-11 13:56] sayerhs commented on #405
@overfelt Also looking at the error, I don't think this is generated by `nvcc`, it is generated by the host compiler for PowerPC. But you're correct that `KOKKOS_ENABLE_CUDA` doesn't seem to be on for the Trilinos build.

[2019-10-11 14:09] overfelt commented on #405
So (1) check the Trilinos install to make sure CUDA is enabled.  (2) Check the nalu-wind install to make sure nvcc is being used to compile the code.
@jhux2 I have not installed exawind on waterman but I can stop by your office and try to help if you are having trouble.

[2019-10-11 14:36] marchdf opened #407 "Error in TpetraLinearSystemHelpers.C"
Using the master branch (hash: 572e0b5096ca786), I am getting the following error:
[code]

This setup used to run and it runs fine if I just use Hypre.

Attached is the input file and I will email the mesh (26MB)

[flatPlate.txt](https://github.com/Exawind/nalu-wind/files/3718125/flatPlate.txt)

[2019-10-11 15:03] alanw0 commented on #407
ok I'll look into this and figure out what's going on. Do you know how long ago it used to run?

[2019-10-11 15:25] marchdf commented on #407
From timestamps on folders it looks like sometime around July 5-12 before I got sucked into TAMS stuff.

[2019-10-11 16:33] sayerhs commented on #370
With the latest commit ec5e76ed059 and Trilinos 12.17-g60a8999136, `ablNeutralEdge` regression test input file should run unmodified on GPU for a single MPI rank. Previous runs had to remove the `fix_pressure_at_node` and `time-varying pressure forcing` to get it to run on GPUs.

Even with this new Trilinos version, I am still seeing

[code]

errors within MueLu when attempting to run with 2 MPI r

[2019-10-11 16:39] srajama1 commented on #370
@jhux2 was going to run this and @lucbv is also looking the kokkos refactor portion of MueLu. @jhux2  @lucbv : Let me know if this is a kernel issue.

[2019-10-11 16:39] sayerhs commented on #407
@alanw0 It seems like something related to  #338

[2019-10-11 16:41] jhux2 commented on #370
@sayerhs Yes, that's part of why I'm building on waterman.

[2019-10-11 16:42] alanw0 commented on #407
@sayerhs Yes it definitely is. I have a fix, running his case all the way through now. I'll get a pull-request in soon.

[2019-10-11 16:47] sayerhs commented on #370
@jhux2 Thanks! I figured as much.

Would it be possible for me to get access to `waterman`? I would like to help figuring out the build/run issues @jhux2 is having, and accelerate this process.

[2019-10-11 16:55] alanw0 commented on #370
@sayerhs I'll talk to our OAA and/or Paul and get a request put in to try to get you access.

[2019-10-11 19:04] lucbv commented on #370
@sayerhs I did a GPU run of MueLu on a non-related problem yesterday and it worked OK.
That being said it was a very different setup that I am using for my refactor work.
I still have one feature that I would like to refactor and will try to tackle it today so I can look more directly at the problem you are facing on Monday.
My plan is to use summit to test MueLu on GPUs though.

[2019-10-11 22:23] sayerhs commented on #370
@lucbv I have replicated the results from my NREL Eagle run on Summit also. You can see them in `${PROJWORK}/${EXAWIND_PROJECT_ID}/shreyas/exawind/abl_neutral_gpu`

@alanw0 I am seeing this error when I attempt to run on 2 MPI ranks on ORNL Summit. I assume this is somewhere in STK or Tpetra graph?
[code]

[2019-10-11 22:36] sayerhs commented on #407
Fixed in #409

[2019-10-11 22:36] #407 closed

[2019-10-11 22:37] #382 closed

[2019-10-11 22:37] alanw0 commented on #370
@sayerhs That's strange. I've seen something like that when an MPI rank had no data, but I doubt if that's the case with your 2-proc run... In any case, you can turn off the mpi-neighbor stuff with the macro in stk_util/parallel/CommNeighbors.hpp (STK_MPI_SUPPORTS_NEIGHBOR_COMM) Which mpi implementation is on summit?

[2019-10-11 22:38] sayerhs commented on #370
It is `spectrum-mpi/10.3.0.1-20190611` but seems like OpenMPI under the hood

[2019-10-11 22:38] sayerhs commented on #370
Also @alanw0 that won't turn off the usage in the Tpetra graph creation that is in TpetraLinearSystem correct?

[2019-10-11 22:45] alanw0 commented on #370
Yes it would. The CommNeighbors class that TpetraLinearSystem uses would still work, but it would use different mpi calls, not the MPI_Neighbor_\* calls. That could potentially make it perform worse, although depending on the mpi implementation, I'm not convinced the neighbor stuff is always better.

Also: currently you have to edit the CommNeighbors.hpp header to turn that macro off. I'll make an

[2019-10-15 17:07] sayerhs commented on #404
@jhux2 I am seeing this error when attempting to build Trilinos on `waterman`

[code]

I have the following modules loaded:

[code]

How did you build your Trilinos?

[2019-10-15 17:52] alanw0 commented on #404
I'll mention @gsjaardema in case Greg has built seacas on waterman, or has insight into what might cause this 'redefinition of Ioss_Beam2' message when building the io_shell executable.

[2019-10-15 18:02] jhux2 commented on #404
@sayerhs I didn't see this error when I built Trilinos on waterman.  However, there were some issues with SEACAS and pnetcdf, see https://github.com/trilinos/Trilinos/issues/6078. You can see how I set the module environment and configured Trilinos in `~jhu/exawind/scripts`.

[2019-10-15 18:05] sayerhs commented on #404
@jhux2 @alanw0 seems related to this: https://github.com/trilinos/Trilinos/issues/2891 with `--remove-duplicate-link-files` it succeeded with SEACAS build.

[2019-10-15 18:22] jhux2 commented on #404
I think the reason I did not see this is because I used an internal ATDM build process that defines this option automatically.

[2019-10-15 20:14] sayerhs commented on #404
@jhux2 I am able to run `nalu-wind` on GPUs with `waterman`

[code]

[2019-10-15 20:21] sayerhs commented on #404
@jhux2 and `ablNeutralEdge` ran successfully

[code]

[2019-10-15 20:42] jhux2 commented on #404
@sayerhs That's great.  Can you point us to the relevant locations of TPLs, etc.?  I'm particularly interested in knowing how you configured Nalu-Wind.

[2019-10-15 22:11] sayerhs commented on #404
@jhux2 My build is in the standard exawind-builder layout in `waterman`: `${HOME}/exawind`, you should have read permissions. And the system name is `snl-waterman` (https://github.com/sayerhs/exawind-builder)

[2019-10-15 22:41] sayerhs commented on #404
@jhux2 I also have a build purely using modules in waterman (except for yaml-cpp)

[2019-10-16 13:59] sayerhs commented on #404
@jhux2 Here is the [SNL waterman config](https://github.com/sayerhs/exawind-builder/blob/master/envs/snl-waterman-atdm.bash) (using system modules). And the CMake configure for `nalu-wind`

[code]

[2019-10-17 16:35] marchdf opened #412 "Symmetry BC leaking for fixed wing simulation"
I am seeing leakiness that eventually leads to a simulation crash for symmetry BC in the McAlister runs when using the new sym BC capabilities. Here is a screenshot and I am also attaching the input file [mcalister.txt](https://github.com/Exawind/nalu-wind/files/3740340/mcalister.txt). I can point to where the mesh is on Eagle (or any other system).

![Screen Shot 2019-10-17 at 09 50 12](https://u

[2019-10-17 20:03] psakievich commented on #412
Taking a look. Have you tried with projections turned on as well?

[2019-10-18 13:46] marchdf commented on #412
Looks like this was an improper mesh configuration at the BC. Closing this as resolved.

[2019-10-18 13:46] #412 closed

[2019-10-19 20:51] sayerhs opened #416 "Build broken with OpenMP"
#398 introduced a custom reducer that does not work when Kokkos::OpenMP execution space is enabled. We don't seem to have CDash coverage for OpenMP builds anymore, so this went unnoticed for a while.

I have opened a companion issue: https://github.com/trilinos/Trilinos/issues/6125 to check if this is an issue in Trilinos.

[2019-10-19 21:18] sayerhs commented on #370
@jhux2 @srajama1 I spent some time trying to run the ABL neutral case on GPUs with multiple MPI ranks on SNL waterman system.

Run environment on waterman
[code]

I launched it with the following command line

[code]

and get the following error:
[code]

So now I have three different errors:

- NREL Eagle: Crashes in MueLu
- ORNL Summit: Crashes in MPI alltoall neighborv
- SNL Waterman: Crashes in

[2019-10-20 02:51] srajama1 commented on #370
@sayerhs : This is strange. Even the Waterman error is in an MPI call, MPI_send in this case. @lucbv has reproduced the Summit error and trying to see debug further. We will get back to you. One could turn debug and verbosity options to see what is going on here, that is what I think @lucbv is doing.

[2019-10-20 13:50] sayerhs commented on #370
@srajama1 @lucbv the summit error can be worked around by following Alan's suggestions.

[2019-10-21 15:39] brian-kelley commented on #370
I'm seeing the MPI_Neighbor_alltoallv errors in the STK unit tests. This is a local build with OpenMPI 4.0.1 and GCC 9.1, so I don't think the issue is specific to Summit or Spectrum.

[code]

[2019-10-21 15:48] lucbv commented on #370
@sayerhs as @srajama1 mentioned, I have a stack built on Summit and I have started with pure MueLu tests using a driver we have in Trilinos. This worked well enough, I was able to run that driver on up to 4 nodes.
I have now moved on to running the ablNeutralEdge so we can make some progress on the ExaWind front. As you mentioned earlier and as @brian-kelley is reporting, the communicator is gener

[2019-10-21 16:08] alanw0 commented on #370
@lucbv and @brian-kelley I'll get an update in asap to turn off the mpi-neighbor stuff by default in stk until we can figure out what's going on there.

[2019-10-21 18:40] lucbv commented on #370
@alanw0 I just added a couple of lines to undefine the variable for Neighbors_Comm and things are now running fine.
I'll keep an eye out for your fix and I'll update my Trilinos then. In the meantime it is not blocking the runs.

[2019-10-21 18:42] alanw0 commented on #370
@lucbv ok great.

[2019-10-21 19:02] lucbv commented on #370
@sayerhs after doing the small fix in STK I was able to run the ablNeutralEdge on 2 GPU ang get timers out off MueLu.
Do you have specific settings that you want to use on Summit for ablNeutralEdge?

[2019-10-21 20:15] sayerhs commented on #370
@lucbv The input file in the regression test is the right one. I just changed `sgs` to `mt_sgs` in the momentum/scalar solvers.

[2019-10-21 20:38] lucbv commented on #370
@sayerhs OK, do we want to run as it is prescribed in the unit-test i.e. using 8mpi ranks with 1GPU per rank? That will push things into low occupancy for the GPU but it can be done for the sake of testing...

[2019-10-21 21:44] sayerhs commented on #370
@lucbv I was planning to do 2 MPI ranks just to make sure everything is working. Beyond that we should use bigger meshes that is in solver performance repo.

[2019-10-21 23:08] lucbv commented on #370
@sayerhs my run using 2GPUs on the same node did not crash anywhere, but I did get an odd behavior as the number of linear iterations needed to solve the continuity equations climbed up to 75 (the max set in the input deck). I am guessing that something goes wrong in the update of the solution after the linear problem is solved?
I will dig a bit more into it before delivering a final conclusion on

[2019-10-21 23:12] sayerhs commented on #370
@lucbv ok. Can you share the Nalu residual output for the first timestep?

[2019-10-22 14:28] lucbv commented on #370
@sayerhs sure, here it is, notice how the non-linear residual for enthalpy and continuity is increasing over the successive iterations:
[code]

[2019-10-22 14:34] sayerhs commented on #370
@lucbv Thanks, I am still getting segfaults on Summit even after the STK fix, so it will take a while before I can get to this stage where I can look at residuals.

[2019-10-22 15:06] sayerhs commented on #370
@lucbv I think your hunch is correct, we need to fix a few things on nalu-wind side to ensure parallel synchronization after linear solver update. I am attempting a rebuild of nalu-wind to see if I can fix the MPI errors before proceeding. Thanks for chasing this down.

[2019-10-22 22:33] jrood-nrel opened #418 "Errors building with CUDA"
@alanw0 I haven't tested non-CUDA, but I was trying to run the ablNeutralEdge case on the GPU and it looks like some errors popped up in #413.

[code]

[2019-10-23 02:01] #418 closed

[2019-10-23 15:08] sayerhs commented on #370
@lucbv are you using a different branch of MueLu? My first Continuity Equation solve doesn't seem to have fully converged. See below.

[code]

[2019-10-23 15:48] sayerhs commented on #370
@lucbv #420 fixed an issue with field synchronization for shared nodes across MPI ranks after a linear solve. Can you please use the latest commit for your future tests?

[2019-10-23 16:10] lucbv commented on #370
@sayerhs I will update my repo on Summit and see if I get better results.
I am also able to reproduce the issue in MueLu with the Transpose problem.
I should have an update on that soon!

[2019-10-24 21:30] sayerhs commented on #301
`sync_field` fixed in #420

[2019-10-24 21:30] #301 closed

[2019-10-24 21:37] sayerhs commented on #416
Fixed in 841988d

[2019-10-24 21:37] #416 closed

[2019-10-24 21:38] sayerhs commented on #405
With CUDA enabled, we don't see the warnings mentioned in the original issue. Closing this for waterman builds.

[2019-10-24 21:38] #405 closed

[2019-10-24 21:38] sayerhs commented on #404
@jvo1012 has replicated my build and run ABL neutral edge regression test on waterman.

[2019-10-24 21:38] #404 closed

[2019-10-25 21:37] sayerhs commented on #343
Done in #422

[2019-10-25 21:37] #343 closed

[2019-10-25 21:43] sayerhs commented on #186
@overfelt Commit d4706afdc5c reverted your fix in `Simulation.C` for setting stack size (9c079cde78). Can you please put that back in so that we can proceed with `naluX` running on GPUs after #422

[2019-10-25 22:50] lucbv commented on #370
@sayerhs I am seeing an error in a CUDA debug build of Nalu-Wind on Summit. It seems to be in Nalu proper, I did rebuild with the latest version:

[code]

[2019-10-25 23:08] overfelt commented on #186
Your asking to revert the revert?  There must have been a good reason @jrood-nrel reverted that commit but after a month I don't recall what it was.  Does the commit in #422 break the GPU runs again?  The tests seem to run fine for me.

[2019-10-25 23:11] sayerhs commented on #370
@lucbv Just pushed a bugfix, can you try with this?

Curious why the address sanitizer didn't catch this. @jrood-nrel any thoughts?

[2019-10-25 23:15] sayerhs commented on #186
@overfelt so @jrood-nrel reverted the commit because we were seeing segfaults in unittest, but it turned out that you had forgotten to put the cuda stack size fix in `unit_tests.C`. So I was wondering if we need the stack size fix in `nalu.C` (or `Simulation.C`) also so that we don't get segfaults when running full `naluX` on GPUs.

[2019-10-25 23:26] sayerhs opened #423 "Pull request 422 adds face shape functions in the wrong place"
#422 added `FC_SHAPE_FCN` and `FC_SHIFTED_SHAPE_FCN` to

https://github.com/Exawind/nalu-wind/blob/761b1dd0df01badb0ab1ca64aad34a0ebda978b0/include/ScratchViews.h#L677-L693

This function is called for every element during a loop, and will recompute shape functions for every element.

The logic for computing shape functions have already been implemented in

https://github.com/Exawind/nalu-wind/blo

[2019-10-25 23:28] lucbv commented on #370
@sayerhs I will do a rebuild before going home, these debug builds are somewhat slow...

[2019-10-25 23:45] sayerhs commented on #423
Fix in #424

[2019-10-26 03:59] #423 closed

[2019-10-26 13:20] overfelt commented on #186
Ahhh, I see.  Yes, at least it might be easier to diagnose running out of heap space rather than the odd segfaults we get when the stack runs out.  I'll revert the commit.

[2019-10-28 14:50] lucbv commented on #370
@sayerhs the last run was clean and the convergence of the nonlinear and linear solvers looks good to me.
[ablNeutralEdge_1GPU.log](https://github.com/Exawind/nalu-wind/files/3779228/ablNeutralEdge_1GPU.log)

[2019-10-28 15:03] jrood-nrel commented on #370
ASAN seemed to catch the last test error I put in the unit tests. Was this error able to be caught with valgrind? This function must act a little differently on the host? I wonder how ASAN does with all the Kokkos abstraction in general.

[2019-10-28 16:34] sayerhs commented on #370
@lucbv I am getting correct results when running on 1GPU, the Belos solver error seems to happen when I run on 2MPI ranks with 1 GPU per rank.

[2019-10-28 17:54] lucbv commented on #370
@sayerhs: noted, I was just checking that the patch you pushed on Friday did fix on Summit the `memory out of bound` I reported earlier with a debug build.
I can now push though the whole simulation using the debug build which is helpful!
I am still working on the 2 GPUs issue and making progress on isolating the exact source of the problem

[2019-10-31 15:35] jrood-nrel opened #428 "PromoteElementQuadTest failing with Intel"
It looks like https://github.com/Exawind/nalu-wind/commit/47d05018fafa89c914db141d19c384bd1716947e caused some fairly large diffs in `PromoteElementQuadTest` with Intel for some reason. I'm not sure what to do about it so I assigned James for now since it was his commit.

[2019-11-02 16:05] sayerhs opened #431 "No coverage for element volume in tests"
427d314de0 fixed a bug in computation of element volumes, no regression test or unit test caught this issue until it hit production runs.

[2019-11-05 18:14] lucbv commented on #370
@sayerhs  a "quick fix" has been applied in my local source of Trilinos on Summit, the Trilinos team is working on a permanent fix that will be incorporated in github soon.
With this fix I am able to run the `ablNeutralEdge` to completion using 2 nodes with 4 GPUs per node (see [output](https://github.com/Exawind/nalu-wind/files/3810589/ablNeutralEdge_8GPU_temp_fix.log)).
However I am seeing a deg

[2019-11-05 18:14] lucbv commented on #370
@sayerhs  a "quick fix" has been applied in my local source of Trilinos on Summit, the Trilinos team is working on a permanent fix that will be incorporated in github soon.
With this fix I am able to run the `ablNeutralEdge` to completion using 2 nodes with 4 GPUs per node (see [output](https://github.com/Exawind/nalu-wind/files/3810589/ablNeutralEdge_8GPU_temp_fix.log)).
However I am seeing a deg

[2019-11-05 18:48] jrood-nrel commented on #428
This doesn't appear to exist anymore.

[2019-11-05 18:48] #428 closed

[2019-11-05 18:58] sayerhs commented on #370
@lucbv thanks! If you can share the quick fix with me, I can look to see what's happening in the second timestep

[2019-11-06 15:23] sayerhs commented on #370
@lucbv I reran this case, and I notice that the code works fine if I force reinitialization of the MueLu instance at the beginning of every timestep. See log file for the 4 GPU run [gpu_np4.txt](https://github.com/Exawind/nalu-wind/files/3815211/gpu_np4.txt)

[2019-11-06 15:34] sayerhs commented on #370
@lucbv This is what I mean by forcing a reinit

https://github.com/Exawind/nalu-wind/blob/d3bc42da8d293d28a2ebd963e7756b78c49e6f5c/src/LinearSolver.C#L136-L145

As long as we hit line 138 or 141, the code seems to converge properly. This isn't case with CPU only runs.

[2019-11-06 15:36] lucbv commented on #370
@sayerhs OK, that's interesting.
Do we expect the `matrix_` object to be different between two time-steps?
I am guessing that since we are doing non-linear iteration that should be the case?

[2019-11-06 15:40] sayerhs commented on #370
Yes, the diagonal term in the matrix will be different between the first and second timesteps, but somehow this doesn't seem to affect the CPU run.

[2019-11-06 15:43] lucbv commented on #370
I see, there could be different default parameters used between CPU and GPU runs since the algorithms themselves are a bit different.
I will start by checking that and move from there. This does not look like a CS issue but more a Math or settings issue.

[2019-11-07 00:54] lucbv commented on #370
@sayerhs just to make sure I am on the right track I took 5 minutes to run the problem with Gauss-Seidel instead of Chebyshev as my smoother and MueLu was converging in about 10 iterations at each time step.
I will try to tune the Chebyshev parameters to get back the CPU performance.

[2019-11-14 17:36] sayerhs commented on #370
Successfully demonstrated with the regression test `ablNeutralEdge` on multiple MPI ranks with 1 GPU per rank.

[2019-11-14 17:36] #370 closed

[2019-11-14 20:05] lucbv opened #441 "Proposed changes to CMake needed for AMReX"
@sayerhs @jrood-nrel @jhux2 @srajama1
PR #436 introduces "modernization" in Nalu's CMake build requirements, unfortunately this was not advertised among the stakeholder of ExaWind, for instance `cmake_minimum_required (VERSION 3.13.0 FATAL_ERROR)` is problematic as Sandia is not currently providing modules for `CMake > sems-cmake/3.12.2`.

Also annoyingly these changes have broken my build on Summ

[2019-11-14 20:54] jrood-nrel commented on #441
@lucbv I've temporarily reverted the changes I made to CMake. I apologize for any inconvenience it caused. Would you be able to request Sandia updates to newer versions of CMake on the machines you use so we can merge these changes? On Summit, CMake 3.15.2 exists, or exawind-builder can be updated to use a newer CMake if necessary there. A problem in the future will be that AMReX currently require

[2019-11-14 21:08] jrood-nrel commented on #441
@lucbv Would you be able to do me a favor and try these changes but set the required CMake to 3.12.0? I may have incorrectly set the required version, but I don't have a CMake < 3.13.0 easily available to test.

[2019-11-14 21:35] jrood-nrel commented on #441
@lucbv So I was actually able to test CMake 3.12.2 and I correctly listed CMake 3.13.0 as the minimum requirement for my updates. Does the latest master branch work for you again?

[2019-11-14 21:35] lucbv commented on #441
Hi @jrood-nrel I am reopening this issue so we can maybe talk about it a bit.
I will make a request for a more recent CMake to be installed here but this will probably take a few days depending on our framework team workload.
Also I can send you the configuration script I am using on Summit, so you could see what goes wrong with them. I am setting the `--remove-duplicate-link` flag in Trilinos oth

[2019-11-14 21:37] lucbv commented on #441
I am rebuilding on Summit right now and I will do a local build as well. I'll keep you updated, @jhux2 is using similar modules to mine I think so he might also be impacted by the higher CMake requirement.

[2019-11-14 21:40] sayerhs commented on #441
@lucbv The original changes should also work with CMake 3.12. The requirement for 3.13 was unnecessary as @jrood-nrel mentions. So if you can test the original commit with just one change replace minimum version from 3.13 to 3.12 and test that on Sandia/Summit.

As for AMReX and a higher CMake version, it is not a decision that we need to make at this time. I'd say we can do that closer to FY20-Q2

[2019-11-14 21:45] lucbv commented on #441
@sayerhs my build on Summit is using `-- CMAKE_VERSION='3.13.4'` so that would not be the issue, as reported above I think one of the flag was not accepted anymore yet it is needed for the build to complete...

[2019-11-14 21:57] jrood-nrel commented on #441
@sayerhs Even if you use 3.13.x and set the minimum CMake version to 3.12.0, the changes should fail to compile from what I just tested.

@lucbv I will try the GPU build with my changes. I did not anticipate flags like `--remove-duplicate-link-files` in Trilinos to break with this.

[2019-11-14 22:01] sayerhs commented on #441
@lucbv Ah, I see. thanks for the heads up.

[2019-11-14 22:11] jrood-nrel commented on #441
I can confirm that `--remove-duplicate-link-files` is getting truncated to `-remove-duplicate-link-files` due to my changes. Sorry I did not catch this earlier. I will fix this problem with the code.

[2019-11-14 22:22] lucbv commented on #441
@jrood-nrel thanks for looking into this and no worries about the issue with flags.
I would just recommend that when making significant changes in the CMake files of Nalu-Wind it would be best if these are shared among developers before PRs are merged. That way developers can report on how the changes are affecting currently work-flows and find work-around issues preemptively.

[2019-11-14 23:28] jrood-nrel commented on #441
I fixed the issue with `--remove-duplicate-link-files`. I made another pull request as a draft with everyone as a reviewer that we can merge when we're more prepared for it. I probably shouldn't have brought AMReX into this since it is not immediately a requirement that we sync tools such as CMake between Exawind subprojects. It is just a minor justification for why I've been updating CMake in tan

[2019-11-20 21:09] sayerhs opened #448 "GPU scaling studies - ABL neutral simulation"
Here is an example input file ([abl_gpu.yaml.txt](https://github.com/Exawind/nalu-wind/files/3871357/abl_gpu.yaml.txt)) where we use the IOSS [generated mesh](https://github.com/trilinos/Trilinos/blob/f57b08bae7c32fb7feed84715ee02e85b96a1414/packages/seacas/libraries/ioss/src/generated/Iogn_GeneratedMesh.h#L54-L191) option to generate the box HEX8 meshes at various resolutions. Instead of reading

[2019-11-20 23:06] alanw0 commented on #448
One or two things to be aware of when using generated-mesh:
It only does a simple "bread-slice" decomposition, by slicing the z dimension. As a consequence, the z dimension needs to be at least as large as the number of mpi ranks being used.

[2019-11-21 00:15] sayerhs commented on #448
@alanw0 Thanks for pointing that out. I forgot to add it in my comments above.

@lucbv For your scaling studies, it might be better to reduce the x and y box lengths to 1000 m and increase the mesh size by combination of increasing the z length and playing with the resolutions. As much as possible try to keep the cell `dx = dy = dz` or a factor close to 2.

[2019-11-21 17:30] lucbv commented on #448
@sayerhs @alanw0
Thanks for the additional details, I'll keep this in mind while I run my experiments!

[2019-11-21 17:52] lucbv opened #450 "GPU nightly testing"
@sayerhs @jhux2 @alanw0
I have been looking at the dashborad and noticed that we only have two tests in the GPU build on Eagle.
While that made sense since we had not fixed issues regarding `ablNeutralEdge` until recently, I think we now add a new that runs on multiple GPUs to avoid regression in the future.

Any thoughts?

[2019-11-21 18:43] sayerhs commented on #450
We already have `ablNeutralEdge` being tested for 1 GPU. I think @jrood-nrel can update it to test on two GPUs (max available per node).

[2019-11-21 18:44] sayerhs commented on #448
Also if you want to generate meshes similar to the one in regression test suite then you can use [Nalu-Wind utils](https://naluwindutils.readthedocs.io/en/latest/user/abl_mesh.html). This will allow you to test with `rcb` and `rib` decompositions if needed.

[2019-11-26 14:08] sayerhs commented on #441
Phase 1 completed in #445 . Further updates to be discussed in dedicated issues/pull requests

[2019-11-26 14:08] #441 closed

[2019-11-27 16:55] sayerhs opened #453 "Failing tests - 2019 Nov 26"
[Six regression tests](https://my.cdash.org/viewTest.php?buildid=1735161&onlyfailed) have been failing since Nov 26. This appears to be caused by changes introduced in Trilinos on Nov 25, as the only commit introduced between Nov 25 (all passing) and Nov 26 (failing) is change in printout of the headers (#452).

@jhux2 @lucbv @srajama1 I see that there were some commits to ifpack2 and zoltan on No

[2019-12-02 20:36] sayerhs commented on #453
Related Trilinos issue https://github.com/trilinos/Trilinos/issues/6358

[2019-12-02 21:31] jhux2 opened #456 "Factor out matrix graph construction from LinearSystem class"
The various linear system construction phases each create a matrix graph.  This is redundant work, as almost all phases use the same connectivity graph.  One exception is the "monolithic" momentum linear system.

This issue will track progress in factoring out the graph construction so that it is done as few times as possible per time step.

[2019-12-02 21:32] jhux2 commented on #456
@sayerhs @lucbv @srajama1 @alanw0

[2019-12-03 19:18] jhux2 commented on #448
@iyamazaki

[2019-12-06 17:12] lucbv commented on #448
Quick update on some tests completed yesterday, here is a summary of the mesh resolutions tested:
[code]

All tests have executed setup correctly and only the finest resolution is reporting an issue at time-step 9 out of 10. Further investigation in the failure of the last test will be conducted.

[2019-12-06 17:15] lucbv commented on #448
Here is the error observed:
[code]
Will rerun this case on more GPUs and this might actually work.

[2019-12-06 19:16] jhux2 opened #457 "Update McAlister mesh and input files"
Marc has provided two new versions of the McAlister wing.  The meshes are on Summit in `/ccs/proj/cfd116/meshes/mcalister`.  There's also an accompanying NaluWind yaml input deck in the same location, but I haven't updated it with appropriate solver settings yet.

I will submit a PR against `NaluCFD/ECPSolverPerformance` to update the input deck and MD5 hashes.

[2019-12-06 19:19] #457 closed

[2019-12-09 14:55] sayerhs opened #459 "MasterElement code deprecation – remove non-NGP HO elements"
@rcknaus has an alternate pathway for higher-order (HO) elements within Nalu-Wind. This issue will track the progress of the removal of the older design of HO elements (non matrix-free).

[2019-12-09 20:42] lucbv opened #460 "Adding test using MueLu for oversetRotCylinder"
@sayerhs @jhux2
In order to harden capabilities of the Trilinos stack I would like to run/fix the `oversetRotCylinder` so that it can be added to the nightly tests using the trilinos stack.
The goal is to prepare the Trilinos stack to run on the McAlister test case.

[2019-12-09 20:43] lucbv commented on #460
I see that I can create a milestone on github, could be handy...

[2019-12-09 22:14] lucbv commented on #460
@sayerhs
I have performed a local build with Tigoa enabled and I was able to run `oversetRotCylinder` using the following input file: [oversetRotCylinder_muelu.i.txt](https://github.com/Exawind/nalu-wind/files/3941944/oversetRotCylinder_muelu.i.txt)
As you can see the continuity solve is performed using MueLu, here are the non-linear norms that come out of this run: [oversetRotCylinder.norm.txt](h

[2019-12-09 22:20] sayerhs commented on #460
@lucbv Thanks. Can you upload the full log file please? I would expect some differences in the norms because of different solver settings, but looking at the rest of the log file will be useful.

[2019-12-09 22:24] lucbv commented on #460
Of course here is the full log file: [oversetRotCylinder.log](https://github.com/Exawind/nalu-wind/files/3941989/oversetRotCylinder.log)
It is a bit more verbose than the usual output since I turn on the muelu and belos output to see how the linear solver is converging

[2019-12-10 19:43] lucbv commented on #460
@sayerhs any opinion on the output?
I would like to investigate the singletons reported by MueLu, otherwise we might need a harder test case to stress MueLu some more.

[2019-12-10 20:38] sayerhs commented on #460
@lucbv The linear/non-linear residual outputs look good to me.

[2019-12-10 21:14] lucbv commented on #460
Alright so I have two questions:

1. Then should we try to promote a Trilinos version of the test?
That would only require to add an input deck and modify the `CTestList.cmake` a bit.

2. Do we have another test that uses overset capabilities?
I see that we are already running `oversetSphereTIOGA` with a specific muelu input deck for aspect ratio issues.
If we do not have another test then I will

[2019-12-10 21:22] sayerhs commented on #460
Go ahead and submit a pull request to add a muelu version of the rotating cylinder test. You have identified the two tests in the suite that exercise TIOGA based overset holecutting.

[2019-12-11 00:03] lucbv commented on #450
I see that @jrood-nrel has update the nightly test to include ablNeutralEdge on Eagle with 2 GPUs so I am closing this.

[2019-12-11 00:03] #450 closed

[2019-12-11 16:06] sayerhs opened #461 "Transition plan for mass flux computations to NGP"
This issue presents a plan for the transition of mass flux (mdot) computations to NGP design for running on GPUs, and will track the overall progress of this transition. The flux computations are currently implemented in `ComputeMdot*Algorithm` classes and the computation is orchestrated through the `ComputeMdotAlgorithmDriver` class. In addition to just calling `execute()` methods of the register

[2019-12-11 20:37] #460 closed

[2019-12-12 01:20] jhux2 commented on #456
Here a sample trace of the graph initialization calls from ablNeutralEdgeSegregated:

[code]

Working under the assumption that the segregated momentum and continuity have the same matrix graph structure, I was expecting that the Momentum and Continuity phases should have the same call stack.

@sayerhs @alanw0 Is this expected behavior?

[2019-12-12 15:04] lucbv opened #464 "Missing gold files for TAMS PR?"
## Detailed description of the bug

A bunch of new regression tests are failing [today](https://my.cdash.org/index.php?project=Nalu-Wind) and I suspect this is only due to a lack of `.norm.gold` files in PR #346 @marchdf @sayerhs can you look at this?

[2019-12-12 15:05] sayerhs commented on #464
Yes we are aware of it. The gold files need to be reblessed.

[2019-12-12 17:27] jrood-nrel commented on #464
I added the gold files for these generated from the test machine.

[2019-12-12 17:27] #464 closed

[2019-12-12 20:22] sayerhs commented on #456
@jhux2 `buildConnectedNodeGraph` is the actual function that is called by specific graph building methods

https://github.com/Exawind/nalu-wind/blob/b130d75819829c1cc70a7f2b02404919007ee4c8/src/TpetraSegregatedLinearSystem.C#L382-L386

In the ABL problem we do have different BCs applied to different equation systems, that is why the graph calls look different. However, if you look at the final res

[2019-12-12 20:40] jhux2 commented on #456
@sayerhs Apart from `buildConnectedNodeGraph`, are all the other calls for handling boundary conditions?

In general, is there a way of determining during runtime which physics systems will have the same graph structure, or is this something that can only be known by someone who knows the physics of the simulation?

[2019-12-14 16:15] sayerhs opened #469 "SIGABRT with Hex8Mesh.inconsistent_field_requests on macOS with AppleClang"
@marchdf and I are seeing SIGABRT during stack unwind when running the `Hex8Mesh.inconsistent_field_requests` regression test on macOS. Could it be that some destructor is throwing an exception that is uncaught during stack unwind?

## Build info

Operating system: macOS Sierra 10.12.6
[code]

## lldb output

[code]

[2019-12-14 16:19] sayerhs commented on #469
@jrood-nrel We used to have coverage of `macOS + AppleClang` on CDash, didn't we? Or am I misremembering?

[2019-12-14 18:15] sayerhs commented on #469
`git bisect` points to b6e285b44dec (#445) where this error shows up. It is curious that the throw is being handled by `libgcc` instead of `libc++abi` as shown by this dummy example

[code]

[2019-12-14 18:57] sayerhs commented on #469
Chased the issue down to `-Wl,-flat_namespace -Wl,-commons,use_dylibs` linker options being added by CMake since #445. Previous builds did not add these linker options, and the executables run fine. The errors go away if I manually remove these options from the linker line and re-link the executable.

[Link command before b6e285b44dece](https://github.com/Exawind/nalu-wind/files/3964213/link1.txt)

[2019-12-17 16:35] rcknaus commented on #459
Hi,  I'll work on this.  There's a decent chunk associated with the HO master elements that can be deleted too, e.g. ElementCondenser.C

[2019-12-18 17:33] jhux2 commented on #456
Status update

I fixed what ended up being a simple bug in TpetraSegregatedLinearSystem that was causing seg faults and/or bad convergence.  Running ablNeutralEdgeSegregated in two different ways yields:

`use_edges: no`:  continuity and scalar momentum matrix graphs are identical
`use_edges:yes`: scalar momentum matrix graph has more entries than continuity graph

Afaik, figuring out why the grap

[2019-12-18 17:42] rcknaus commented on #456
It looks like the momentum wall function implementation is using the full face element connectivity, more than what continuity uses at the wall.   We could maybe pad the connectivity around the boundaries to always have the full face connectivity, or we could drop connections for the wall function

[2019-12-18 17:46] lucbv commented on #456
@rcknaus thanks for the explanation.
Would it be possible to run all the boundary condition algorithms (for momentum, continuity, etc...) on the "master graph" so that we have all connectivity in place.
We could then use the master graph for all the matrices in the system and simply put default zeroes in entries that are not needed say in the continuity matrix in the case of ablNeutralEdge?

[2019-12-18 17:48] rcknaus commented on #456
Yeah, I think that would be a good solution.

[2019-12-18 18:24] jrood-nrel commented on #469
I am unable to recreate this on my laptop. I am using Apple Clang 9.0 and the Mac test machine tests this as well and it does not recreate this either. Here is what my link line looks like:
[link.txt](https://github.com/Exawind/nalu-wind/files/3979949/link.txt)

[2019-12-18 18:58] sayerhs commented on #469
Are you using MPI from homebrew?

[2019-12-18 18:58] jrood-nrel commented on #469
No

[2019-12-18 19:08] sayerhs commented on #469
OK. So this error is from homebrew/MPI. So are you opposed to reverting the `MPI:CXX` line? If so, I can maintain a local patch and work around this issue.

[2019-12-18 19:09] sayerhs commented on #456
@lucbv If we revert to a single graph, won't all `initialize_connectivity` go through the same graph creation logic and end up the way you describe? @jhux2 had expressed some performance concerns with this approach. I suspect it is not that much but good to test that out.

[2019-12-18 19:27] jhux2 commented on #456
@lucbv wrote:

@sayerhs suggested something along these lines.

[2019-12-18 19:44] jrood-nrel commented on #469
I've never really trusted homebrew's MPI, so if this is exposing something there, I'm more inclined to keep it. Using `MPI::MPI_CXX` for linking seems to be the preferred CMake method, but I think it also introduced the mixed libgfortran warnings for LLVM. With that said, it worked fine before the changes, so I'm not adamant about keeping the changes. I think I'm indifferent to it.

[2019-12-18 19:48] #469 closed

[2019-12-18 20:56] jhux2 commented on #456
@rcknaus I looked in `LowMachEquationSystem.C` to see if there was an obvious way of changing which graph is created, but I don't understand the logic well enough.  I'm guessing that initialize_connectivity() needs to call a different graph setup, but what else has to happen?

[2019-12-18 21:37] sayerhs commented on #456
@jhux2 `initialize_connectivity` is called in https://github.com/Exawind/nalu-wind/blob/73cb4b961434f552b52ccd037281406ca0e247ec/src/SolverAlgorithmDriver.C#L70

which then accesses `linsys_` for the corresponding equation system https://github.com/Exawind/nalu-wind/blob/master/src/LowMachEquationSystem.C#L1016

and then calls the `build*Graph` methods. The first step would be to separate out grap

[2019-12-18 21:46] jhux2 commented on #456
@sayerhs Actually, I've already factored out the crsgraph from LinearSystem.  See my branch https://github.com/jhux2/nalu-wind/tree/crsgraph-refactor.

My question is what needs to change in addition to creating a graph with more connectivity for the physics phases other than momentum.

[2019-12-18 21:48] jhux2 commented on #456
Would it be helpful to create a PR at this point?

[2019-12-18 21:54] sayerhs commented on #456
@jhux2 I am not sure I understand your question. If every `linsys_` instance has the same graph instance, then once all the equation systems call `initialize()` method, the resultant graph will have the connectivity of all the physics involved across all equation systems. There is nothing else that needs to be done to the rest of the code.

Are you asking about the overhead of `build*Graph` calls

[2019-12-18 22:16] jhux2 commented on #456
The current state of my PR is that there is now a separate CrsGraph class.  In each physics phase, the linear system construction first creates a CrsGraph, then creates a matrix.

What I've observed is that the graph sparsity varies for the segregated momentum, depending on whether `use_edges` is true or false.

Before having all physics phases depend on a single CrsGraph (which is the next logica

[2019-12-18 22:29] sayerhs commented on #456
@jhux2 OK. Would it not be possible by simply changing the boundary conditions in the input file to be dirichlet instead of wall function? Can you explain your motivation for changing the code?

[2019-12-18 22:34] jhux2 commented on #456
@sayerhs My goal is just to get the momentum graph to be the same, regardless of `use_edges`.  If this can be done via the input deck and without changing code, then I'm a happy guy.

[2019-12-19 00:55] jhux2 commented on #456
Confirmed that graphs match for the following when activating the Tpetra segregated momentum solve:

__periodic3dEdge__
[code]

__periodic3dElem__
[code]

[2019-12-19 01:30] jhux2 commented on #456
Graphs also match between different phyics for the `airfoilRANSEdge` and airfoilRANSELEM`, respectively, when using the segregated momentum solver.

[2019-12-19 07:27] rcknaus commented on #456
@jhux2 For testing purposes, one solution would be https://github.com/rcknaus/nalu-wind/commit/fb984a8fb81472c2c0ef8578ee6be8a5733f3718 , where I just force all boundary conditions to use the same stencil regardless of whether it's necessary or not.

Which graph methods are called in `initialize_connectivity()` depends on the type of `SolverAlgorithm`s instantiated in the `register_*_algorithm` se

[2019-12-19 14:30] sayerhs opened #475 "LinSys::GlobalOrdinal typedef"
Tpetra recently deprecated the option to enable multiple global ordinal types, and as of this week it is an error to have multiple types turned on. Since Tpetra by default turns on `LONG_LONG`, and Nalu currently has

https://github.com/Exawind/nalu-wind/blob/c04b5bc4ee337dfe17e0a53d2ed618423f2dfb96/include/LinearSolverTypes.h#L66-L68

the user must explicitly turn off `LONG_LONG` or end up with C

[2019-12-19 15:25] alanw0 commented on #475
ok, I think it should be easy to obtain the type from a tpetra macro/typedef.
I'll look into how to do this.

[2019-12-19 17:51] lucbv commented on #475
@sayerhs would it make sense to actually use the same types as Tpetra instead of redefning these types in Nalu? That you would not have to worry about compile Trilinos in a certain way for a Nalu to work correctly.
It seems that @alanw0 is looking into a similar idea?

[2019-12-19 17:54] alanw0 commented on #475
@lucbv yes that's what I meant and didn't say clearly. If you already know how to do this or have a change in progress to do it, please go ahead.

[2019-12-19 18:04] lucbv commented on #475
@alanw0 sure I'll take care of this and have a PR soon

[2019-12-19 18:22] sayerhs commented on #475
@lucbv Thanks for taking this on. What you said in your post was exactly what I was trying to say in my original post when I said _It would be good for Nalu-Wind to switch to Tpetra's default for GlobalOrdinal._.

[2019-12-19 20:26] aprokop commented on #475
There is an ongoing issue that with that change, the spack's Trilinos package has to also be updated, as currently it enables both `long` and `long long`.

[2019-12-19 20:29] sayerhs commented on #475
@aprokop That is very likely because @jrood-nrel created the spack Trilinos package :)

[2019-12-19 21:24] #459 closed

[2019-12-19 23:55] #475 closed

[2019-12-21 14:38] sayerhs opened #479 "Memory errors in nightly tests from #470"
#470 introduced SIGSEGV errors in [nightly tests](https://my.cdash.org/testDetails.php?test=52668260&build=1747633).

@lawrenceccheung: Were regression tests passing on your machine when you submitted the pull request?

[2019-12-22 18:31] lawrenceccheung commented on #479
@sayerhs Thanks for bringing this to my attention, I can also replicate the problem in that regression test.

I think I know what the issue is: the SyntheticLidar module is making a call to the dataprobes and will also need to be updated.  I'll provide a fix to this shortly.

Lawrence

[2019-12-25 20:40] #479 closed

[2020-01-03 16:55] yoonc5536 opened #481 "Manual compilation errors"
Unable to compile for the latest Trilinos and Nalu-wind. It looks like some files are missing. I'm getting the errors such as:
--
[ 77%] Linking CXX executable naluX
[ 78%] Building CXX object CMakeFiles/unittestX.dir/unit_tests/UnitTestGetDofStatus.C.o
[ 78%] Building CXX object CMakeFiles/unittestX.dir/unit_tests/UnitTestHex27FaceNodeOrdering.C.o
[ 78%] Building CXX object CMakeFiles/unittestX.d

[2020-01-03 17:00] jrood-nrel commented on #481
@yoonc5536 Our tests indicate that the latest Nalu-Wind master branch is able to compile with the latest `master` and `develop` branches of Trilinos. The error you are seeing appears to be with an older version of Trilinos, such as a numbered release, which have unfortunately fallen out of date for Nalu-Wind. Try using the `master` or `develop` branch of Trilinos and see if this solves your errors

[2020-01-03 17:04] sayerhs commented on #481
@yoonc5536 The error indicates that one of the Sierra Toolkit (STK) headers are not available in the Trilinos installation. This occurs because Trilinos doesn't have all the STK packages enabled during build. Please make sure that you have a recent version of the `master` branch of Trilinos and have
[code]

during CMake configure. Also make sure that no sub-packages of STK are being turned off man

[2020-01-04 00:34] sayerhs opened #484 "Directory creation logic in `DataProbePostProcessing`"
The current logic for directory creation in https://github.com/Exawind/nalu-wind/blob/db7f81549c54c9caedcf30b0b6698b0ef4de7370/src/DataProbePostProcessing.C#L915-L920 always expects the user to pass a filename with parent directory. If the user requests a file to be created in the current working directory, it creates a directory with the filename instead and so there is no output. The check for `

[2020-01-04 00:38] sayerhs commented on #484
Cc: @lawrenceccheung

[2020-01-04 02:27] lawrenceccheung commented on #484
@sayerhs Yes, that's right.  The current code assumes that `fileName` is of the form `"./filenameprefix"` if it is to be put in the working directory.  As you mentioned, it should be a relatively easy fix with `parent_path()` or possibly some other calls from `boost::filesystem`.  Let me make some modifications to that section.

[2020-01-04 02:35] sayerhs commented on #484
@lawrenceccheung @tonyinme also observed that the Exodus output isn't working correctly. Please take a look at that also when you update the code.

[2020-01-04 02:44] lawrenceccheung commented on #484
Sure.  @tonyinme, what do you see in the Exodus output?   I didn't make any changes to the exodus output code (so sample planes should be output as sample points in the exo file), but I can take a look at anything wrong.

[2020-01-06 18:41] tonyinme commented on #484
hey @lawrenceccheung, I was getting empty exodus files when I tried it.
Were you able to try the code with the exodus file format?
The text format works fine, but not the exodus format.

[2020-01-06 21:08] lawrenceccheung commented on #484
Hi @tonyinme, when I tried the exodus file format, the output files were written correctly and I didn't see any empty ones.  I tried it for both exodus+text and exodus only options, but haven't yet tried various filename combinations.  What did your input file look like?

[2020-01-07 00:43] tonyinme commented on #484
Hey @lawrenceccheung, here is the input I am using.
`
    data_probes:
      output_frequency: 1
      #output_frequency: 100
      #output_format: text
      output_format: exodus
      search_method: stk_kdtree
      search_tolerance: 1.0e-5
      specifications:
        - name: planes
          from_target_part: fluid

#          line_of_site_specifications:
#            - name: probes/probe_pr

[2020-01-07 18:33] lawrenceccheung commented on #484
Hi @tonyinme, I tried out that set of inputs, and the exo files also seemed to be generated correctly.  Let me message you separately on Slack or via email, I'm curious if you can try running a case or two for me to see what's going on.

Lawrence

[2020-01-08 01:29] lawrenceccheung commented on #484
Hi @sayerhs, @tonyinme, I just put in a pull request [485](https://github.com/Exawind/nalu-wind/pull/485) to take of the directory creation logic.

Regarding exodus file creation, the code looks like it is writing the file correctly, except that the exodus format for point probe data is not immediately usable in paraview (but the data is there).  There will need to be some larger changes to the ex

[2020-01-09 00:49] sayerhs commented on #484
Fix implemented in #485

[2020-01-09 00:49] #484 closed

[2020-01-09 00:50] sayerhs commented on #481
Closing due to lack of activity. Please reopen if you have further questions.

[2020-01-09 00:50] #481 closed

[2020-01-09 21:41] lucbv commented on #448
@sayerhs when I try to run a very large problem:
[code]
I have an exception caught by IOSS: `The mesh requires 64-bit integers which can be requested by setting the `INTEGER_SIZE_API=8` property.`
I suspect that I can resolve this by adding something in my input deck to tell IOSS to use 64 bit integers?
I tried adding: `ioss_8bit_ints` to the mesh generation string but that did not resolve my issu

[2020-01-09 21:53] sayerhs commented on #448
Add this environment variable in your job submission script.

[code]

[2020-01-09 22:13] lucbv commented on #448
Thanks, this seems work on my local machine, let me try that on summit...

[2020-01-10 00:57] lucbv commented on #448
@sayerhs I was able to run the following mesh: `500x500x5000` which is 1.25B unknowns, however I have not been successful in running a factor of two higher (2.5B) which would bring me just above the 32 bit integer mark.
Overall the scalling of ablNeutralEdge is working fine and it would be interesting to see if @alanw0 and the stk team can add a repartitioner that would alleviate the z-slices cons

[2020-01-10 01:08] sayerhs commented on #448
@lucbv 👏 on running 1.25B unknowns! that is for the pressure system right? so momentum monolithic solve was above the 32-bit integer limit? What is the error you're seeing when you attempt to do 2.5B unknowns? Or are you just running out of memory?

There is a pull-request in progress (#471) that has the the zoltan based rebalancing. @alanw0 and @jvo1012 can you please comment on whether you guys

[2020-01-10 01:12] sayerhs commented on #448
@lucbv I just looked at the log file. Momentum and Continuity are hitting 75 iterations at times. May be we should have another run with max-iterations for linear solver set to 200 or so to make sure that the system is really converging?

[2020-01-10 14:10] sayerhs commented on #448
@lucbv I've merged #471 to `master`. Can you give the rebalance options a try with your large meshes?

Example input file with necessary options to enable rebalancing and, optionally, node balancing: [abl_gpu.yaml.txt](https://github.com/Exawind/nalu-wind/files/4046004/abl_gpu.yaml.txt)

[2020-01-10 16:07] lucbv commented on #448
@sayerhs I will try the new repartitioning and also to allow the linear solver to iterate further to observe convergence.
I notice that somehow the initial time steps are more difficult to solve, it seems that after a while it settles to a reasonable number of iterations.

@alanw0 @jvo1012 : Zoltan2 should have a multijagged option that does not require coordinates if you want to test graph based

[2020-01-10 16:13] lucbv commented on #448
@sayerhs regarding the 2.5B nodes job, I think it might hanging before it gets to the linear system which means it might still have been working on data that fit in an int32 for the 1.25B nodes job...
It would be worth implementing a test that generates IDs that are larger than 2.5B and see if runs properly... the large simulations are quite costly and already used about 10% of our summit allocati

[2020-01-10 16:14] lucbv commented on #448
Attaching the log file for the 2.5B simulation
[ablNeutralEdge_500x500x10000.log](https://github.com/Exawind/nalu-wind/files/4046521/ablNeutralEdge_500x500x10000.log)

[2020-01-10 17:00] sayerhs commented on #448
@lucbv Thanks for the log file, I think I know what might be causing the issue. I don't think it is an issue with equation systems, but instead with the logic for BoundaryLayerStatistics. If you want to attempt another run, here is a modified input file: [abl_gpu_int64_check.yaml.txt](https://github.com/Exawind/nalu-wind/files/4046737/abl_gpu_int64_check.yaml.txt). You'll want to `tail -f` the log

[2020-01-10 17:02] sayerhs commented on #448
Meanwhile, I'll try to contrive a large integer test that could test various parts of the code without actually having to do a large mesh run.

[2020-01-10 19:01] lucbv commented on #448
@sayerhs @alanw0 @jvo1012
Still having issues with the repartitioning, I am trying to run ablNeutralEdge at a 2.5m resolution which leads to the following number of cells: `2000x2000x400`.
At this resolution a single z-layer contains 4M cells, a bit more nodes than that... but I cannot run more than 1.5M nodes per GPU.
Here I tried to be greedy and only used 1000 GPUs which corresponds to 1.6M unk

[2020-01-10 19:14] sayerhs commented on #448
@lucbv You can try using `stk_balance_m2n.exe` in `trilinos/bin` directory (assuming your CMake configure matched the `exawind-builder` one). Try

[code]

Other solutions are more cumbersome, but we can explore those if necessary.

@alanw0 @jvo1012  any alternate suggestions?

[2020-01-10 19:22] alanw0 commented on #448
@lucbv What about adjusting your generated-mesh string to be '2000x400x2000' instead of '2000x2000x400'. That way your z dimension would be big enough so IOSS wouldn't complain. The shape of the mesh shouldn't matter because stk-balance is going to repartition it according to RCB anyway.

[2020-01-10 19:25] alanw0 commented on #448
@lucbv I guess maybe the shape of the mesh matters mathematically. But hopefully you can find a configuration that gets past the ioss error and then stk-balance will repartition it so that it runs decently.

[2020-01-10 19:28] alanw0 commented on #448
@lucbv In case we haven't explicitly said this before: the ioss constraint is that the z dimension must be at least as big as the number of mpi ranks.

[2020-01-10 20:16] lucbv commented on #448
@alanw0 I think for the time being the easiest is indeed to permute the geometric directions and adjust BCs accordingly, for instance `(z, x, y)` instead of `(x, y, z)` as you mentioned above will work.
But for the finest resolution that I discussed with @sayerhs : 1m resolution on a 5k x 5k x 1k geometry the smallest face will contain 5M nodes which is still too many nodes for a single GPU. When/

[2020-01-13 15:29] alanw0 commented on #448
@lucbv are you saying that permuting the directions is ok for the 2000x400x2000 case but 5000x1000x5000 wouldn't work similarly?

[2020-01-13 15:31] lucbv commented on #448
@alanw0 yes, at the finest resolution with the current constraints we would need to solve a 5000x1000 problem per GPU which is too large to fit in device memory.

[2020-01-13 15:39] alanw0 commented on #448
@lucbv  so if the geometry needs to stay that shape, but we need to use more than 5000 mpi ranks in order to make it fit, is it worthwhile for us to look into removing the IOSS restriction on the z dimension? Or is this not really an issue since you don't need to run that fine for this milestone? It might be worthwhile to remove the restriction anyway if possible...

[2020-01-13 18:44] sayerhs commented on #448
@alanw0 What if we generate a `5000x5000x1000` mesh on CPU, write it out to disk, and then use `stk_balance_m2n.exe` to rebalance the mesh and then use that as input to Luc's runs?

[2020-01-13 23:16] alanw0 commented on #448
@sayerhs Yes that is the kind of thing that stk_balance_m2n is meant for. My only reservation is that stk_balance_m2n is still relatively early in the development cycle, we haven't yet established a lot of confidence in it. But this would be an interesting test for it. stk_balance_m2n needs to run on 'm' mpi ranks, which is the number of ranks that the mesh is currently decomposed for, and you spe

[2020-01-13 23:23] sayerhs commented on #448
@alanw0 I think Luc's comment was regarding GPU memory. Summit node has 512GB ram, and since the initial mesh generation and `stk_balance_m2n` is supposed to run entirely on the host, we should be good correct? Also we can undersubscribe the nodes and not pack as many MPI ranks per node as we would to utilize all the available cores on the CPU.

[2020-01-13 23:32] alanw0 commented on #448
@sayerhs yes since there is more ram on the host side, maybe this scenario has a good chance of succeeding.

[2020-01-14 23:14] lucbv opened #489 "Hypre test not guarded properly"
## Detailed description of the bug

New tests have been added that use Hypre as a solver but are not guarded properly which leads to failing tests when developing with the Trilinos stack

### Details to reproduce bug/build error

1. 3b6cebe
1. just running: ctest -R
1.

[2020-01-15 01:17] #489 closed

[2020-01-15 14:23] lucbv commented on #448
@sayerhs
I have attempted a 2.5B run again and this time the code went further but I something must be wrong with the input deck I am using as I get the following error:
[code]
I am attaching my [input deck](https://github.com/Exawind/nalu-wind/files/4065295/abl_gpu.yaml.i.txt)
 and the two output files:
[ablNeutralEdge_rcb.log](https://github.com/Exawind/nalu-wind/files/4065291/ablNeutralEdge_rcb

[2020-01-15 14:27] lucbv commented on #448
I could re-run this with the input block for the forcing term un-commented and see if it goes further or not?
But let me know if you think there is a chance for a piece of code that's not `long long` ready to be triggered by that block.
Finally this run stayed in the queue for a bit of time since it requires about 10% of summit to run, we might not get further results at that scale before the meet

[2020-01-15 14:43] sayerhs commented on #448
@lucbv In the [input file I had attached previously](https://github.com/Exawind/nalu-wind/files/4046737/abl_gpu_int64_check.yaml.txt) I had commented out line 223. It looks like in your input file you hadn't made that change, that's the reason you're seeing this error. This doesn't have anything to do with 64-bit integers.

[2020-01-15 14:46] lucbv commented on #448
My bad, I did not notice that line, I have modified my input deck and resubmitted the job, I'll keep you posted.

[2020-01-15 22:43] sayerhs commented on #448
@lucbv The `ablNeutralEdge` regression test has cell size of 40m. For this mesh, we are using the same timestep as we would normally use for a 10m cell size (=0.5s) and this gives a CFL=0.1. As long as we stay below `CFL < 0.5` we are fine using the same timestep size for the different mesh resolutions studied. So if you go to cell sizes of 5m or smaller, then you'd want to start dropping the time

[2020-01-16 15:43] lucbv commented on #453
@sayerhs after work in trilinos this does not seem to be an issue anymore, should we close this?

[2020-01-16 15:50] #453 closed

[2020-01-16 15:51] sayerhs commented on #198
Code deprecated in #472

[2020-01-16 15:51] #198 closed

[2020-01-16 15:52] sayerhs commented on #186
Fixed in #427

[2020-01-16 15:52] #186 closed

[2020-01-16 15:53] lucbv opened #492 "Adding airfoil test using MueLu"
@sayerhs @jhux2
Setting up airfoilRANSEdge/airfoilRANSElem tests using Trilinos to allow easier testing of inflow/outflow and Dirichlet boundary conditions on Summit once Kokkos refactor is completed.
This also would show which input deck/xml should be used for high aspect ratio elements with MueLu.

[2020-01-16 15:53] sayerhs commented on #233
Fixed in #438

[2020-01-16 15:53] #233 closed

[2020-01-16 15:54] sayerhs commented on #492
That would be great, but please don't change the `airfoilRANSEdge` to `airfoilRANSEdgeHypre`, I'm too used to `ctest -R airfoilRANSEdge` 😉

[2020-01-16 15:56] lucbv commented on #492
Yep, I already started with `airfoilRANSEdge_trilinos` but it might make more sense to name it `airfoilRANSEdgeTrilinos`...

[2020-01-16 20:37] #492 closed

[2020-01-21 19:43] lucbv opened #497 "TpetraLinearSystem creation fails on Summit"
## Detailed description of the bug

All unit-tests are failing on summit with the following error:
[code]
I have hacked CMakeFiles.txt to allow `ctest -V -R` to run correctly on summit...

### Details to reproduce bug/build error

1. SHA ID of the Nalu-Wind: `c678ef0587d33bed781a22b98f06bf0241b641d8`
1. Configure command [configure_nalu_host.sh.txt](https://github.com/Exawind/nalu-wind/files/40930

[2020-01-21 19:46] sayerhs commented on #497
@lucbv Do you have the output of your Trilinos build? Particularly

[code]

[2020-01-21 19:49] lucbv commented on #497
Yes I kept my trilinos configuration output:
[configure_trilinos_host.log](https://github.com/Exawind/nalu-wind/files/4093365/configure_trilinos_host.log)

[2020-01-21 19:52] lucbv commented on #497
@sayerhs I have a CUDA build that works fine and I also have a local build on my workstation that works fine but for some reason Serial on Summit is causing problems...

[2020-01-22 15:29] psakievich commented on #497
I was seeing this error as well on Ghost, but I updated Trilinos and it seems to have abated.

[2020-01-22 17:47] sayerhs commented on #497
@lucbv I am unable to reproduce this error on ORNL Summit with a CPU-only build

[code]

[2020-01-22 21:06] lucbv commented on #497
@sayerhs a new trilinos was required, I'm surprised that this problem was not seen within trilinos...

[2020-01-22 21:06] #497 closed

[2020-01-22 22:02] rcknaus opened #498 "Capability deprecation in nalu-wind"
Here's a short list of things that we can consider getting rid of in nalu-wind.  Not really meant as a full list or anything---I just want to start off the discussion.

-----
Percept-based, dynamic mesh adaptation:
What is it: conformal refinement of meshes given a chosen error estimator during a simulation
  - Reason for deleting:  unstructured, in-situ adaptation never really proven to be effect

[2020-01-22 22:18] sayerhs commented on #498
@rcknaus Thanks for starting this list.

I agree with deprecating Percept-based mesh adaptivity (already removed in NaluCFD/Nalu), PMR, CHT, and Flamelets stuff. It will be there in the git-history if we need to dig these up.

Regarding 2D, most of the element types have been  migrated to NGP. However, it would be great to be able to make `ndim` a compile time `constexpr` in several places.

Regar

[2020-01-22 23:04] rcknaus commented on #498
For offshore, I don't know the plan, but saying it's some level-set/volume of fluid variant then the solution process is different enough that we probably just want it to have its own equation system anyway.

[2020-01-23 23:04] lawrenceccheung opened #499 "Temperature flux statistics in BdyLayerStatistics.C"
## Detailed description of the bug

I'm getting some strange results for the temperature flux quantities (`temperature_resolved_flux`) coming out of the ABL statistics routines:
![image](https://user-images.githubusercontent.com/15526007/73031325-a3eec100-3df0-11ea-907f-5741c7532530.png)

For a neutral ABL, I would expect that the <T'w'> flux to be basically zero, and the magnitudes of these value

[2020-01-23 23:29] sayerhs commented on #499
@lawrenceccheung yes. You are correct that the second argument to the`ngp::Field::get` method should be the index `d`. Please submit a bug fix.

[2020-01-23 23:49] lawrenceccheung commented on #499
@sayerhs Will do.  Let me try this change, and if it solves the problem, I'll put in a bug fix.

[2020-01-24 01:46] lucbv commented on #499
@lawrenceccheung if you can add a test that fails with the current bug that would be extra nice : )

[2020-01-24 23:24] sayerhs opened #501 "GPU: Error in velocity field initialization for ABL simulations"
Initial conditions are not set up correctly when ABL simulation is executed on GPUs. This is because the `CopyFieldAlgorithm`

https://github.com/Exawind/nalu-wind/blob/169ee7367e8df7e56da14554f09c2c240f4a8d5f/src/LowMachEquationSystem.C#L1926-L1929

executes on device (pulling velocity field to GPU) before the `boundary_layer_perturbation` aux function is executed (on host)

https://github.com/Ex

[2020-01-26 02:33] #501 closed

[2020-01-26 16:21] sayerhs opened #502 "StkFieldAdapter::set_all does not reset all components"
Pull request #495 removed

[code]

and replaced it with

[code]

However, this does not work as intended on [`StkFieldAdapter::set_all` interface](https://github.com/trilinos/Trilinos/blob/496de8209c83846169d0651de19aaa24d10a2ac6/packages/stk/stk_ngp/stk_ngp/NgpField.hpp#L104-L110). The implementation only sets the first entry of a multi-dimensional data structure per entity and does not loop over

[2020-01-27 01:15] alanw0 commented on #502
@sayerhs I will open a bug-report ticket for the stk team and we'll get this fixed right away.

[2020-01-27 03:27] sayerhs opened #504 "Failing test 'airfoilRANSElemTrilinos' on macOS"
`airfoilRANSElemTrilinos` is failing with a very high diff on macOS ([CDash](https://my.cdash.org/testDetails.php?test=53751805&build=1764871)). Is this expected behavior or is there something peculiar going on that must be investigated?

[2020-01-27 17:12] lucbv commented on #504
@sayerhs unfortunately I cannot reproduce these since the only macOS machine I have access to right now is my laptop which I do not use for development so it does not have a tool-chain ready to build code.
Is there a way to get a little more output to have an idea of where things might go wrong?

[2020-01-27 17:14] sayerhs commented on #504
@lucbv Let me turn up the verbosity and rerun the case and share the log files. Hopefully, that is useful.

[2020-01-27 22:31] lawrenceccheung commented on #499
@sayerhs Okay, so changing the second argument to `ngp::Field::get` solved my immediate problem, and now `temperature_resolved_flux` looks much more reasonable.

However, there's another issue in the ABL stats which has come up.  It looks like the `'velocity_tavg'` profiles are off from the `'velocity'` by a factor of rho (for simulations where rho != 1.0).  I think it's also throwing off the prof

[2020-01-27 22:33] lawrenceccheung commented on #499
Alan (@alhs6577) and I also think that it would be a good idea to do a full comparison of the ABL statistics between the older Nalu-Wind version and one from the post-NGP modifications.

@lucbv Yes, once we iron out all of bugs, we should definitely create a test so the ABL statistics can be tested in future releases.

[2020-01-27 23:24] sayerhs commented on #499
@lawrenceccheung multiplication by `rho` in line 766 is the likely culprit https://github.com/Exawind/nalu-wind/blob/9b96b0af51b70459fe3e83ddf09160b7de3e5486/src/TurbulenceAveragingPostProcessing.C#L758-L770

[2020-01-27 23:33] lawrenceccheung commented on #499
@sayerhs Thanks Shreyas.
One question, though.  In [BdyLayerStatistics](https://github.com/Exawind/nalu-wind/blob/master/src/wind_energy/BdyLayerStatistics.C#L349), it's pulling the time average from the resolved averages:
[code]
Does that mean the resolved quantities in [line 800](https://github.com/Exawind/nalu-wind/blob/master/src/TurbulenceAveragingPostProcessing.C#L800) should also not have a

[2020-01-27 23:39] sayerhs commented on #499
@lawrenceccheung Pre-NGP all resolved quantities were computed with multiplication of density. So we can either divide by `density_ra` at this point in `TurbulentPostProcessing` as is done with Favre, or not skip the multiplication by `rho` and normalization by `rhoAvg` in
https://github.com/Exawind/nalu-wind/blob/9b96b0af51b70459fe3e83ddf09160b7de3e5486/src/wind_energy/BdyLayerStatistics.C#L393-L

[2020-01-27 23:42] sayerhs commented on #499
@lawrenceccheung For reference here is the pre-NGP `BdyLayerStatistics.C`

https://github.com/Exawind/nalu-wind/blob/db057d8f620b0b4da58029fe91075cb5b02b4c94/src/wind_energy/BdyLayerStatistics.C#L320-L366

[2020-01-27 23:54] lawrenceccheung commented on #499
@sayerhs Yeah, I can just change the calculation in `BdyLayerStatistics.C` to keep things consistent with pre-NGP and try to minimize the confusion.

But there's always a finite probability that any change I make will break something else unintentionally, so we should test out these statistics comprehensively...

[2020-01-28 16:21] sayerhs commented on #336
@overfelt @alanw0 For the conversion of `AssembleCourantReynoldsElemAlgorithm`, here is what I had in mind:

- Use [MdotAlgDriver](https://github.com/Exawind/nalu-wind/blob/master/src/ngp_algorithms/MdotAlgDriver.C) and its interior algorithm as template for conversion.

- An example of an element reduction with MasterElement

https://github.com/Exawind/nalu-wind/blob/4c430563cd3b2c9443d871874b174

[2020-01-28 23:37] lawrenceccheung commented on #499
I tested the changes and they seem to address the issues I was seeing.   The changes are in the pull request [506](https://github.com/Exawind/nalu-wind/pull/506), but @sayerhs you may have gotten to it already.

Lawrence

[2020-01-28 23:50] sayerhs commented on #499
@lawrenceccheung I tried to address that and another issue in RANS averaging in this commit 4c430563cd3b2c9443d871874b174132cd51fe4c

[2020-01-29 19:40] jhux2 commented on #456
I've returned to working on this.  It appears that we'll need something like @lucbv suggested.  Different physics are creating different stencils.  For example, below  is the ablNeutralEdge regression test, where one can see different graph calls for the different physics, and reusing the graph between continuity and enthalpy fails on 8 MPI ranks.

Question:  Would it be reasonable to do what @rck

[2020-01-29 19:45] sayerhs commented on #456
@jhux2 if you call `buildElemToNodeGraph` for interior and `buildFaceElemToNodeGraph` for boundaries, all these should collapse into the same graph.

[2020-01-29 19:49] lucbv commented on #456
@sayerhs would it then make sense to only use these to graphs and remove the others?
It would simplify the code base and probably would not cost much more computationally.

Jonathan is trying to build the CrsGraph once per time step, the different equations in the system would then share the same graph

[2020-01-29 19:49] jhux2 commented on #456
If I allow Continuity and Enthalpy to each build their own CrsGraph, the test passes.  If Enthalpy uses the graph that Continuity built, the test fails.

[2020-01-29 19:52] sayerhs commented on #456
@jhux2 Thanks, I think the solution would then be to use `buildElemToNodeGraph` and `buildFaceElemToNodeGraph` for all use cases and then we will have the full connectivity for all the different possible BCs across all equation systems. I think this is along the lines of what @rcknaus suggested in a previous post.

The question for you and @lucbv is: what happens if the stencil for a row has 27 en

[2020-01-29 19:56] lucbv commented on #456
@sayerhs usually I am happy to trade a little more flop if I can save some communication.
In this case the overall increase of entries in the matrix is modest enough at large scale that it would not be very noticeable. On smaller meshes where the extrior/interior ratio gets high you could argue that less entries is better, but that's not the regime we are targeting.

[2020-01-29 19:57] lucbv commented on #456
By the way if you call `buildElemToNodeGraph` and `buildFaceElemToNodeGraph` you do end up with the extra zero entries anyway right?

[2020-01-29 19:59] jhux2 commented on #456
@sayerhs  Thank you.  Would it be sufficient to use @rcknaus's patch, https://github.com/rcknaus/nalu-wind/commit/fb984a8fb81472c2c0ef8578ee6be8a5733f3718?

[2020-01-29 20:02] sayerhs commented on #456
@lucbv Yeah, that's why I was asking about the potential performance impacts. If we replace `buildEdgeToNodeGraph` with `buildElemToNodeGraph` that will increase the stencil for an internal DOF from 7 to 27 but most of those will be zeros when using edge algorithms. Similarly, `FaceElemToNode` will add connectivity to internal nodes when processing boundary faces which are not used for several of

[2020-01-30 17:56] lawrenceccheung opened #509 "Bug in BdyHeightAlgorithm"
## Detailed description of the bug

I created a mesh with deltaZ = 20/3 = 6.666666... meters, and it seems to have screwed up the ABL height algorithm.  Every third height seems to record NaNs for the statistics, like in the below  `abl_velocity_stats.dat`:

[code]

I''m going through the code, and it looks like the problem is coming from `BdyHeightAlgorithm.C`.  In [`RectilinearMeshHeightAlg::cal

[2020-01-30 18:22] sayerhs commented on #509
@lawrenceccheung Did you try changing the `height_multiplier` to `1e6`?

https://github.com/Exawind/nalu-wind/blob/6457a66312f3b36e0cb222dc26143528f44b2253/src/wind_energy/BdyHeightAlgorithm.C#L42

[2020-01-30 18:41] lawrenceccheung commented on #509
@sayerhs Good thought.  I just tried that on my test case, and it also works.  I'll still put in a bug fix, though, so future users don't have to worry about the right value to use for their mesh.

[2020-01-30 18:43] sayerhs commented on #509
My preferred pathway would be to change the defaults of `heightMultiplier_` to be a large value instead of tweaking `eps`. We want the _nudge value_ to be smaller than `1 / heightMultiplier_` if you want to do something like `eps = 0.01 / heightMultiplier_` that might be OK, but I would still be leery of that.

[2020-01-30 18:57] lawrenceccheung commented on #509
@sayerhs Because of the way things are rounded, I think the minimum value for eps would have to be something like `eps = 0.5/heightMultiplier`.  (I just tried `0.01/heightMultiplier_` on my test case, and that didn't work).

Another option would be to `floor` instead of `round` in the int conversion, like:
[code]
so that adding any epsilon value will make `find_index()` bin upwards appropriately.

[2020-01-31 15:12] sayerhs opened #511 "CDash: Memory leak when using TIOGA's solution interpolation"
#507 Introduced the option to use TIOGA's native solution exchange capability to perform overset fringe solution updates. This exposed memory leaks in TIOGA. Pull request has been submitted to [TIOGA repo](jsitaraman/tioga#14).

[2020-01-31 19:51] jhux2 commented on #456
As suggested, I've added calls to `buildElemToNodeGraph` and `buildFaceElemToNodeGraph` to certain calls to `initialize_connectivity`.  I found that I could not do this everywhere.  Adding to the method in `AssembleContinuityNonConformalSolverAlgorithm` caused numerous failures in the `dgNonConformal*` tests, and adding to `AssembleEdgeSolverAlgorithm` caused failures in `ekmanSpiral` and `fluidsP

[2020-01-31 19:54] jhux2 commented on #456
Tests currently failing:
[code]

I'm looking at the `abl*` tests, which have "hard" failures.  The others are tolerance differences:

[code]

[2020-01-31 19:58] sayerhs commented on #456
@jhux2 Sorry, I should have clarified that we need to keep the non-conformal and overset graph additions as they are adding connections to completely arbitrary elements. However, they will be the same for all equation systems. Can you share the output from one of the hard failures? `ablNeutralEdge` would be good.

[2020-01-31 20:05] jhux2 commented on #456
Here are the logs for `ablNeutralEdge`.

[ablNeutralEdge.log](https://github.com/Exawind/nalu-wind/files/4141214/ablNeutralEdge.log)
[screen.txt](https://github.com/Exawind/nalu-wind/files/4141215/screen.txt)

[2020-01-31 20:28] sayerhs commented on #456
@jhux2 Are you sure that the log file you posted is from the latest run (corresponding to output on `screen.txt`)? It looks like a fully complete run, so thought I'd check. The stacktrace doesn't have any file info, it is difficult to confirm from that.

[2020-01-31 20:32] jhux2 commented on #456
@sayerhs Yes, `ablNeutralEdge.log` ends where Nalu seg faults.  Note the lack of timers.  The result of the seg fault is captured in `screen.txt`.

[2020-01-31 20:33] jhux2 commented on #456
I'm guessing that the graph for enthalpy should be different from continuity in some way.

[2020-01-31 20:35] jhux2 commented on #456
I've added some additional runtime printing in the assembly:
[code]

[2020-01-31 20:45] sayerhs commented on #456
@jhux2 I guess I don't fully understand what you are trying to do. The printout indicates that `Enthalpy` is also calling the `build*Graph` methods and populating connections, so how would it matter if Continuity is different from Enthalpy?

[2020-01-31 21:25] lawrenceccheung commented on #509
Problem addressed in pull request [510](https://github.com/Exawind/nalu-wind/pull/510).

[2020-01-31 21:25] #509 closed

[2020-02-01 18:34] sayerhs commented on #456
@jhux2 I added a couple of commits to the [branch](https://github.com/sayerhs/nalu-wind/commits/crsgraph-refactor) that addresses some of the issues you are seeing. With this you should not see the segfaults.  Main changes

- Pre-populate graph connectivities using the interior and boundary condition parts stored in Realm.
- Make `TpetraLinearSystem::build*NodeGraph` calls essentially no-op. I kep

[2020-02-03 13:50] sayerhs commented on #511
Fixed in jsitaraman/tioga#14

[2020-02-03 13:50] #511 closed

[2020-02-08 00:09] lucbv commented on #448
Quick update on this topic, I generated a few meshes using the `abl_mesh` tool from wind-utils.
Having mesh written to file allows me to use any number of ranks, alleviating the issues I am having with the Ioss inline mesh generator.
However I cannot seem to break the 2B barrier with the generator.

Using the generated mesh and Nalu-Wind at commit:
[code]
I am able to run both strong and weak scal

[2020-02-08 00:12] lucbv commented on #448
@alanw0
when I try to generate a mesh with 4000x4000x800 nodes  (about 13B nodes), I am getting the following error message:
[code]

[2020-02-08 00:22] sayerhs commented on #448
@lucbv this might be an issue with wind-utils and not STK. I'll have to take a look at the mesh generation code.

[2020-02-08 00:31] alanw0 commented on #448
@lucbv that error does seem to indicate that something overflowed. I know we have used generated-mesh to go beyond the 32bit limit in the last year or two. The env-vars in your script (INTEGER_SIZE_API etc) seem like the right things to set to make it work... I'm going to mention Greg Sjaardema @gsjaardema and see if he has suggestions for things to check.

[2020-02-08 16:20] sayerhs commented on #448
@lucbv There were a few inconsistent `int` `stk::mesh::EntityId` types mixed in `abl_mesh`. I pushed a commit exawind/wind-utils@453548fb724e3a Can you please use that?

@alanw0 This wasn't using the `generated:` mesh, but using one of the ABL utilities. So the error wasn't inside SEACAS/IOSS, so please hold off on contacting Greg.

[2020-02-08 16:35] alanw0 commented on #448
@sayerhs thanks for the clarification. I did already mention Greg... Greg if you do see this, sorry for the false alarm.

[2020-02-08 21:33] sayerhs commented on #448
@alanw0 So the changes I made to wind-utils got rid of the overflow, but then it fails during the output of the mesh file with this error

[code]

[2020-02-08 22:58] sayerhs commented on #448
@alanw0 @lucbv OK. Chased down the issue to the old NetCDF (4.4.1.1) version that I was using on Summit. On NREL Eagle where we have newer NetCDF (4.6.1) I was able to successfully generate the 12.8B grid

[code]

[code]

[2020-02-08 23:53] sayerhs opened #516 "MueLu CMake messages"
I am seeing the following message when configuring Trilinos

[code]

[Trilinos CMake configure](https://github.com/sayerhs/exawind-builder/blob/e0accb09de1db55cf5541f23c077fc73a7a03148/codes/trilinos.bash#L103-L105) only has

[code]

So what should I add/remove to make this message go away.

Trilinos SHA ID: trilinos/trilinos@1d68e34cd4b78b762fc38a0f585b9f30bdfeb6c4

[2020-02-09 23:36] lucbv commented on #516
@sayerhs to disable deprecated code you need to add the following to your CMake configuration:
[code]
we keep this on by default for nut-testing I think.
Regarding the tutorial message, I will have a look, I don't think you should see this since you are not requesting for the tutorial to be built.

[2020-02-09 23:53] lucbv commented on #448
@sayerhs thanks for the update, this is good news. I am still trying to assess whether a problem larger than 2B unknowns works correctly on GPUs.
I'm considering how to assess that correctly on Summit without burning much compute allocation uselessly... Also I think that is the only unresolved question related to this issue.

[2020-02-09 23:56] sayerhs commented on #448
@lucbv I also created a ~6B mesh yesterday as I was testing things with the mesh generator. I can attempt to transfer that from eagle to summit, if that'd be of interest. I can try to transfer the 12.8B mesh too, but I am not very confident it will succeed.

[2020-02-10 00:15] lucbv commented on #448
@sayerhs it's OK I have spotted your new install of `netcdf-c-4.7.1` and `parallel-netcdf-1.11.2` on Summit, if you don't mind I think I will shamelessly link against that in my next build and should be able to get the job done that way.
In general I think that the `/gpfs/alpine/proj-shared/cfd116` is the good spot to put meshes temporarily while we work on milestones and such but that storage get

[2020-02-10 00:21] lucbv commented on #448
We might try to use the `hsi` utility for long term storage of large files I'm not sure if it is worth it or not?

[2020-02-10 14:22] sayerhs commented on #448
@lucbv The intent was that we could all use the same build of common dependencies, so please do link against the spack builds rather than duplicating those. However, I had submitted a 12.8B mesh job on Summit yesterday and that seems to have failed during file write to disk (see output below). @alanw0 Would  you have any insight as to these? The BSUB arguments and jsrun command is also pasted belo

[2020-02-10 15:32] alanw0 commented on #448
@sayerhs I don't have any insight into this currently. I wonder if it would give a better stack-trace if you did a 'RelWithDebInfo' build or whatever that's specifically called.

[2020-02-10 22:56] lucbv opened #518 "STK drops BoostLib dependency impact on Nalu"
The latest snapshot of STK in Trilinos has removed some dependencies on Boost, it seems that the current logic in Nalu's CMake will not be sufficient to build with the new Trilinos version...
For instance the following line:
[code]
should also probably require `program_options` component as we are using it in Nalu.C

[2020-02-10 23:09] sayerhs commented on #518
@lucbv This was supposed to have already addressed by @alanw0 in #513. Are you still having build issues?

[2020-02-10 23:13] alanw0 commented on #518
@lucbv You're right, that stk change did cause a link issue for nalu-wind, but like Shreyas says, #513 fixed it so if you pull nalu-wind it should resolve that.

[2020-02-10 23:21] lucbv commented on #518
I was compiling Nalu on the Feb 3 commit,  just one commit away from @alanw0 fix : (
By the way going from
[code]
to
[code]
in Nalu-Wind main CMakeFile.txt also fixes the issue without code changes,  but I guess that relying on boost a bit less is better...

[2020-02-10 23:21] #518 closed

[2020-02-10 23:42] alanw0 commented on #518
@lucbv your cmake fu is stronger than mine, I didn't know it was that easy to make nalu find boost. However, I do also like the idea of using boost less, especially non-header-only libs like program_options.

[2020-02-13 15:00] jrood-nrel opened #519 "Actuator disk problems in clang"
The actuator disk test has been having errors with clang. Clang runs the address sanitizer, but I can't tell if it is reporting any issues due to the error or if it's just an error clang exposes.

https://my.cdash.org/testDetails.php?test=54287434&build=1774125

[2020-02-13 23:43] psakievich opened #520 "Missing header from commit 0992e"
It appears the header npg_algorithms/CourantReReduceHelper.h was not added in commit 0992e0dc494675d7359335860959d62280758d72

[2020-02-14 00:05] #520 closed

[2020-02-14 03:28] psakievich commented on #519
I'm working on this.  Trying to throw a clang build together.  Doesn't look like asan based on the output though.

[2020-02-14 05:50] psakievich commented on #519
I could not reproduce this error with clang 7.0.0.  I'm trying turning on address sanitizer but I can't seem to get past the memory leak in yaml-cpp with asan.  I've tried copying @jrood-nrel 's blacklist script from the nightly test, but it's still hanging there.  I'll look at it more tomorrow.

[2020-02-14 18:33] yoonc5536 opened #521 "Failed running turbine_uniform_inflow & wind_farm/case3 example cases."
## Detailed description of the bug

Failed running turbine_uniform_inflow & wind_farm/case3 example cases. It is difficult to track which part of the code causes the issue.

### Details to reproduce bug/build error

1. SHA ID of the Nalu-Wind commit you are using
d503c4e7fef16d0d7ec5ebfcb306d00e66f54e77

1. Configure command [attach file]
No errors
1. CMake configure output [attach file]
No errors

[2020-02-14 20:39] sayerhs opened #522 "Nalu-wind build times on ORNL Summit for GPU builds"
I am creating this issue to track nalu-wind build times on ORNL Summit GPU builds. Currently, Summit login nodes will kill a nalu-wind build job if it uses more than 8 parallel jobs (i.e., `-j 8` or lower will succeed, but `-j 16` or such will die with

[code]

For comparison, this doesn't happen when building trilinos where I am able to use a default of `-j 16`.

A fresh build of `nalu-wind` on s

[2020-02-14 20:49] alanw0 commented on #522
@sayerhs That's great, I'm glad you were able to get the per-target build times. It looks like the ngp_algorithms files are the worst offenders. I think any compilation-unit with cuda code has to be compiled twice, and then templating probably compounds that. I wonder if we have any ngp kernels in headers that can be moved to .C files, or if we have too much code in headers in general, and could m

[2020-02-14 20:53] alanw0 commented on #522
@sayerhs One more thing: the stk ngp stuff could be a culprit, it is all header-only, and perhaps much of it doesn't need to be header-only. I'll look into that.

[2020-02-14 21:28] alanw0 commented on #522
@sayerhs Just from browsing the code, I wonder if we could reduce build times by splitting NgpLoopUtils.h into several separate headers. For instance I see that many .C files call run_entity_algorithm but not run_entity_par_reduce or vice-versa, and same with the run_face_elem_ variants. Also, some .C files call a run_entity_ variant but not run_face_elem_ and vice-versa. So if we split up NgpLoop

[2020-02-14 22:50] sayerhs commented on #522
@alanw0 I did some experiments on build times for `src/ngp_algorithms/NodalGradPOpenBoundaryAlg.C`. Just compiling that file alone again and again gives approximately `~122s` for the build in `.ninja_log`.

Next, I removed all the templated functions in `include/ngp_utils/NgpLoopUtils.h` except `run_face_elem_algorithm` (and things called by it). This still gave build time for this file around `~1

[2020-02-14 23:03] alanw0 commented on #522
@sayerhs that's interesting. In general, are we instantiating more than we need to? For debugging a particular case, can you still link if you only instantiate for the element type that you know you will need?

[2020-02-14 23:14] sayerhs commented on #522
@alanw0 Since we use `stk::mesh::Part::topology()` at runtime to determine which exact instantiation we will use, we will need all the possible combinations instantiated. See the following functions for example

https://github.com/Exawind/nalu-wind/blob/78ebed21e86e90c039d4765a9c325fe049d890eb/include/ngp_utils/NgpCreateElemInstance.h#L121-L125

https://github.com/Exawind/nalu-wind/blob/78ebed21e8

[2020-02-17 15:18] psakievich commented on #519
I was able to reproduce with asan turned on.  Some entity in the map isn't tagged correctly when the actuator disk is looping over elements to spread the forces but it doesn't appear to affect the results. I'll give it a little look today, but unless I see a clear fix I'd rather just wait for the refactor which will eliminate this.

[2020-02-17 19:29] psakievich commented on #519
I stand corrected.  Pretty bad memory leak.  Addressed in #524

[2020-02-18 18:59] sayerhs commented on #521
@yoonc5536 Thanks for reporting the issue we will look into this. A couple of requests:

- Instead of pasting the contents into the github issue comment box, can you please upload the file? It will be easier for us to parse those.

- We recently had some updates to OpenFAST that requires a change in the AeroDyn input file. While we had made some updates to the regression tests, those might not hav

[2020-02-18 21:45] yoonc5536 commented on #521
Thank you for your feedback. I will try this these regression test cases and update you.

[2020-02-18 23:13] jrood-nrel opened #528 "GPU build errors"
GPU testing is showing this build error: `trilinos-develop-c2jq4kismzf5j6ml7shj4cnyqju5hq4r/include/Cuda/Kokkos_Cuda_Parallel.hpp(608): error: identifier "stk::simd::Double::Double" is undefined in device code`

[2020-02-18 23:19] sayerhs commented on #528
Trilinos/trilinos#6856

[2020-02-19 16:08] jrood-nrel commented on #519
Thanks for fixing this @psakievich ! Looks good now.

[2020-02-19 16:08] #519 closed

[2020-02-19 18:32] jhux2 commented on #456
@sayerhs Thank you, I pulled in your changes and made a couple more to resolve some hard failures.  ctest now shows only diff failures:

[code]

[2020-02-19 18:36] alanw0 commented on #456
Can you post the output from one or more of the failed tpetra unit tests?

[2020-02-19 20:35] jhux2 commented on #456
@alanw0 Here is the relevant output for unitTest1.

[test-MixtureFractionKernelHex8Mesh.NGP_adv_diff_edge_tpetra_dirichlet.txt](https://github.com/Exawind/nalu-wind/files/4227313/test-MixtureFractionKernelHex8Mesh.NGP_adv_diff_edge_tpetra_dirichlet.txt)
[test-MixtureFractionKernelHex8Mesh.NGP_adv_diff_edge_tpetra.txt](https://github.com/Exawind/nalu-wind/files/4227314/test-MixtureFractionKernelHex

[2020-02-19 20:42] yoonc5536 commented on #521
Quick question. Is there a way not to use OpenFAST for Nalu?

[2020-02-19 21:19] sayerhs commented on #521
@yoonc5536 Currently, using actuator models (disk or line) requires integration with OpenFAST.

[2020-02-19 21:21] alanw0 commented on #456
@jhux2 thanks. It looks like the matrix has been reordered, which may be consistent/expected with your graph changes...

[2020-02-19 22:28] jhux2 commented on #456
Well, the matrix graph has been expanded, but I would think that the placement of nonzero entries shouldn't have changed.

[2020-02-21 00:13] sayerhs commented on #528
Fixed in trilinos/trilinos#6857

[2020-02-21 00:13] #528 closed

[2020-02-21 17:49] tchatte3 opened #533 "max Reynolds number going down in a URANS simulation"
Hi Nalu-Team,

I see an issue while running ABL-URANS case. Depending on the boundary conditions, it may or may-not show up. I see this most of the times when running a periodic test case with uniform Temperature profile. (I keep the enthalpy Solver on.)

Even though my solution starts with the max Reynolds of ~ 10^7 (which is what I should get for a cell Reynolds number), after sometime it drops

[2020-02-21 17:53] tchatte3 opened #534 "User-defined boundary condition"
Hi Nalu-Team,

Is there a way I can incorporate a user-defined boundary condition at the inlet, instead of a constant value through the .yaml files. Right now, I can only provide user-defined initial conditions from the list of Aux.C in user-functions/.

If Yes, Can a short code snippet  for the Boundary condition implementation be provided as well?

Best,
Tanmoy

[2020-02-21 18:28] yoonc5536 commented on #521
Confirmed the regression test cases, nrel5MWActuatorLine and nrel5MWActuatorLine properly. The example cases seem to be the trouble. Thank you!

[2020-02-21 18:28] #521 closed

[2020-02-21 20:20] rd-contr opened #535 "Trouble running abl_neutral test case"
I have installed Nalu-Wind on an SGI ICE X and am trying to run the abl_neutral test case. The simulation log file shows that it gets to "EquationSystems::initialize(): Begin" before it throws the following errors to stderr:

terminate called after throwing an instance of 'std::logic_error'
  what():  Requirement( colGid != 0 && colGid != std::numeric_limits<LinSys::GlobalOrdinal>::max() ) FAILED

[2020-02-24 14:32] sayerhs commented on #533
The default SST model in Nalu-Wind is probably not suitable for running ABL cases, so I am not sure what to expect from the run. Looking at the log file, it appears that you are running a periodic BC case, and that would mean that the mean flow would slowdown without appropriate `dp/dx` forcing. Can you share the input file to see what `abl_forcing` parameters are set to?

What do you mean by the

[2020-02-24 14:38] sayerhs commented on #534
You have two options: 1. write a new user function following the [one of the examples](https://github.com/Exawind/nalu-wind/blob/master/src/user_functions/WindEnergyPowerLawAuxFunction.C), or 2. use I/O transfer to read in inflow profiles from a database – see [regression test example](https://github.com/Exawind/nalu-wind/blob/master/reg_tests/test_files/ablUnstableEdge/ablUnstableEdge_rst.i).

Fo

[2020-02-24 14:44] sayerhs commented on #535
The error is most likely from inconsistent Ordinal types between Tpetra (Trilinos build) and Nalu-Wind

https://github.com/Exawind/nalu-wind/blob/7985704766ebbbe26b2cc13cc57ecbdeb39c2b4a/include/LinearSolverTypes.h#L67-L69

We will need output of CMake configuration phases from Trilinos and Nalu-Wind builds (along with Git SHA IDs of the trilinos and nalu-wind versions you are using) to confirm th

[2020-02-24 14:55] tchatte3 commented on #533
[abl_simulation.txt](https://github.com/Exawind/nalu-wind/files/4245097/abl_simulation.txt)
Hi Shreyas,

Thanks for the quick comment. I have attached the input file. Yes, I am running a periodic boundary condition, and that where we observe Reynolds number going down after a long time (after the simulation has gone past several thousand timesteps.) I do not observe this in inlet-outlet condition.

[2020-02-24 15:00] sayerhs commented on #533
@tchatte3 have you looked at the `effective_viscosity_u` field? Since you are running SST, Reynolds computation uses that instead of the viscosity you specify the input file. That field could be quite off leading to a very low Re.

[2020-02-24 15:03] tchatte3 commented on #534
Hi Shreyas,

Thanks for the quick answer. I will write a new function and add to register_inflow_bc. We are running reduced order cases, so I think option 1 is more favourable compared to 2 of running precursor.

-Tanmoy

[2020-02-24 15:06] sayerhs commented on #534
@tchatte3 You might also want to add it to `initial_conditions` so that you can initialize the flowfield with the same conditions that you set at inflow when you start the simulation.

https://github.com/Exawind/nalu-wind/blob/7985704766ebbbe26b2cc13cc57ecbdeb39c2b4a/src/LowMachEquationSystem.C#L605-L609

[2020-02-24 15:09] tchatte3 commented on #534
@sayerhs Yes, sure, you are right. Thanks very much !

[2020-02-24 15:15] tchatte3 commented on #533
@sayerhs. Thanks for pointing out. No, I haven't looked into the effective_viscosity_u -- will dump it out to check. Just, a quick follow-up, Re going down would then mean that the turbulence Reynolds number is going down, right? That would mean, that the flow is not sustaining turbulence?

-Tanmoy

[2020-02-24 16:10] sayerhs commented on #533
@tchatte3 You mentioned that the average velocity stays around 8m/s at the forcing height. Since density is constant and the mesh is not deforming, a drop in Re would indicate that your viscosity is too high following the relation `Re = (rho * U * edge_length) / effective_viscosity`?

[2020-02-24 16:18] tchatte3 commented on #533
I see that. Might be related to setting up the tke and specific dissipation rate BC. Thanks, for clarifying !
-Tanmoy

[2020-02-24 16:18] #533 closed

[2020-02-24 16:24] tchatte3 commented on #534
@sayerhs . I was first trying out an existing fcnName in the boundary condition, e.g., the wind_energy_power_law, but could not get it to work. In the .yaml file, I was adding blocks similar to this:

[code]

I tried out different versions of this, but getting either yaml parsing error or invalid nodes. I looked up in NaluParsing.C/ NaluParsing.h, but did not get much help, on what the yaml nodes