[2020-02-24 16:36] sayerhs commented on #534
@tchatte3 YAML, like Python, is sensitive to identation. So make sure that you are using spaces/tabs consistently for indentation. In the snippet you posted above, you will notice that the `inflow_user_data` is wrongly indented. Here are some examples for `initial_conditions` and `inflow` BC

### Initial conditions

[code]

### Inflow BC

[code]

[2020-02-24 16:44] tchatte3 commented on #534
@sayerhs. Yes, I was playing around with the indentation spaces, since I was getting the instances of YAMLparsing error, but I was unsure if my YAML nodes were correctly specified or not. Thank you for providing the example so quickly, I will try this out.

-Tanmoy

[2020-02-24 16:51] tchatte3 commented on #534
@sayerhs -- It works now, the indentation issue is fixed. -Thank you.

[2020-02-24 16:52] sayerhs commented on #534
@tchatte3 Also your input above

[code]

is short by one entry. The entries are

[code]

[2020-02-24 17:06] tchatte3 commented on #534
You are right, @sayerhs. I changed it to 9 entries, before running the simulation, so it did not throw me any error on the param.size. Thanks, for pointing this out !

[2020-02-24 17:16] rd-contr commented on #535
I know that I had to roll to an older version of Trilinos to get the compile to work (it would complain about global ordinals). So perhaps that’s the source of the inconsistency you reference. Is there a specific release of Trilinos that I should be attempting to use in conjunction with the current source for Nalu-Wind?

In the meantime, I have attached the CMakeCache.txt files for both Trilinos a

[2020-02-24 21:13] sayerhs commented on #535
@rd-contr Trilinos/Tpetra changed their default Ordinal behavior in Dec 2019 (see #475) and newer versions of nalu-wind introduced a change to adopt the new ordinal (668bb2e04914f). This means older Trilinos with OrdinalType set to `long` won't work anymore. You can either update your trilinos and use newer [a Trilinos CMake configuration](https://github.com/sayerhs/exawind-builder/blob/9e238eaa8a

[2020-02-25 21:51] tchatte3 opened #536 "trouble running wind profile power law in inlet-BC"
Hello NALU-Team,

I am trying to run a RANS case with inlet condition as the wind power law profile. The yaml snippet is as follows:

[code]

coord_dir_ = 2, this should correspond to z direction.

When I visualize the flow-field in paraview, I see that the velocity at the inlet = 0 (its acting as a wall).
The log and input .yaml file is attached. I have also attached the velocity contour of the d

[2020-02-25 22:13] sayerhs commented on #536
@tchatte3 There is a typo in your input file. The variable is `user_function_name` and not `user_function`. See example in #534

[2020-02-25 22:17] sayerhs commented on #536
A couple of other observations:

- Did you mean to use a `z_offset = -8.2m`? If you were modeling terrain, you want that to be `z_offset = 0`.
- You're applying Coriolis force, but power-law profile will not do any kind of correction for Coriolis as a function of height. Hope that is what you intended.

[2020-02-25 23:38] tchatte3 commented on #536
@sayerhs ..Thank you very much for the quick response...Yes, I realize my mistake now. Regarding Coriolis force and the param related to z_offset, Yes you are right, I was just playing around with the parameter. I do understand it's a basic wind profile with shear, would not incorporate Eckman spiral.

[2020-02-26 01:06] sayerhs commented on #536
Let us know if we can go ahead and close this issue now that your problem has been addressed.

[2020-02-26 03:05] tchatte3 commented on #536
Thanks, @sayerhs, yes this addresses my issue.

[2020-02-26 16:02] rd-contr commented on #535
Copy. I was able to roll back to nalu-wind commit 56043d1 and that allowed the abl_neutral example case to run without issue.

From: Shreyas Ananthan <notifications@github.com>
Sent: Monday, February 24, 2020 2:14 PM
To: Exawind/nalu-wind <nalu-wind@noreply.github.com>
Cc: Decker, Robert K CTR USAF USAFA USAFA/DFAN <robert.decker.ctr@usafa.edu>; Mention <mention@noreply.github.com>
Subject: Re: [E

[2020-02-26 16:04] #535 closed

[2020-02-26 16:39] tchatte3 commented on #534
![image](https://user-images.githubusercontent.com/14302216/75366348-9b285980-588c-11ea-8349-290ac73a77f6.png)

[2020-02-26 16:52] tchatte3 commented on #536
![image](https://user-images.githubusercontent.com/14302216/75366384-a7141b80-588c-11ea-97ff-d5c09dc4bec2.png)

@sayerhs Apologies, I have to reopen this issue, since fixing the typo does not solve the problem.

Here is my initial condition block:
[code]

and here is my inlet BC block:
[code]

In the log file:

[code]
 along with the paraview snapshot indicates that the inlet user function is bypa

[2020-02-26 16:54] #534 closed

[2020-02-28 21:26] tchatte3 opened #537 "Issue with Multiple turbines in ADM/ALM model"
Hi Nalu-Team,

I tried extending the regression test case for NREL5MWActuatorline/NREL5MWActuatorDisk model for one turbine to multiple turbines, but it is giving me segmentation faults.

This is a very minimal modification to the regression_test example and it works perfectly fine for one turbine. The error occurs only when I am trying to it use multiple turbines.  This was also tested for multip

[2020-03-02 20:13] tchatte3 commented on #536
This problem has been figured out.  Had  a block: user_function name: instead of user_function_name:

[2020-03-02 20:13] #536 closed

[2020-03-03 16:26] psakievich commented on #537
@tchatte3 looking at where you're stdout is terminating it looks like this is failing in OpenFAST (potentially in servodyn). Does this case work for you with one turbine?  It could be that your library for servodyn is a) not compiled or b) is not being used by the second turbine.

I also see that you're sha from the log file looks like it is from a build in December (d503c4e7).  Could you first tr

[2020-03-03 18:53] tchatte3 commented on #537
@psakievich , it is indeed failing in OpenFAST, I had some issues with Servodyn in the regression test, so my feature switch for Servodyn, Hydrodyn etc in .fst file has been kept to "0". This case worked for me, for one turbine, but not for two turbines.

I will try recompiling the Servodyn library, and see if it works.

[2020-03-03 20:13] lawrenceccheung commented on #537
@tchatte3 Hi Tanmoy,

I think I'm able to replicate your problem on a very recent nalu-wind build with a very similar (but not exactly the same) setup.  For the me, the problem is independent of whether Servodyn is active or not.

Can you send us the exact grid/domain dimensions and the processor counts that you're using?  Something like the alm_preprocess.yaml would be perfect.

If memory allows,

[2020-03-03 20:28] tchatte3 commented on #537
@lawrenceccheung Thanks. Here is the preprocess file. I am trying to run it on a very coarse grid with 20 processes.

[code]

[2020-03-03 20:55] tchatte3 commented on #537
@lawrenceccheung Unfortunately, there are restriction in the resources; I am not permitted to go below some threshold MPI processes. I will see if I can get down the threshold to 2.

[2020-03-03 20:59] lawrenceccheung commented on #537
@tchatte3 Thanks Tanmoy.  It's looking like the issue is stemming from the domain decomposition and processor/turbine assignment.  For instance, if you try separating the turbines more, like putting one at `[500.0, 2500.0, 0.0]` and the other at `[4500, 2500.0, 0.0]`, you might have more success (it worked for me on that domain and on 20 cores).

Once I dig deeper I'll provide some more details an

[2020-03-03 21:10] tchatte3 commented on #537
@lawrenceccheung  Hi Lawrence, thanks for the insights. Yes, I just tested that for [4500, 2500, 0] on 20 procs and works for me too.

Sure, look forward to it.

[2020-03-03 21:27] psakievich commented on #537
@lawrenceccheung @tchatte3 currently openfast only supports one turbine per rank.  The current implementation assigns them based off the geometric location of the hubs so if the domain decomposition is such that multiple turbines are assigned to one rank this would cause a failure.  I'm addressing this as part of my refactor of the entire actuator framework in #532.

[2020-03-03 21:35] tchatte3 commented on #537
@ psakievich Thanks!

[2020-03-03 21:36] gantech commented on #537
I believe the OpenFAST - C++ API should be able to support more than 1 turbine per rank. I have been able to do this in the past. I'll look into this error tomorrow.

[2020-03-04 17:50] lawrenceccheung opened #538 "Memory leak during ABL simulations"
## Detailed description of the bug
I'm seeing a big memory leak when I'm running ABL cases on skybridge/chama at Sandia.  Currently I'm manually tracking memory usage using `show_job_memory_usage` (a Sandia wrapper around the [`free`](http://man7.org/linux/man-pages/man1/free.1.html) utility).  The situation is repeatable, and I see the same result (an eventual OOM) if I run different cases using

[2020-03-04 17:57] sayerhs commented on #538
@lawrenceccheung I assume you are already aware of #240

[2020-03-05 16:35] psakievich commented on #538
@sayerhs I don't think is the same issue as #240.  There is no matrix reinitialization going on, it's just straight ABL.

[2020-03-05 17:23] sayerhs commented on #538
@psakievich I was suggesting that you should try another MPI library other than OpenMPI.

[2020-03-05 17:44] lawrenceccheung commented on #537
@psakievich @gantech I'm seeing something strange in the coarse search of [`allocateTurbinesToProcs()`](https://github.com/Exawind/nalu-wind/blob/master/src/actuator/ActuatorFAST.C#L338) in `ActuatorFAST.C`.
https://github.com/Exawind/nalu-wind/blob/50ef780f1afb7cc014f4e9df364f04ca68c57d34/src/actuator/ActuatorFAST.C#L374-L387

Normally I would expect to see that `searchKeyPair_.size()` = `boundin

[2020-03-05 18:02] lawrenceccheung commented on #538
@sayerhs @psakievich Is there a good non-openMPI option to try on skybridge/chama?  I see intel-mpi available, but I haven't tried using it before.

[2020-03-05 20:06] psakievich commented on #538
@lawrenceccheung I believe that will be the best option.

[2020-03-06 00:58] gantech commented on #537
First off.. I was able to reproduce this error on a simple modification of the regression test to a 2 turbine case. Though I don't have a fix for this problem, here's what I have.

OpenFAST C++ API compiles an executable called `openfastcpp`. You can run that executable like this `mpirun -np 1 openfastcpp` on this case. The basic C++ API then works with 3 turbines on 1 processor with the latest de

[2020-03-06 01:08] gantech commented on #537
You could replace the function that allocates turbines to procs with a simple call to  `FAST.allocateTurbinesToProcsSimple()` https://github.com/OpenFAST/openfast/blob/dev/glue-codes/openfast-cpp/src/OpenFAST.cpp#L830 and see if that's where the bug is.

[2020-03-08 14:59] #502 closed

[2020-03-09 18:38] lawrenceccheung commented on #537
@gantech Thanks for the suggestion.  I replaced the assignment routines in `ActuatorFAST::allocateTurbinesToProcs()` with `FAST.allocateTurbinesToProcsSimple()`, and things seem much more robust now.  It runs the multiple turbine case that Tanmoy brought up, and seems to be function well regardless of where the turbines are placed.

However, it does not work when Nturbines > Ncores, so if there ar

[2020-03-09 19:55] gantech commented on #537
Hey Lawrence. I'm glad this helped move things along. The example I shared is definitely using the same allocation function https://github.com/OpenFAST/openfast/blob/dev/glue-codes/openfast-cpp/src/FAST_Prog.cpp#L123 I hope you were able to run 3 turbines on 1 proc with that example satisfying the `nTurbines > nCores` criterion. As far as use of Nalu-wind + actuator and the same criterion, I'm not

[2020-03-10 15:01] tchatte3 opened #539 "Issue with URANS when buoyancy and capping inversion are ON"
Hi Nalu-Wind Team,

I notice a strange issue, when running URANS simulation with the buoyancy term. I also add a temperature capping inversion in the initial condition.

![Velocity_Magnitude_22347_secs_snapshot](https://user-images.githubusercontent.com/14302216/76325942-4b02bb80-62be-11ea-8642-8c62c21fed04.PNG)
![Velocity_Magnitude_33511_secs_snapshot](https://user-images.githubusercontent.com/14

[2020-03-10 16:36] psakievich commented on #537
@gantech @lawrenceccheung @tchatte3 I will add multiple turbines per rank into my test procedure after I complete the requirements for the Q2 milestone unless there is some provoking reason to be able to run `nTurbines>ranks` in the immediate future.  This is a new requirement with respect to the milestone so I'm going to put it at the back of my queue.  However, my current code will definitely el

[2020-03-10 23:04] gantech commented on #539
I believe the k-w-SST model in Nalu-wind is not calibrated for the atmospheric boundary layer. I'm not sure about how or whether the model will perform in that scenario.

[2020-03-11 00:55] tchatte3 commented on #539
@gantech : OK, I see. Atleast, I see the oscillation is a grid phenomenon, since it is observed is very coarse LES as well.

[2020-03-11 00:55] #539 closed

[2020-03-11 14:26] tchatte3 opened #540 "mesh_adapt in percept module"
Hi NALU-wind team,

Not sure, if I should be asking this question here, But since mesh_adapt is inherently tied to mesh refinement procedures in Nalu-meshes, so decided to post this.

When we first installed the Trilinos package, we did not find the mesh_adapt model in percept. We have tried reinstalling percept model, but cant seem to find the mesh_adapt executable after the build.

Could you kin

[2020-03-11 14:36] sayerhs commented on #540
@tchatte3 [PerceptTools/percept](https://github.com/PerceptTools/percept)  is not part of the Trilinos package. You'll need to install it separately, we use [spack](https://github.com/spack/spack) to build it.

[2020-03-11 14:41] tchatte3 commented on #540
@sayerhs OK, thanks, understood.

[2020-03-11 14:41] #540 closed

[2020-03-13 21:21] lucbv opened #542 "SNL machines: yaml_cpp/0.6.2 installed"
@jrood-nrel @sayerhs @jhux2 @jvo1012 @alanw0
the sems team has installed yaml_cpp/0.6.2 at Sandia.
I have reconfigured, built and tested Nalu-Wind with the new TPL and it works just fine.
This should allow @jrood-nrel to upgrade the CMake yaml requirement, which should allow for a cleaner CMake logic.
@jrood-nrel can you remind me what other tpls might be desirable to continue to upgrade the CMake

[2020-03-15 22:26] sayerhs commented on #542
@lucbv Thanks for the update. We are currently using `CMake 3.10.x` as our minimum version in `CMakeLists.txt`. One of the updates we wanted was to go to CMake 3.14 or newer so that we can use more modern CMake commands in the build files.

[2020-03-15 22:30] sayerhs commented on #456
@jhux2 The `abl{Stable,Unstable}` tests are failing with higher errors that I would have expected. If you could share the log files for those cases, that would be great.

@alanw0 So it looks like we need to update the unit-test to account for more entries in the Tpetra Graph. Would you be able to take a stab at that?

[2020-03-16 00:56] lucbv commented on #542
@sayerhs the CMake update will be requested next, it seemed to be a larger task than updating yawl so I decided to start with the easy one... in any case, moving in the right direction : )

[2020-03-16 14:28] alanw0 commented on #456
@sayerhs @jhux2 I'll try to make the tpetra unit-test more robust for the case where the graph may have extra entries but the non-zeros are still the same.

[2020-03-16 19:23] jhux2 commented on #456
[logs.tar.txt](https://github.com/Exawind/nalu-wind/files/4339999/logs.tar.txt)
@sayerhs Here are the log files.  They are in a tar file, despite the extension.

[2020-03-16 20:42] tchatte3 opened #543 "Case 3 in wind farm example"
Hi NALU-wind team,

I was working with the wind farm/case 3 example (I was able to run case 1/ and case 2/ in my machines successfully), but stuck with the preprocessing in case 3.

[code]
The input_db with .rst framework is having some issues. The .stdout error shows the following

[code]
.exo file format in input db does not create any problem. Could somebody share if there has been a similar is

[2020-03-16 20:55] sayerhs commented on #543
Looks like there are two errors: a YAML error and a STK error. There is not enough information to guess on the reason for `YAML::InvalidNode` error.

Regarding the STK error, is the `restart_abl.rst` a decomposed file? if so you'll need to combine it into a single mesh file to be able to run the preprocess utility on a single MPI rank. What pre-processing tasks are you attempting to perform on the

[2020-03-16 21:46] lawrenceccheung commented on #543
Hi Tanmoy @tchatte3,

Just in case there's any confusion, in case 3 of that example, there's no need to run the pre-processor on the `case_3_preprocess.yaml` input file.  Once you have the boundary data collected from the case 2 run, you can jump directly to running it with `case_3_wind_farm.yaml`.  (See https://nalu-wind.readthedocs.io/en/latest/source/user/examples/WFexample.html#case-3-wind-far

[2020-03-17 03:12] tchatte3 commented on #543
@sayerhs @lawrenceccheung Thanks for the clarification.
I was using case_3 preprocessing example to read one set of .rst file (one mesh) and output another set of .rst file (on a different sized mesh) - serving me a toy example to read, .rst files as input.

@sayerhs I will look into the YAML::invalid node error. But, the .rst file is a decomped file (decomposed by MPI rank). Is there a way to com

[2020-03-17 03:44] sayerhs commented on #543
Trilinos/SEACAS provides an executable called `epu` that combines the decomposed files into a single exodus file. https://gsjaardema.github.io/seacas/

[2020-03-17 03:58] tchatte3 commented on #543
@sayerhs Thank you !

[2020-03-17 16:19] lawrenceccheung commented on #538
@psakievich @sayerhs I recompiled everything with the latest `sierra-devel` module (using `intel/19.0.3.199` and `openmpi-intel/4.0`), and that seems to solve the memory leak.

Here is another 6M mesh on 24 nodes/384 cores on skybridge, and the memory usage seems pretty stable:
![image](https://user-images.githubusercontent.com/15526007/76876661-78f07e80-682f-11ea-982b-b63ea181aa86.png)

I'm not s

[2020-03-18 15:51] lucbv commented on #522
@sayerhs a quick question regarding the build time, can you see if there are weak symbols in the library and if so how many? These indicate that some function or class is being recompiled in each file even if it already exists with the exact same template parameters somewhere else.
We had that issue in MueLu, fixing it reduced both build time and size.

[2020-03-18 20:59] jhux2 commented on #456
@sayerhs If you or @alanw0 need any further information, just let me know.  I'm going to refresh my branch and rerun tests.

[2020-03-18 22:04] alanw0 commented on #456
Hi @jhux2, sorry I haven't gotten to that unit-test yet. My intentions are good, I just haven't gotten to it yet. I'll try to get it done by end of tomorrow.

[2020-03-19 03:08] sayerhs commented on #522
@lucbv  that's a good suggestion. I'll take a look at it.

[2020-03-19 22:00] sayerhs opened #545 "STK SIMD broken on GPU build"
[CDash](https://my.cdash.org/viewBuildError.php?buildid=1792601) indictates that STK SIMD doesn't work with nalu-wind GPU builds when using  trilinos/trilinos#39488e885

[2020-03-19 22:19] alanw0 commented on #545
jvo and dave have been working on converting nalu-wind to the new stk ngp stuff, they will do a gpu build with current trilinos to try to reproduce this. It's weird, because I thought the simd stuff was all appropriately guarded for cuda. In our sierra builds this isn't happening...
Anyway, we'll get it figured out right away.

[2020-03-20 16:53] jvo1012 commented on #545
@sayerhs, I was able to build nalu-wind with the latest version of Trilinos without any issues on ascicgpu22.  This was using gcc7.2.0 and nvcc10.1.243.  Do SNL developers have access to eagle?  I can also try building on summit if you know that the build is broken there too.

[2020-03-20 18:39] sayerhs commented on #545
@jvo1012 So we were using CUDA 9.2.x on Eagle, Summit is also configured to use CUDA 9.2.x. I'll move to CUDA 10 and test, but if you can test it on Summit that would be great.

[2020-03-21 01:48] jvo1012 commented on #545
We decided to revert our changes to stk_simd in Trilinos as a temporary fix for nalu-wind.  We will push it again once we have everything working.

[2020-03-21 02:12] sayerhs commented on #545
Thanks @jvo1012

[2020-03-23 15:33] #543 closed

[2020-03-23 15:50] tchatte3 opened #547 "Problem with running NALU-wind with non-zero Nacelle-Yaw: Failing at Elastodyn@openFAST"
Hi Nalu-wind team,

A question regarding wind-farm simulation (its coupled to openFAST in a sense). In an ADM simulation, if my wind flow direction is not dominantly in x direction, i.e., say at angle = 250 degrees (270 degrees being from west to east wind) is the actuator disc by default orthogonal to the wind direction, or is it in-plane with y-z? I also see a value for NacelleYaw in the Elastod

[2020-03-23 16:37] gantech commented on #547
@tchatte3 Are you able to run this case with BEM in OpenFAST? Whenever you are unable to run any case coupled to Nalu-wind, please try and make sure you can run the standalone OpenFAST case.

I believe you'll also have to change the neutral yaw position in OpenFAST - Servodyn to get non-zero yaw to work.

[code]

[2020-03-23 19:40] tchatte3 commented on #547
@gantech .Thanks, I will look into running openFAST in standalone, also using BEM model. A couple of observations. When I actually, switched on Servodyn and added 250 to YawNeut, the code threw me an error, suggesting that value of YawNeut can be from [-180 to 180 degrees].  After a couple of tests I see that the same range is working for NacYaw in Elastodyn solver. I guess, this solves the proble

[2020-03-23 20:23] gantech commented on #547
Ah.. in nalu-wind I believe the wind direction uses the compass direction. So 0 would be wind blowing from the north and going clockwise from there. You can see this document to understand the coordinate system conventions in OpenFAST. Specifically Figure 3 and 5 on printed page 8 and the convention written for `NacYaw` on printed page 61 might help

https://nwtc.nrel.gov/system/files/FAST.pdf

[2020-03-23 20:29] tchatte3 commented on #547
@gantech . Perfect, thanks for pointing out. This is really helpful.!

[2020-03-23 20:29] #547 closed

[2020-03-24 13:08] tchatte3 opened #548 "Nalu wind direction and Nacelle Yaw"
Hi Nalu-wind team,

I am running a case with ADM, with wind blowing at 253 degrees. When do not do any-changes in Nacelle-Yaw (untouched, kept at 0 degrees),  it seems like the actuator disc plane is taken orthogonal to the dominant wind direction. However, when  I add Nacelle Yaw to 253 degrees (actually 107 degrees, the convention is -180 to + 180 counter-clockwise in nacelle-yaw coordinates), i

[2020-03-25 15:21] jhux2 commented on #456
@alanw0 Unit tests are passing with your fix, thank you.

[2020-03-26 02:59] psakievich commented on #548
@tchatte3 the point locations are supplied from OpenFAST.  The actuator searches in Nalu-Wind are not aware of wind direction at all.  The communication between the two codes is as follows:

1. OpenFAST supplies point locations to Nalu-Wind
2. Nalu-Wind interpolates the velocity at these locations and gives this value back to OpenFAST
3. OpenFAST computes the forces, and new point locations which

[2020-03-26 13:45] tchatte3 commented on #548
@psakievich, Thank you for the points. Yes, I would have thought so too, (i.e., pts 1 - 4), but the results are a bit counter intuitive/confusing. I will try it for ALM as well. Let me also do a couple of more debugs.

Let me reorganize my question a little bit.

Case I: Yaw = 0, seems to be fine. If I have the wind at 253 degrees (I am just setting it up through velocity vectors in the input .yam

[2020-03-26 21:22] jhux2 commented on #456
I have been looking at the unStableEdge runs more closely.  On the CrsGraph refactor branch, NaluWind only takes three nonlinear iterations in the first time step, whereas NaluWind master takes four.

Within the first three nonlinear iterations, the linear solver histories are identical between the two code branches.  I've also increased the linear solver verbosity so that I can see global matrix

[2020-03-26 22:16] rcknaus commented on #456
@jhux2 It looks like a problem with the "EquationSystem::system_is_converged" check to me.  Continuity and enthalpy meet the convergence test after 3 iterations but momentum doesn't, so it should take 4 iterations for the first step.  I looked at the code briefly, but didn't have any ideas as to why this would have changed.  I'll take another look at it, but it seems related to that

[2020-03-27 19:14] psakievich commented on #548
@tchatte3 okay sounds good.  Yes I believe you've done things correctly.  Let me know if the ALM gives you the correct orientation.  It could be that in the AD we need to run fast for 1 step and then update the point locations to get the Yaw applied. That is what I suspect, but the ALM test will confirm it.

[2020-03-27 20:35] tasmith4 commented on #545
We've been able to reproduce this error when the `-march=skylake -mtune=skylake` flags are specified during a CUDA build.  Based on the [exawind-builder setup for eagle](https://github.com/sayerhs/exawind-builder/blob/d80d124215eb62304671677059e0f679c1493710/envs/eagle.bash#L55), which specifically excludes these flags for CUDA builds, I suspect these flags do not play nicely with CUDA.

@jrood-nr

[2020-03-27 21:12] tchatte3 commented on #548
@psakievich Thanks for the inputs. Actually, I was also worried if the mesh resolution was issue, showing me illusory results because I was running things on a super-coarse mesh. I have now run another case with a 3-layer refinement mesh, where the grid sizes are pretty finer. I tried this in ALM framework, and this is how the ALM simulation looks like.

<img width="201" alt="velocity_ALM_yawed" s

[2020-03-30 15:27] tasmith4 commented on #545
@sayerhs @jrood-nrel we've found a portable way to edit the Kokkos-SIMD header to keep this from happening, and will have these fixes in place the next time we enable Kokkos-SIMD for Trilinos.

So it's really up to you guys about the skylake flags -- if you feel they are inappropriate you can still take them out, but stk_simd should work regardless now.

[2020-03-31 18:55] jhux2 commented on #456
@rcknaus Thanks for the hint.  The nonlinear convergence tolerance wasn't being communicated properly.  With that and a couple other fixes, the set of failing tests has been narrowed to these:

[code]

[2020-03-31 20:36] rcknaus commented on #456
Those diffs look typical of order-of-operations changes to me.

[2020-03-31 21:06] jhux2 commented on #456
@rcknaus Thanks.  I will wait to hear from @sayerhs before I merge.

[2020-04-02 13:51] DeeDiveT opened #551 "./abl_mesh -i nalu_abl_mesh.yaml outputs nothing and does not exit with latest wind-utils executables"
Hello, I'm trying to build nalu-wind with wind-utils to perform simulation with yaw misalignment.

I follow the installation manual of Development Build of Nalu-Wind(https://nalu-wind.readthedocs.io/en/latest/source/user/build_spack.html#development-build-of-nalu-wind)

    cmake -DTrilinos_DIR:PATH=$(spack location -i trilinos) \
      -DYAML_DIR:PATH=$(spack location -i yaml-cpp) \
      -DCMAKE

[2020-04-02 13:56] sayerhs commented on #551
Please make sure that you have `Boost` libraries installed in the system and that CMake detects those libraries during the configure phase. You can pass a custom path to the `Boost` installation path – [see here](https://github.com/sayerhs/exawind-builder/blob/d80d124215eb62304671677059e0f679c1493710/codes/nalu-wind.bash#L58-L65)

[2020-04-02 14:04] DeeDiveT commented on #551
Thanks for your reply. I think boost has been already installed when execute the `spack install nalu-wind`, am i right?

If that's the case, can I just execute the following commands? Does the document need to be updated like this?

cmake -DTrilinos_DIR:PATH=$(spack location -i trilinos) \
  -DYAML_DIR:PATH=$(spack location -i yaml-cpp) \
  -DBOOST_DIR:PATH=$(spack location -i boost) \
  -DCMAKE_B

[2020-04-02 15:48] DeeDiveT commented on #548
Hi @tchatte3, I didn't find how to configure yaw misalignment in example files given in this repo, do you know where to set it or related documentation?

Millions of thanks in advance.

[2020-04-02 17:03] tchatte3 commented on #548
@ DeeDiveT, It should be in line 36 in the file NRELOffshrBsline5MW_Onshore_ElastoDyn.dat inside the directory 5MW_Baseline/ in the examples.

@psakievich I was able to fix the issue related to Nacelle Yaw. I guess, for 253.46 degrees wind, the yaw should be set up as (270-253.46) ~ 16.54 degrees. This works.

[2020-04-03 01:41] psakievich commented on #548
@tchatte3 okay great thanks for reporting back! Feel free to close this issue unless you have more questions.

[2020-04-03 01:47] #548 closed

[2020-04-03 04:23] DeeDiveT commented on #551
Hi @sayerhs , I just tried to use exawind-builder you mentioned above to install, but following error occurred:

Output of `source *gcc*` in nalu-wind/build directory:
 $ source *gcc.sh
==> Requirement environment-modules is satisfied with installed package environment-modules@4.4.1%gcc@7.5.0+X arch=linux-ubuntu18.04-zen ^tcl@8.6.8%gcc@7.5.0 arch=linux-ubuntu18.04-zen ^zlib@1.2.11%gcc@7.5.0+optimi

[2020-04-03 12:09] sayerhs commented on #551
It appears that the script is correctly loading the dependencies of nalu-wind build, so it is unclear where the module load command is failing. When you run the script and not source it, does it proceed to CMake and compilation phases?

[2020-04-03 12:10] #545 closed

[2020-04-03 14:45] tchatte3 opened #553 "Power and Thrust data extraction"
Hi Nalu-wind team,

I have a question related to dumping Power and Thrust data output. I am running Actuator Disk model simulation in NALU-wind. How can we get the power & Thrust data output as a function of time? (essentilally a time-series data file?). Can we get it by tapping openFAST?

Best,
Tanmoy

[2020-04-03 15:04] DeeDiveT commented on #551
Hi, @sayerhs The module: command not found error was gone "magically", however, I'm not quite sure about the reason (maybe fresh login), but I still cannot compile the nalu-wind with the following process:

In `build/` directory, run
    ./nalu* cmake -DENABLE_WIND_UTILS=ON
gives
[code]
After that `./nalu*gcc.sh make` gives

[code]

Also, I tried simply `spack install nalu-wind`, and `naluX` works

[2020-04-03 15:09] jhux2 opened #554 "Dashboard failures due to PR#473"
The new failures on the dashboard are due to the merge of PR#473.  I expected all of these except for `tamsChannelEdge` and `SSTChannelEdge`.  It's possible that I didn't have the correct options enabled to run these.

1) Are the errors in those two tests acceptable?
2) What's the process for reblessing tests?

https://my.cdash.org/index.php?project=Nalu-Wind

[2020-04-03 15:19] DeeDiveT commented on #553
Hi, @tchatte3, execuse me, I'm trying to do some experiments with nalu-wind and yaw misalignment, and it seems we are doing something similar. But I really have no idea of correct way to install nalu-wind on the machine and then perform that kind of experiment. Could you kindly provide some "roadmap" or experience for doing that. For now, I'm confused with installation procedure among 1.compile di

[2020-04-03 15:30] tchatte3 commented on #553
@ DeeDiveT, it would be helpful if you could please post a separate question in GitHub to the NALU-wind team. They might help you better with your questions.

[2020-04-03 15:36] DeeDiveT opened #555 "Questions related to perform wind turbine simulation with yaw misalignment"
Hi, I'm trying to do some experiments with Nalu-wind and yaw misalignment. But I really have no idea of the correct way to install nalu-wind on the machine and then perform that kind of experiment with numerous documentations for installation. Could you please kindly provide some "roadmap" or experience for doing that?

For now, I'm confused with the installation procedure among
1.compile directly

[2020-04-03 15:39] DeeDiveT commented on #553
Thanks for your advice! A new separate question opened here https://github.com/Exawind/nalu-wind/issues/555, hope could also help others with same conditions.

[2020-04-03 16:43] sayerhs commented on #554
@jrood-nrel Usually reblesses the gold files.

[2020-04-03 17:47] sayerhs commented on #551
Conda installs its own MPI and netCDF that conflicts with what `spack` installs. You'll want to remove any automatic conda environment code that was added to your shell profile (e.g., `.bashrc`) and run everything in a clean environment.

[2020-04-04 00:34] DeeDiveT commented on #551
Hi @sayerhs, yes, after removing conda-related code, there are no warnings but still errors as shown above in the last two lines when executing `./nalu-wind-gcc.sh make`. It seems that we cannot see the specific error, so I run `make` standalone. Then, it gives the following specific error:
[code]

[2020-04-04 03:16] DeeDiveT opened #556 "nalu_Input_fileX bug report"
## Detailed description of the bug
SyntaxError bugs introduced in
https://github.com/Exawind/nalu-wind/commit/2cc1d5d4a8d0ed597cd48b97adcf459eb1db4bec#diff-4344ce21c64fc3d75d3a7d5119743c3b

### Details to reproduce bug/build error

[code]
https://github.com/Exawind/nalu-wind/blob/7f65c3b29415307020b3872835352157daff1618/examples/nalu_input_fileX#L798-L821

[2020-04-04 08:21] DeeDiveT commented on #518
Hi @lucbv, I try your easy solution but it seems not working, do you know the reason? see https://github.com/Exawind/nalu-wind/issues/551#issuecomment-608904681
Thanks you very much.

[2020-04-04 13:12] sayerhs commented on #555
Directly installing with `spack` is the recommended approach to get started with nalu-wind. If you want to use wind-utils, you can either modify the spack package.py definition to add the CMake options and have it installed alongside nalu-wind. Or you can install wind-utils separately after you've installed nalu-wind via spack. You'll need three dependencies (also dependencies nalu-wind And instal

[2020-04-04 13:21] sayerhs commented on #551
Running `make` directly from command line does not load the spack modules that are happening through the script. That's the reason for the linker errors you're seeing.

Regarding `ionice` - it is a standard Linux command found in most systems, but it is not necessary for building nalu-wind. There's a check to determine that the system has this command which somehow seems to pass for your system bu

[2020-04-04 14:32] DeeDiveT commented on #551
Hi @sayerhs, thanks for your reply. I follow your instructions to comment out the ionice and (during this time, I made some attempts like changing the boost version from 1.68.0 to 1.72.0 and also recompiled the trillions, but nothing works).

This is the current error now (log of both cmake and make):
It seems that errors are related to boost::program_options and boost::system.
[cmake_output.log](

[2020-04-04 14:47] #554 closed

[2020-04-04 15:38] DeeDiveT commented on #555
Hi @sayerhs, I see, thx. Btw, logs have been uploaded at https://github.com/Exawind/nalu-wind/issues/551#issuecomment-609037320. Also, anyone who have similar issues can refer to that issue.

[2020-04-04 15:38] #555 closed

[2020-04-04 15:44] lucbv commented on #518
Hi @DeeDiveT I am not sure I am the right person to help with this. Your problem is most likely not really related to a bad TPL installation. To debug this would require a lot more information on the system your are working with and the method of installation you are using.
@sayerhs is probably a better person to talk to as my installation method is the most basic one, i.e. install all the compone

[2020-04-04 15:55] sayerhs commented on #553
@tchatte3 For AD/AL simulations currently the turbine outputs are through OpenFAST. The [NREL 5MW input files](https://github.com/Exawind/nalu-wind/blob/8b5aedeec541765b3878c1e290540d7d5cd4a170/reg_tests/test_files/nrel5MWactuatorLine/5MW_Baseline/NRELOffshrBsline5MW_Onshore_ElastoDyn.dat#L122) in the regression test suite is a good starting point, and already includes some of the sensors you are

[2020-04-04 16:03] sayerhs commented on #551
@DeeDiveT Thanks for the CMake/make outputs. Looking at the log files, `naluX` executable was built successfully, but `wind-utils` executables were having issues. I have updated the `wind-utils` submodule to the latest version that doesn't depend on Boost libraries. Can you please pull the latest `nalu-wind` version

[code]

and attempt fresh CMake/make compile again and let us know how it goes?

[2020-04-04 16:38] tchatte3 commented on #553
@sayerhs  Thanks!

[2020-04-04 16:38] #553 closed

[2020-04-04 16:40] DeeDiveT commented on #551
Hi @sayerhs, it seems that current wind-utils still depend on Boost?
see, https://github.com/Exawind/wind-utils/blob/e7aff17553e80030093a0f9b848f81982f95eac6/src/preprocessing/nalu_preprocess.cpp
The logs after fresh cmake(cmake_full) :
[cmake_output (3).log](https://github.com/Exawind/nalu-wind/files/4431953/cmake_output.3.log)
[make_output (3).log](https://github.com/Exawind/nalu-wind/files/4431

[2020-04-04 16:57] DeeDiveT commented on #551
@sayerhs Errors now maybe some missing files, see
[make_output (4).log](https://github.com/Exawind/nalu-wind/files/4431971/make_output.4.log)
[cmake_output (4).log](https://github.com/Exawind/nalu-wind/files/4431972/cmake_output.4.log)
Thanks for your patience.

[2020-04-04 17:29] sayerhs commented on #551
- Please make sure that you're using wind-utils commit https://github.com/Exawind/wind-utils/commit/755acefa9671fbdb65d686bcfbd22c4cda908071

- Please remove CMake cache and old build files and attempt a fresh CMake configure and make. The errors (in make_output.4.log) seem to indicate that the old build files are still being used during compilation.

[2020-04-04 17:35] DeeDiveT commented on #551
Hi @sayerhs , a new copy of nalu-wind repo was cloned for output(4). And in wind-utils submodule folder, `git branch` gives
[code]
It seems there are some directory errors (I guess) for CMakefiles.txt in latest wind-utils.

[2020-04-04 20:40] sayerhs commented on #551
@DeeDiveT Sorry about this, and thanks for sending the updated errors. I am able to reproduce this last error on my end. It was a regression introduced in Exawind/wind-utils@731267f2b222 I have updated Exawind/wind-utils@5cb9d916c0043 and also updated the nalu-wind to track this latest wind-utils (4e340b3403230). Hopefully, this will result in a successful build on your system.

Also, you can buil

[2020-04-04 20:45] sayerhs commented on #556
@DeeDiveT The python script is a convenience script to auto-generate the YAML files. As a temporary workaround, please use the files in the regression test suite [ABL neutral example](https://github.com/Exawind/nalu-wind/tree/master/reg_tests/test_files/ablNeutralEdge) and edit them manually to run your cases.

[2020-04-05 01:28] DeeDiveT commented on #551
Hi  @sayerhs, I made a fresh cmake configure and make with the lastest codes now.
The following error occurred with It seems that errors are related to trilinos(my version trilinos@develop installed by spack).
Logs:
[make_output (6).log](https://github.com/Exawind/nalu-wind/files/4432800/make_output.6.log)
[cmake_output (6).log](https://github.com/Exawind/nalu-wind/files/4432801/cmake_output.6.log

[2020-04-05 01:41] sayerhs commented on #551
@DeeDiveT `nalu-wind` does not require `wind-utils` at all. They are separate. Since you have successfully built `wind-utils` in standalone mode, please switch back to `-DENABLE_WIND_UTILS=OFF` and build `nalu-wind`.

Your attempt (5) seems like it is using `clang` as the linker for some reason, it should be using `gcc`. So I would recommend you use the steps from `make_output.2.log` where you had

[2020-04-05 01:53] DeeDiveT commented on #551
Ok thanks, i will try to use already-built nalu-wind in `install/gcc` and the wind-utils.

But I wonder that what's the reason of building them together before? Actually I did not set the nalu-wind dir when building wind-utils in standalone mode.

[2020-04-05 02:06] sayerhs commented on #551
You can either use the `naluX` in the build directory, or update your `LD_LIBRARY_PATH` as below. You'll most likely need to do that for `wind-utils` executables also.

[code]

[2020-04-05 02:21] DeeDiveT commented on #551
@sayerhs thanks for the solutions. I just tried https://github.com/Exawind/nalu-wind/tree/master/reg_tests/test_files/ablNeutralEdge reg_test here. But it seems that no output of abl_mesh and also I cannot see any resources usage in `htop`.

I also use
    cp $EXAWIND_PROJECT_DIR/install/gcc/wind-utils/bin/* ./
    cp $EXAWIND_PROJECT_DIR/install/gcc/wind-utils/bin/* ./
these commands to make a co

[2020-04-05 04:54] DeeDiveT opened #557 "Compile error for building the Catalyst adapter for Trilinos to hook into Paraview"
Hello, I'm trying to integrate catalyst into nalu-wind, and as shown in the documentation, https://nalu-wind.readthedocs.io/en/latest/source/user/build_manually.html#linux-and-osx, we need to build the Catalyst adapter for Trilinos to hook into Paraview https://github.com/Exawind/nalu-wind/blob/4e340b340323050b06661d1e93fac3c50afea2f2/CMakeLists.txt#L17-L19

Following errors occurred with a versio

[2020-04-05 14:27] jrood-nrel commented on #557
The Catalyst adapter is in Spack. Have you tried installing it there? `trilinos-catalyst-ioss-adapter` It looks like it isn't linking to the `libvtkjsoncpp-pv5.6.so.1` library which Paraview should provide. The `trilinos-catalyst-ioss-adapter` installs Paraview with these options: `paraview+mpi+python+osmesa`.

[2020-04-05 14:34] DeeDiveT commented on #557
Hi @jrood-nrel, there are some dependency errors when execute `spack install paraview+mpi+python+osmesa`

[code]
Also, `spack install trilinos-catalyst-ioss-adapter` gives
[code]
Is there something wrong with the above commands? Thanks

[2020-04-05 15:55] jrood-nrel commented on #557
I am refreshing my memory now. I think you will have problems with Catalyst at the moment without a significant travel back in time within Spack commits to when it worked before Python 3 was implemented in Paraview. You can see the issue here waiting for Trilinos to update the IOSS adapter to use Python 3 https://github.com/Exawind/nalu-wind/issues/256 . Currently in Spack, they have made a signif

[2020-04-05 16:05] DeeDiveT commented on #557
@jrood-nrel Thanks, I've made a comment on that issue.

[2020-04-05 16:05] #557 closed

[2020-04-06 03:03] DeeDiveT commented on #551
Update the wind-utils standalone build outputs:
[make_output (8).log](https://github.com/Exawind/nalu-wind/files/4435672/make_output.8.log)
[cmake_output (8).log](https://github.com/Exawind/nalu-wind/files/4435673/cmake_output.8.log)
Thanks for your help

[2020-04-06 16:40] #556 closed

[2020-04-06 23:46] rcknaus commented on #456
I noticed a performance regression related to this with some of the "edge-based" tests, running on my laptop.  it looks like it's present on the dashboard too,

https://my.cdash.org/testDetails.php?test=56232170&build=1802978 [display graphs -> test time]

It looks like ~50% for some of the simpler edge based tests.

[2020-04-07 02:13] jhux2 commented on #456
@rcknaus Yes, I see it in my local builds, as well.  It's not algorithmic -- before/after the PR merge, all linear iterations are identical for ablNeutralEdge.  The performance difference is evident even in the matrix-vector product:

Before CrsGraph PR
[code]

After CrsGraph PR
[code]

I also see a difference in the ablNeutralEdgeSegregated.
Before CrsGraph PR
[code]

After CrsGraph PR
[code]

[2020-04-07 02:22] sayerhs commented on #456
@jhux2 Interesting. So the larger graph with the extra zeros is having a performance impact?  Shall we revert this? Since this will have a big impact on production runs.

[2020-04-07 13:29] sayerhs commented on #551
@DeeDiveT You have multiple versions of MPI libraries installed on your system and different parts are compiled/linked to different MPI libraries. This can lead to problematic behavior during runtime. It is really important for libraries `hdf5`, `netcdf`, and `parallel-netcdf` to be built using the same MPI version and ensure that Trilinos, nalu-wind and wind-utils are using the same libraries.

I

[2020-04-07 15:07] jhux2 commented on #456
Yes, I agree this should be reverted until the performance issues can be resolved.

So this would be require separate code paths that depend on the discretization, as well as maintaining an additional graph for the element graph?

[2020-04-07 15:12] sayerhs commented on #456
@jhux2 if the `realm.realmUsesEdges_ == true` then we activate `buildEdgeToNodeGraph` and not `buildElemToNodeGraph`. I will need to check, but I am fairly certain there are no use cases where the user sets `use_edges: yes` in input file and still ends up needing an element based graph.

[2020-04-07 15:21] DeeDiveT commented on #551
@sayerhs Thanks a lot! `abl_mesh` works now! But it seems that `nalu_preprocess` does not work still. Is that the same problem?

Output of nalu_preprocess:
[code]
Best

[2020-04-07 15:28] sayerhs commented on #551
@DeeDiveT No, this doesn't appear to be a build/compilation issue. It appears to be a syntax error in the input file. Can you please use [template input file](https://github.com/Exawind/wind-utils/blob/master/tests/preprocessing/init_abl_fields.yaml) from the wind-utils test directory and check `nalu_preprocess`? That will allow you to check the executable.

The error message seems to indicate tha

[2020-04-07 15:34] DeeDiveT commented on #551
Hi @sayerhs, I checked with example `abl_neutral` and it works quite well with executable `nalu_preprocess`.
A completely fresh test with example `turbine_uniform_inflow` also failed with same errors, which may indicate that there are some problems with example `turbine_uniform_inflow`.

[2020-04-07 15:35] sayerhs commented on #551
@DeeDiveT Thanks for the feedback. Can you please create a separate issue and we will assign it to the appropriate people in the team.

[2020-04-07 15:36] DeeDiveT commented on #551
Sure, thanks for your help!

[2020-04-07 15:36] #551 closed

[2020-04-07 15:37] rcknaus commented on #456
We just mix and match on the boundaries for the most part for the graph, so I think just the `buildFaceElem` connections should be needed for `use_edges: yes`.

[2020-04-07 15:42] DeeDiveT opened #560 "Example turbine_uniform_inflow failed to run with nalu_preprocess"
## Detailed description of the bug

Hi, I'm trying to run with example `turbine_uniform_inflow`, and follow the instructions in  https://nalu-wind.readthedocs.io/en/latest/source/user/examples/ALMexample.html.

It seems that `nalu_preprocess` does not work properly.

Output of `nalu_preprocess`:
[code]

### Details to reproduce bug/build error

1. SHA ID of the Nalu-Wind commit you are using: comm

[2020-04-07 15:44] sayerhs commented on #560
@tonyinme see also the latest comments in #551

[2020-04-07 15:45] sayerhs commented on #560
@DeeDiveT Please upload the input file `alm_preprocess.yaml` you are using.

[2020-04-07 15:53] DeeDiveT commented on #560
`alm_preprocess.yaml` of example turbine_uniform_inflow: (renamed to .txt for github upload)

[alm_preprocess.yaml.txt](https://github.com/Exawind/nalu-wind/files/4445624/alm_preprocess.yaml.txt)

p.s. just now I successfully run `nalu_preprocess` with example `abl_neutral` and it works.

However, the following errors occurred when I execute `mpirun ./naluX -i abl_simulation.yaml`.
I'm not where t

[2020-04-07 15:54] tonyinme commented on #560
hey @DeeDiveT, thanks for pointing this out.
The error is in the documentation, not the code itself.
You don't need to run `nalu_preprocess` for this case.
I will fix this in the documentation.

[2020-04-07 16:25] DeeDiveT opened #562 "Errors for running case3 of example wind_farm: AeroDyn Segmentation fault"
Hi, I'm trying to run example `wind_farm`, and case1 and case2 could be run with no error.
However, case3 gives following errors with `mpirun -np 6 ../naluX -i case_3_wind_farm.yaml`:
[code]

Is there anyone who has some ideas to solve this problem?
Thanks a lot.

[2020-04-07 17:38] jhux2 commented on #456
I guess this is what you were saying in [this comment](https://github.com/Exawind/nalu-wind/issues/456#issuecomment-567370141).

[2020-04-08 21:22] sayerhs commented on #560
Fixed in #561

[2020-04-08 21:23] #560 closed

[2020-04-08 21:26] tonyinme commented on #562
This looks like an error in the openfast input files.
Were you able to run the example with 2 turbines under uniform inflow?

[2020-04-09 00:33] DeeDiveT commented on #562
I was not able to run the example 2 turbines under uniform inflow and example wind_farm with the same error above.
[code]
Best

[2020-04-09 16:17] tchatte3 opened #564 "refine and unrefine fraction in adapt.yaml"
Hi Nalu-wind team,

When using the mesh refinement function in nalu-preprocessing, the adapt*.yaml files are generated to be used as inputs in percept/mesh adapt.yaml.  Could anybody tell how the refine and unrefine fractions are designed? I can understand the definition of the fractions from percept manual (Sandia website). But I am curious if these fractions are a function of the box-sizes that

[2020-04-09 16:20] sayerhs commented on #564
@tchatte3 They were arrived at through some numerical experimentation to match the box refinement that was desired as a function of the number of nested boxes. Feel free choose a different fraction if it suits your purposes.

[2020-04-09 16:36] tchatte3 commented on #564
@sayerhs Thanks for the reply. However, as per my understanding, the refine and unrefine functions should have no influence on the refined mesh size obtained after refining the coarse mesh right?
These fractions are merely markers to refinement. Is there a way to control what the refined mesh size would be after one layer of refinement?

[2020-04-09 17:16] sayerhs commented on #564
To elaborate further, the fractions are not functions of the box sizes, just the level of nesting. We want to create a refinement field that varies from `[0, 1]` that can be used to perform multiple passes (for each level of nested refinement) with percept. The idea then was if I just want to populate the field once, how can I pick out ranges so that at each level it will refine a desired region.

[2020-04-09 17:23] tchatte3 commented on #564
@sayerhs Thanks a lot for such detailed explanation. It is much clear now (the refine and unrefine functions). I will look into the percept manual to check on controlling the cell-size refinement.

This is really helpful.

[2020-04-09 17:23] #564 closed

[2020-04-13 17:42] DeeDiveT commented on #562
Hi @tonyinme, I still cannot find any solutions to the problem. Do you know what causes that?

Thank a lot.

[2020-04-13 17:45] tonyinme commented on #562
It seems that the version of openfast is not up to date.
Did you install openfast? Which version?
It should work with the latest dev branch.

[2020-04-14 14:08] DeeDiveT commented on #562
Hi @tonyinme , I tried both versions of OpenFAST with self-compiled latest version and the one that shipped with spack, i.e. (openfast automatically install by `spack install nalu-wind`). But neither of them works.

Best

[2020-04-14 21:10] #538 closed

[2020-04-14 23:44] tonyinme commented on #562
Are you able to run the openfast executable on its own?
Is this the dev branch?

[2020-04-15 23:08] lawrenceccheung commented on #562
Hi @DeeDiveT,

If you're using the latest versions of openFAST, there have been some updates to the input files which aren't properly reflected in the fast input files from the examples directory.

Take a look at one of the more recent versions of the AeroDyn15.dat file here:
https://github.com/OpenFAST/r-test/blob/ccd71e68913ee47480aeffd5d196dad087cc72a4/glue-codes/openfast/5MW_Land_DLL_WTurb/NRE

[2020-04-16 16:18] DeeDiveT commented on #562
Hi @lawrenceccheung , thanks for pointing this out. However, it seems that same error as before after I add those lines to both `5MW_Baseline` and `5MW_Baseline2`.

Also, could you please elaborate on how to compile that? I tried `cmake` and it gives
[code]
Best

[2020-04-16 19:26] jrood-nrel opened #568 "Missing cusparse symbols causing errors in GPU tests"
There are missing symbols for cusparse in the GPU tests. `undefined reference to cusparseDestroyMatDescr` for example.

[2020-04-18 01:23] #568 closed

[2020-04-20 22:11] lawrenceccheung commented on #562
Hi @DeeDiveT,

My apologies for the delay in response.  You can enable yaw control through the DISCON library, but that is not the only way to provide controls.  If you look in the `Servodyn.dat` file, there is a `YCMode` parameter which dictates how the turbine yaw is controlled.  `YCMode=5` enables the bladed-style library control with discon, but there other options as well:

[code]

If you wan

[2020-04-21 12:56] sayerhs opened #571 "Failing tests due to changes in NGP algorithm pathway"
The gold tests (GCC 4.9.4) have been [failing](https://my.cdash.org/buildSummary.php?buildid=1809756) for the past few days with diffs since ff9ee4fb (Trilinos/trilinos@1a965b8505). The tests were passing with 68c338d3 (Trilinos/trilinos@550334d445). Seems like @overfelt 's fix switching to NGP versions of the nodal gradient computation 8debd31742b11 is the most likely cause.

@alanw0 @overfelt ca

[2020-04-23 17:11] tchatte3 opened #572 "Power/ Thrust from Nalu/OpenFAST"
Hi Nalu-wind team,

What is the best way to tap power and thrust time-series from openFAST. I am running NALU-wind, ADM at the moment. I looked at the openFAST manual but could not find anything related to fixing turbine power time-series. Any help in pinpointing how to do that will be very helpful.

Best,
Tanmoy

[2020-04-23 17:18] sayerhs commented on #572
@tchatte3 Have you looked at the [spreadsheet in OpenFAST git repo](https://github.com/OpenFAST/openfast/blob/master/modules/openfast-library/src/OutListParameters.xlsx) that lists the sensors for outputting data? I think you are looking for `GenPwr`, `RtAeroPwr`, `RtAeroCt` etc.? OpenFAST specific questions are probably best directed to [openfast issues](https://github.com/OpenFAST/openfast/issue

[2020-04-23 17:23] tchatte3 commented on #572
Ok, thanks @sayerhs. I will look into these parameters

[2020-04-28 14:59] #572 closed

[2020-04-28 17:53] sayerhs opened #574 "Actuator line pull request breaks build when OpenFAST is disabled"
@rcknaus Merging #550 seems to break because of missing includes on GCC builds

[code]

[2020-04-28 18:10] #574 closed

[2020-04-29 14:31] sayerhs commented on #571
@overfelt Have you had a chance to see if we can rebless these gold files?

[2020-04-29 14:42] overfelt commented on #571
Shreyas,

Forgot to mention this at our meeting.

I looked at the failing tests for gcc 4.9.  Unfortunately I could not get 4.9 to build, I normally build gcc 7.4 so was not sure how to re-generate the gold files.
Also, since Linux gcc 4.9 and Linux gcc 7.4 produce different results, won't fixing 4.9 break 7.4?  From what I can see in the CMakeLists.txt, the tolerance does not depend on the compil

[2020-04-30 17:57] sayerhs commented on #571
@overfelt Yeah, handling regression tests on different machines is a bit of a pain. Here is what I do. Nalu-Wind provides a custom `NALU_GOLD_NORMS_DIR` that you can use to point to your own set of Gold files. So I check out a working version of the `master` branch run regression tests copy `norm` files from that specific machine/compiler to a directory and then run CMake again to point to that di

[2020-05-04 13:46] tchatte3 opened #576 "velocity gradients at output"
Hi Nalu-wind team,

Is there a way to directly tap the velocity gradients of vx, vy, and vz (also Temperature) at the outputs from the .yaml file. Does it dump out the projected nodal gradients.? It will be very helpful, if someone can pin-point me the variable to use, and I can look more.

Best Regards,
Tanmoy

[2020-05-04 13:53] sayerhs commented on #576
@tchatte3 You can output fields like `dudx` and `dhdx` (we solve for enthalpy and not temperature, but you can convert to temperature as we normally run constant density and specific heat).

[2020-05-04 13:55] tchatte3 commented on #576
@ sayerhs Thanks. Is dudx a scalar, vector or a tensor field?

[2020-05-04 13:59] gdeskos commented on #576
dudx  is a tensor field

[2020-05-04 14:07] tchatte3 commented on #576
@gdeskos, Thank you

[2020-05-04 14:07] #576 closed

[2020-05-04 14:13] gdeskos commented on #576
To clarify my comment dudx is a tensor which is stored as a vector that contains all different  du_i/dx_j components. You may access any of the tensor components on device by doing duidxj=dudx.get(mi, ndim * i + j).

[2020-05-06 16:12] tchatte3 opened #578 "post-processing force/moments at the wall"
Hi NALU-wind team,

When I set up the post-processing section to compute  wall forces and moments in th NALU-wind yaml script, the program runs fine (without throwing any error), but I do not see the .dat files being generated.  Any help regarding this? I am attaching the .yaml file and .log file for reference.

[abl_simulation.log](https://github.com/Exawind/nalu-wind/files/4587865/abl_simulation

[2020-05-06 16:18] sayerhs commented on #578
@tchatte3 Did you manually create the `results/` directory? There is a current limitation in nalu where it will silently fail if the directories are not created for post-processing. That is most likely the cause of your problem.

Unrelated, I see from your input file that you have activated wall function but are using the force/moment post-processing for the non-wall function BC. You'll want to lo

[2020-05-06 17:06] tchatte3 commented on #578
@sayerhs, thanks for pointing this out. I really appreciate your help. I did not think about this since other restart and output files creates the directories. Related to the wall function, actually my goal is to see both the force/moments with and without wall functions, but for debugging purposes , I switched one of them off. So yes, I will be turning both the physics on for post-processing.

Ye

[2020-05-07 12:09] #578 closed

[2020-05-07 17:16] lawrenceccheung opened #579 "Bug in time-averaging and instantaneous ABL statistics"
## Detailed description of the bug

Alan (@alhs6577), Matt (@mchurchf), and I are going through the ABL statistics and time-averaging ahead of any Q3 milestone precursor simulations, and fixing any bugs that might come up.

So far, we've noticed the following things related to time-averaging or the netcdf outputs.
1. If a precursor starts from the t=0 (with time-averaging turned on), the time-aver

[2020-05-11 14:38] tchatte3 opened #580 "meshing using abl_mesh tool"
Hi Nalu-wind team,

I was trying to explore other options in the abl_mesh utility.
 With the spec_type = bounding_box, I was able to use constant spacing type/ geometric spacing type.

I am wondering if I use spec_type = vertices, what can I implement there?. Can I manually implement, the x, y, and z coordinates of the nodes through this spec_type feature = vertices?

In a more generic sense, I am

[2020-05-11 20:08] sayerhs commented on #580
@tchatte3 `spec_type: vertices` allows you to set the 8 corner vertices like `blockMeshDict` (in OpenFOAM) does for a single block mesh. If I understood your question correctly, you are asking about controlling the grid spacing in the three directions. IF that is the case there are two ways to do this:

- Use predefined grid stretching ratio: [example](https://github.com/Exawind/wind-utils/blob/ma

[2020-05-11 20:13] sayerhs commented on #580
See here for geometric mesh spacing https://naluwindutils.readthedocs.io/en/latest/user/abl_mesh.html#mesh-spacing

[2020-05-11 20:21] tchatte3 commented on #580
@sayerhs Thanks a lot. Ok, so vertices spec_type would not be suitable. I think User-specified spacing as an array in the 3 directions was something I was looking on. This is extremely helpful.

Yes, we are relying on third party meshing tools, but I guess the abl_mesh utility, for our purpose, is still a powerful tool to generate script based simple box meshes.

[2020-05-11 20:26] #580 closed

[2020-05-12 19:29] sayerhs opened #582 "Failing unit test for ActuatorDisk+FAST"
Unit tests are failing nightly [CDash](https://my.cdash.org/testDetails.php?test=57410265&build=1823730)

[2020-05-12 19:31] sayerhs commented on #582
Unit tests when run through CTest are run from `<build_dir>/reg_tests/test_files/unitTest{1,2}`.

[2020-05-13 16:25] psakievich commented on #582
ah okay.  I'll take a look

[2020-05-13 19:59] psakievich commented on #582
PR #583 opened to address this.

[2020-05-13 23:17] tonyinme commented on #562
hey @DeeDiveT were you able to get your simulations working?

I have updated the examples and they should work now.
There is a pull request open right now with the fixes.

[2020-05-14 15:20] sayerhs commented on #582
CDash still shows [failure](https://my.cdash.org/testDetails.php?test=57474680&build=1824678)

[2020-05-14 19:08] psakievich commented on #582
@sayerhs @jrood-nrel pretty sure I got it right this time see #586

[2020-05-15 13:58] #582 closed

[2020-05-15 14:00] sayerhs opened #588 "CUDA warnings for ActuatorNGP"
NGP code introduced for `Actuator` generates warnings when compiled for CUDA

[code]

More details [CDash](https://my.cdash.org/viewBuildError.php?type=1&buildid=1825358)

[2020-05-15 14:03] sayerhs opened #589 "Actuator regression tests need rebless of gold files"
Pull request #550 refactored the actuator source codebase extensively. The regression test gold files needs to be reblessed for the reference compiler.

[2020-05-15 14:31] tchatte3 opened #590 "NALU-wind failing in BELOS solvers for certain mesh stretchin ratio"
Hi NALU-wind team,

I am running a box type hexahedral mesh, with vertical mesh stretching. For some mesh stretching, the code fails on Belos solvers, while for some it does run without any issues. I am using a RANS wall-model, and stretching the mesh would mean smaller cell-sizes at the wall. However, I see the failure is occurring not because the cell-size at the wall is becoming smaller, but wh

[2020-05-15 15:12] sayerhs commented on #590
@tchatte3 Assuming you're running with `master` branch of `nalu-wind`, this looks suspect

[code]

This BC should be set similar to what is used for the wall boundary in `airfoilRANSEdge` regression test case. Specifically, I'd start with `use_wall_function: no`

[2020-05-15 17:30] tchatte3 commented on #590
@sayerhs . Thanks. I have turned on/off wall-function, various values of turbulent_ke. (even from the airfoilRANSedge regression suite. .e., 0 velocity, tke), but the code still fails at the first time step with the BELOS solver throwing error, as reported earlier. That makes me suspect, it is solely a mesh issue.

I will look further ...

[2020-05-15 17:33] sayerhs commented on #590
I would recommend visualizing the mesh and the wall distance field that is being computed.

[2020-05-15 18:44] tchatte3 commented on #590
![image](https://user-images.githubusercontent.com/14302216/82083754-3bd22c80-96b8-11ea-96ff-4a17a6464563.png)

![image](https://user-images.githubusercontent.com/14302216/82084083-c1ee7300-96b8-11ea-9e90-f33f58f87f6a.png)

The wall-cell size ~ 0.5 metres and top cell ~ 43 metres (100 cell count, stretching ratio =1.045), as I set-up in the nalu abl mesh yaml script, through a stretching ratio. So

[2020-05-15 22:43] sayerhs commented on #590
@tchatte3 You are solving a Poisson equation to compute the nearest distance to wall that is used by other transport equations.

[code]

This equation is solved before starting timestep loop, and is output in the zeroth timestep. The field is called `minimum_distance_to_wall`, can you plot that field and see if there are issues with that?

Beyond this, to debug the problem, you'll want to do start

[2020-05-16 01:38] tchatte3 commented on #590
@sayerhs Good point. I will definitely check this.

[2020-05-18 13:52] sayerhs opened #592 "CUDA build warnings for matrix-free unit test"
[code]

[2020-05-18 16:54] #592 closed

[2020-05-18 21:18] tchatte3 commented on #590
@sayerhs , I was able to make these meshes run with inflow/outflow case . The same mesh failed in periodic simulation case. Incidentally, the cases were the mesh failed: NDTW system (the poisson solver) residual was always pretty high. I am not sure if this tells that for periodic simulations, the linear solvers [Ax = b], the matrix is really bad/ill-conditioned somehow? Any suggestions to overcom

[2020-05-19 12:06] sayerhs commented on #590
- Wall distance computation is a Poisson solve that uses Neumann BCs everywhere except the wall where it is set to Dirichlet. As far as the linear system is concerned, it wouldn't see a difference between inlet/outlet and periodic BCs.

- Have you visualized the `min_distance_to_wall` field that is output to the exodus file? https://github.com/Exawind/nalu-wind/issues/590#issuecomment-629418770 on

[2020-05-19 12:08] sayerhs opened #595 "Compiler warnings in DataProbePostProcessing"
#575 introduces warnings during build from order of initialization of members in the initializer list.

[CDash](https://my.cdash.org/viewBuildError.php?type=1&buildid=1827443)

[2020-05-19 13:13] sayerhs commented on #595
[code]

[2020-05-19 14:03] tchatte3 commented on #590
@sayerhs . Thanks for the inputs. Yes, I did check the minimum_distance_to_wall at timestep 0. Since, at timestep 1, nothing is dumped, the solver crashes. I don't find anything suspicious.
My min dist. to wall should go from 0 to 1000 at time-zero, and that is what is happenning.

I tried tighening the tolerance for the search algorithm in periodic BC to 1e-10, even. The solution still fails, and

[2020-05-19 18:49] lawrenceccheung commented on #595
Warnings should be fixed in PR [597](https://github.com/Exawind/nalu-wind/pull/597).
Lawrence

[2020-05-19 19:45] #595 closed

[2020-05-19 21:09] tchatte3 commented on #590
@sayerhs , Thanks for the inputs. I am closing the issue now. I think, I found a work-around solution. I see that when my mesh-stretching ratio is of the form 1.XXX5, this problem happens. If I make my stretching ratio 1.XXX5 + eps, where eps is a small number (carefully chosen), I am able to work-around this issue. So, in such cases the BELOS solver errors are not thrown and the NDTW equation sys

[2020-05-19 21:09] #590 closed

[2020-05-23 00:36] #571 closed

[2020-05-25 12:11] sayerhs opened #602 "warnings in DataProbePostProcessing"
CDash builds show out of order initialization warnings in DataProbePostProcessing constructor

[CDash](https://my.cdash.org/viewBuildError.php?type=1&buildid=1830353) link

[2020-05-26 19:34] lawrenceccheung commented on #602
Should be fixed in PR [603](https://github.com/Exawind/nalu-wind/pull/603).  I'm able to get rid of all warnings (using `-Wall -Wreorder`) during compilation with intel -- hopefully holds true for gcc as well.

Lawrence

[2020-05-26 20:21] #602 closed

[2020-05-27 17:08] psakievich commented on #588
I'll take a look

[2020-05-30 12:52] sayerhs commented on #562
@tonyinme updated the examples in #581 . Please try those and reopen the issue if you still have troubles.

[2020-05-30 12:52] #562 closed

[2020-06-03 13:00] sayerhs opened #605 "Failing ablNeutral NGP regression test"
@jrood-nrel updated the reference gold norms in the nightly regression test to use GCC 7.4.0 (#604) and has tightened the tolerance on the GPU tests. With this now [ablNeutralNGPTrilinos](https://my.cdash.org/testDetails.php?test=58166561&build=1835092) is showing a failure.

On NREL Eagle system with GCC 7.4.0 and CUDA 9.2.88 (#598), I was getting this:

[code]

@alanw0 @overfelt Can you guys ple

[2020-06-03 13:05] sayerhs opened #606 "NGP nightly regression tests for overset"
#594 and #596 introduced static and rotating cylinder overset regression tests with NGP pathway. Currently nightly tests do not enable TIOGA during Nalu-Wind builds, so these tests are not run on GPUs.

Use CPU build of TIOGA, activate TIOGA for Nalu-Wind build and run these NGP tests for GPU builds.

[2020-06-03 15:02] overfelt commented on #605
Shreyas,

My Summit results are close to the nightly CDash results.  On Summit I am using gcc/7.4.0 and cuda/10.1.243.  The test diffs are close to the nightly diffs

[code]

And the raw norms are

[code]

I have not updated Trilinos in a month but will do that now and see if it makes a difference.

[2020-06-03 15:36] sayerhs commented on #605
@overfelt thanks for confirming. Can you or @alanw0  do me a favor? Can you change this line

https://github.com/Exawind/nalu-wind/blob/0fec38be25be71777ab630b3a06722be621e5bfe/reg_tests/test_files/ablNeutralNGPTrilinos/ablNeutralNGPTrilinos.i#L101

to `turbulent_ke: 1.0e-8` and rerun the case both on CPU and GPU and compare system norms? and possibly `exodiff`?

[2020-06-03 15:42] sayerhs commented on #605
With `turbulent_ke: 1.0e-12` I am seeing this

[code]

[2020-06-03 19:19] #588 closed

[2020-06-03 19:35] psakievich commented on #589
@jrood-nrel did you rebless these as a part of #604 ?

[2020-06-03 19:41] #589 closed

[2020-06-03 19:49] psakievich commented on #542
@lucbv is this for the SRN or SEN? I've got all the TPL's cached in `/projects/wind` for CEE machines and HPC's on the SRN.

[2020-06-03 19:57] psakievich commented on #537
@tchatte3 you can try swapping `ActDiskFAST` for `ActDiskFASTNGP`.  This will let you run to the `nturb = nproc` limit but not `nturb>nproc` which is still not supported in nalu-wind.  The new implementation is also faster than the legacy `ActDiskFAST` implementation.

[2020-06-03 20:09] lucbv commented on #542
@psakievich I imagine that the TPL was installed on both side.
I certainly have been using it on the SON without problems.
If you have access to a machine with sems modules through the nfs you can simply try:
[code]
I do not have access to SRN or HPC at Sandia so I cannot confirm myself.

[2020-06-03 20:11] lucbv commented on #542
On the other hand I can tell @sayerhs and @jrood-nrel that we now have `sems-cmake/3.17.1` installed so if you want to look into upgrading the CMake infrastructure, I would be able to test on the Sandia side : )

[2020-06-04 16:17] overfelt commented on #605
Shreyas,
 Took a while to create a CPU version here at Sandia.  Below are the results for ablNeutralNGPTrilinos when setting turbulent_ke to 1.0e-8 comparing Summit GPU to Sandia CEE CPU.  The compilers are not exactly the same but the norms are close:
[code]
And the exodiff of the two abl.e files:
[code]

[2020-06-04 21:09] tchatte3 opened #608 "wind turbine simulations failing in Nalu-wind"
Hi Nalu-wind team,

My wind turbine simulations are failing with this git-commit
[code]

The code fails with a segmentation fault. This only happens with actuator disc simulations, if I comment out the ADM part, the code works fine.

However, when I tried running the same code with an older version of nalu-wind it works fine. I tested my inputs on the following build

[code]
and it works fine.

At

[2020-06-05 12:39] sayerhs commented on #605
Thanks @overfelt If I recreate the table like I had for my Eagle runs, this is what I get from your data

[code]

So do you remember what time step was the `pressure rel diff` for? Is it the first or the last timestep?

@alanw0 based on this, I am going to submit a pull-request to change the initial guess of TKE to `1e-8` instead of 0.

[2020-06-05 13:12] alanw0 commented on #605
Sounds good to me.

[2020-06-05 14:31] #605 closed

[2020-06-05 14:36] sayerhs commented on #608
@tchatte3 The actuator disk/line model received a significant overhaul as part of our Q2 milestone work (see #550). I am wondering if this is causing some issues with your run. However, the _older commit_ you provide is a bit too old. Did you arrive at that commit through `git-bisect`? If not, would you might at least testing commit 87b46a1f7179 and see if that works for your setup? That will allo

[2020-06-05 14:49] #606 closed

[2020-06-05 14:50] sayerhs commented on #608
Linking #537 to this issue.

[2020-06-05 15:17] tchatte3 commented on #608
@sayerhs , we did not find the offending commit by `` git-bisect``. We updated the entire version two weeks back, and found this commit just accidentally. Sure, I will test the commit ``87b46a1`` and see if that works.

[2020-06-05 15:54] tchatte3 opened #610 "reading boundary planes in the ioRealm section"
Hi Nalu-wind team,

I am trying to run the wind farm (precursor driven) example case (or a variant of it). Step 1 and 2, which is for running the fully-developed precursor steady state and extracting the boundary planes work fine.

I get stuck in Step 3, where the boundary planes are being read. I already have the boundary planes being extracted properly in Step 2.

![image](https://user-images.gi

[2020-06-05 17:04] psakievich commented on #608
@tchatte3 the issue seems to be that you've selected to output a field named 'actuator_sources` in the yaml when the actual field is named `actuator_source`.  I checked the git history and this name has not changed in the last 4 years.  I'm not sure why an older commit would have worked. With the run that worked off the older commit did the `actuator_sources` field actually get populated with sens

[2020-06-05 17:16] sayerhs commented on #608
@psakievich Looking at the commit history, I don't see anything that would have changed parsing/IO field checking. Also the output section can list fields that don't exist in the code, it will just print out a warning message in the log file, and doesn't segfault.

https://github.com/Exawind/nalu-wind/blob/454b575a9ec30531699deb10d05ef54d1fc101d0/src/Realm.C#L2019-L2030

[2020-06-05 17:17] sayerhs commented on #608
Looking at @tchatte3 's log file that is indeed the case

[code]

So I don't think the error is caused because of that.

[2020-06-05 17:25] tchatte3 commented on #608
@sayerhs, @psakievich , this is my old yaml, so yes it still contains the old ``actuator_sources`` instead of the ``actuator_source``, but it does pass with warning, and does not cause any issue. And changing it to ``actuator_source`` creates the same problem.

[2020-06-05 17:27] sayerhs commented on #610
@tchatte3 If you are using an `epu`ed Exodus file as your `mesh` file then you need to specify

[code]

in the realm section for that mesh (`ioRealm` in your case). The code currently is not user-friendly in that sense.

[2020-06-05 18:03] lawrenceccheung commented on #608
Hi @tchatte3,
I happen to have a build that's based off of `a3fd9cc` with some minor changes (but not to the actuator disk part).  I tried your actuator disk setup using a different FAST model lying around, and everything works fine.

I also tried your exact input file, again with a different FAST model and quickly changing some BC's and stuff, and it's at least able to reach iteration #1.  (It fa

[2020-06-05 18:06] psakievich commented on #608
Sorry, I guess I didn't scroll down all the way when looking at the logfile.  I though it died on that line.  Glad it doesn't 😁
Ah @lawrenceccheung that might be it!  We made changes to the OpenFAST C++ API as part of the actuator refactor to break away from requiring `std::vector`.  @tchatte3 could you try with a fresh build of OpenFAST and see if that works?

[2020-06-05 18:11] lawrenceccheung commented on #608
Thanks @psakievich.  For your reference, @tchatte3, I'm using OpenFAST version `1365da7` from the dev branch, downloaded on April 27.

Lawrence

[2020-06-05 18:15] tchatte3 commented on #610
@sayerhs . I added the automatic_decomposition_type: rcb, however I still get an error during runtime. Its in the transfers section.  I am also trying to use the specific dissipation rate variable, I am not sure I setting it right though.

[code]
[abl_simulation.log](https://github.com/Exawind/nalu-wind/files/4737782/abl_simulation.log)
[abl_simulation.yaml.txt](https://github.com/Exawind/nalu-win

[2020-06-05 18:19] tchatte3 commented on #608
@lawrenceccheung , @psakievich thanks for these feedbacks/inputs. I will go ahead and upgrade openFAST and see how it goes.

[2020-06-05 18:48] sayerhs commented on #610
The `fluid` Realm doesn't have a field called `specific_dissipation_rate_bc` it is called `sdr_bc` similar to `tke_bc`. That is possibly one source of error. Without the full stack trace, it is not possible to determine if this was the only error or if there was something else that caused the crash.

[2020-06-05 18:50] tchatte3 commented on #610
@sayerhs I tried with both sdr_bc and specific_dissipation_rate_bc, both causes the same error.

[2020-06-05 18:53] sayerhs commented on #610
Please post a stack trace.

[2020-06-05 19:32] tchatte3 commented on #610
@sayerhs. I was looking for stacktrace options in our Cray machine, and talked to a couple of personnels, its seems some of the modules like STATview are unavailable to do stacktrace at runtime. Is there a way to increase verbosity in Nalu-wind to help us better understand where the failure is occurring?

[2020-06-05 20:15] tchatte3 commented on #608
@lawrenceccheung @psakievich, @sayerhs I tested the ADM model with the following code-builds.
[code]

[2020-06-05 20:42] tchatte3 commented on #610
@sayerhs I was able to do a workaround for stacktrace.

Here is the stack trace.

[code]

[2020-06-05 20:52] lawrenceccheung commented on #608
Hi @tchatte3, if you can upload the FAST files and maybe other setup files, I'll try running it on the build I have here.

Lawrence

[2020-06-05 21:04] psakievich commented on #608
This looks like it is an issue with openfast. @tchatte3 did your `d503c4e` and `a3fd9cc` builds share the same install of openfast? Also does this case run when you run openfast as a stand alone application with your input files? Perhaps uploading the files will be the quickest way to evaluate as @lawrenceccheung suggested.

[2020-06-05 21:04] sayerhs commented on #608
@tchatte3 If it is not possible to share the OpenFAST input files as @lawrenceccheung suggests, can you do a sanity check and run the regression tests with your build? IF they fail, that would help @lawrenceccheung and @psakievich start investigating.

[2020-06-05 21:20] tchatte3 commented on #608
@sayerhs, @psakievich @lawrenceccheung
[nrel5mw.fst.in.txt](https://github.com/Exawind/nalu-wind/files/4738522/nrel5mw.fst.in.txt)

I have uploaded the fst input file. Hope this will work. Aerodyn, Elastodyn input files are difficult to share as they contain proprietary information. Hope, the reference 5MW NREL turbine can serve as a benchmark openFAST module input files.

d503c4e and a3fd9cc comm

[2020-06-05 21:34] tchatte3 commented on #608
The regression test
[code]
fails at exactly the same way as previous with my builds of openFAST and Nalu-wind.

My stacktrace

[code]

[2020-06-05 21:40] sayerhs commented on #608
@tchatte3 Thanks, I was expecting this. So one more check... are you able to run the fast input deck with the standalone FAST Fortran executable and the C++ driver?

[2020-06-06 00:21] lawrenceccheung commented on #608
Hi @tchatte3,

So I tested the `nrel5mw.fst.in` you sent with the [baseline 5MW files](https://github.com/Exawind/nalu-wind/tree/master/reg_tests/test_files/nrel5MWactuatorLine/5MW_Baseline), and that seems to be working.

However, there is (at least) one vital change that happened to the Aerodyn files between the Nalu-Wind commits d503c4e7fef16d0d7ec5ebfcb306d00e66f54e77 and a3fd9cce80b4ed5f4887a

[2020-06-06 01:41] tchatte3 commented on #608
@lawrenceccheung @sayerhs Thanks for the headsup. Yes, my stdout does show that their is a problem with the Aerodyn. it stops at Aerodyn, just like you saw. Sure, I will take a look at the Aerodyn files. Will update it, accordingly.

[2020-06-06 02:33] tchatte3 commented on #608
Thanks, @lawrenceccheung , by adding the line AFTabMod in Aerodyn v15 file I was able to run the regression test as well as my own case with 5MW NREL reference turbine example.

[2020-06-06 03:25] #608 closed

[2020-06-08 19:34] tchatte3 commented on #610
@sayerhs , I am closing this issue, since it has been resolved after analyzing the stack trace. There was problem in the input/output Realm problem name. Thank you for the feedback.

[2020-06-08 19:34] #610 closed

[2020-06-08 20:26] lawrenceccheung commented on #579
Following up from the earlier issue report, Alan (@alhs6577) re-ran the case with the fixes to the ABL statistics.  The time averages in the netcdf file match much better with the instantaneous statistics now.

Here are the new temperature flux comparisons:
![image](https://user-images.githubusercontent.com/15526007/84072183-a3ac2800-a983-11ea-938d-824953b70a34.png)

The instantaneous SFS stresses

[2020-06-09 19:50] tchatte3 opened #615 "flexibility in box-size in NaluwindUtils"
Hi Nalu-wind team,

I am writing to request for a feature request in NaluWindUtils, related to nestedrefinement.cpp. When we do multilayer refinements around the turbine the list of one layer of refinement looks like this.
[code]
X1 is the normalized distance upstream of the turbine, X2 is the normalized distance downstream of the turbine for the streamwise box size.
The lateral extent of the box

[2020-06-09 20:01] sayerhs commented on #615
@tchatte3 As a workaround you can currently achieve what you want by changing _turbine_heights_ to be `0.5 * (ZZ1 + ZZ2)`

[2020-06-09 20:20] tchatte3 commented on #615
@sayerhs Thanks, I will shift to wind-utils issue on that GitHub repo. What you suggest makes sense. We have done something similar, but that imposes a limitation in the vertical extent of the box size or  a limitation on the turbine hub-height we want to impose on the domain. This particularly becomes critical if we are already defining our domain size in km, and want a specific turbine of hub-he

[2020-06-09 20:47] lawrenceccheung commented on #608
Hi @tchatte3,

One more thing I forgot to mention.  In your input file, you have density set to two different values.

In the material properties, the reference density is set to 1.0
[code]
but the input to OpenFAST is 1.225.
[code]
Everything will run perfectly fine, but the output from OpenFAST will report higher forces/thrust and the turbine outputs will be off by a certain percentage.

This is

[2020-06-09 20:55] tchatte3 commented on #608
@lawrenceccheung, thanks for the input. Indeed, as a workaround it would be better to shift to a python wrapper to write the entire .yaml file, taking minimal inputs from the user (as setup.yaml has been doing), so this redundancy checks can be avoided.

[2020-06-09 22:55] #579 closed

[2020-06-10 18:21] rcknaus opened #617 "Symmetry BC"
Just to track what's left with the symmetry BC

  * Need a formal verification test made up, documented
  * Adjust so it applies as a slip condition for a moving wall
  * Adapt for the edge scheme
  * (Maybe) write the non-consolidated element implementation

[2020-06-10 18:35] tchatte3 opened #618 "Issue with tke bc in precursor driven wind farm simulation"
Hi Nalu-wind team,

I am currently working with precursor driven wind farm simulation, starting with the example ``wind farm" case. All my steps are functionally working now. For step 2, I restart the precursor simulation, from a fully developed state and extract the inflow boundary plane only at various time-steps.

<img width="690" alt="image_1" src="https://user-images.githubusercontent.com/143

[2020-06-11 16:53] sayerhs opened #619 "Latest Trilinos master/develop breaks matrix-free code pathway"
See [CDash](https://my.cdash.org/viewBuildError.php?buildid=1838951)

[2020-06-11 18:34] #619 closed

[2020-06-11 20:53] tchatte3 opened #621 "Restarting from a exo files having a different mesh"
Hi Nalu-wind team,

Can restarting of a simulation be done from a file that has a different mesh layout (but same domain size)  that the current simulation from which restart is being called. Does it do a grid-to-grid interpolation, automatically or are there any tools that we need  to invoke for that.

Best,
Tanmoy

[2020-06-11 20:54] sayerhs commented on #621
@tchatte3 if the domain extents are the same, you can use nalu _transfers_ to interpolate onto the new mesh. Just run for zero timesteps and save the results at the zeroth timestep. Where zeroth timestep is the timestep you want to interpolate into the new mesh.

[2020-06-11 21:01] tchatte3 commented on #621
@sayerhs , OK, I see your point. Thanks a lot.

[2020-06-11 22:14] sayerhs commented on #621
Yes that's correct

[2020-06-12 02:25] tchatte3 commented on #621
@sayerhs Thank you

[2020-06-16 16:55] jrood-nrel opened #624 "ablNeutralStat Python dependency"
I am wondering if it would be possible to remove the Python NetCDF package dependency for the `ablNeutralStat` test to be in line with the other tests? A regular Python dependency is no problem, but I would prefer if Python package dependencies can be avoided just so I don't have to spend the time setting them up on the three test machines.

[2020-06-16 21:47] lawrenceccheung commented on #624
Hi @jrood-nrel, that's a good question.  I wasn't 100% sure what packages were available on the test machines when I set up the test.

An alternative to the python dependency would be to use the netcdf command line utilities (like `ncdump`), I might be able to use that to extract the same information.  Are those utilities already installed on the test machines?

Also tagging @sayerhs in this issue

[2020-06-16 21:51] jrood-nrel commented on #624
Yeah since netcdf is required, it should be easy to have netcdf utilities in the path for the test.

[2020-06-16 22:39] lawrenceccheung commented on #624
Ok that works.  I'll try modifying it to use those utilities then.  Probably won't get to it until later this week or next, so you can ignore the `ablNeutralStat` test for now.

Lawrence

[2020-06-16 22:50] sayerhs commented on #624
@jrood-nrel How difficult would it be to install [nccmp](https://gitlab.com/remikz/nccmp/-/blob/master/README.md) through spack. I see that spack has a package for it already? this would provide the ability to do `fcompare` type checks on the files, instead of some python utility that we write around `ncdump`. The `abl_statistics.nc` file is quite small and can be part of either the `mesh` repo or

[2020-06-17 14:40] jrood-nrel commented on #624
`nccmp` looks simple. That would be fine.

[2020-06-17 14:53] tchatte3 opened #625 "output channels with Cp, Ct from openFAST using Nalu-wind actuator disc simulations"
Hi Nalu-wind team,

Even though this question is tied to openFAST simulations, I am asking this question here for better relevance. I have some questions related to the interpretation of the results.  I am running actuator disc simulations using Nalu-wind (latest build). In the turbine section, you see that I set t_max = 0.625, after the completion of the simulations, when I open the output file o

[2020-06-18 17:08] tchatte3 commented on #621
@sayerhs, I have a quick follow up question related to that. I have a ABL mesh with ``target name: fluid part`` and a wind farm mesh with
`` target name: [fluid_part,fluid_part.pyramid_5._urpconv,fluid_part.tetrahedron_4._urpconv] ``.

When I am using the transfers class, how do I identify the mesh pair
[code]

When I look at the source code I see the following lines :

``// proceed safely
    con

[2020-06-18 17:32] sayerhs commented on #621
[code]

https://github.com/Exawind/nalu-wind/blob/6e37d5759cc6e6c4df14964d53e76342662f5dcf/src/xfer/Transfer.C#L130-L154

[2020-06-18 17:35] tchatte3 commented on #621
@sayerhs  Thanks for the clarification. This is helpful.

[2020-06-19 19:11] sayerhs commented on #625
@tchatte3 I am pretty sure that I remember @gantech mentioning that OpenFAST `t_Max` has to be greater than how long the Nalu simulations are running, otherwise the results would not be correct. Ganesh can you confirm?

[2020-06-19 19:17] tchatte3 commented on #625
@sayerhs Thanks.

[2020-06-19 19:36] lawrenceccheung commented on #625
Hi @tchatte3,

So if you're starting a simulation from scratch, the actuator disk and actuator line code will happily keep advancing OpenFAST as long as necessary regardless of `t_max`, and I think the text output in the `*.out` should be continue to be written as long as needed (similar to what you might have observed).

However, the issues might come when you want to restart the openFAST calcula

[2020-06-19 19:43] tchatte3 commented on #625
@lawrenceccheung This makes perfect sense. Thanks for clarifying.

[2020-06-19 20:03] lawrenceccheung commented on #625
@tchatte3  I agree, this is another example where things could be better integrated with OpenFAST, and have less redundancy in the user input.  It's been mentioned before, but some of the actions will require a coordinated update in both the OpenFAST and Nalu-Wind codes.

Lawrence

[2020-06-22 20:45] tchatte3 commented on #625
Hi @lawrenceccheung , @sayerhs @gantech ,

Following the thread discussion, when I run my simulations I make sure that times in openFAST and NALU-wind are consistent. For example,

The time-integrator section looks like this:
[code]

The actuator initialization section from openFAST C++ API looks like this:

[code]

And, in the .fst.in file, I have the following inputs

[code]

With this setting,

[2020-06-22 21:19] lawrenceccheung commented on #625
Hi @tchatte3,

Yes, that's very strange behavior.  What is the inflow condition for the turbine?  Is it a uniform inflow or a precursor/turbulent inflow?

Here's what I would do to narrow down the problem.
1.  First, try replacing the OpenFAST turbine model with another known model (like the NREL 5MW).  If it behaves the same way, then there might be something wrong with the inflow or the actuator

[2020-06-22 21:25] tchatte3 commented on #625
@lawrenceccheung , thanks for the feedback. Yes, you are right, there is a problem with the openFAST model. I am actually trying to simplify the openFAST model as much as possible. I am reducing the degrees of freedom with Elastodyn and checking if that works. Thanks for the detailed feedback.

[2020-06-23 12:04] psakievich commented on #625
@sayerhs @gantech are there any reasons why we don't automatically just set `t_max` to `termination_time` internally and remove the `t_max` flag all together?  As @tchatte3 mentioned it does seem rather cumbersome.

[2020-06-23 12:14] sayerhs commented on #625
The FAST tMax should be as long as the total solve time including all the restarts you ever plan to use. I suspect that's why @gantech set it the way it is. Using termination time means it won't work with restarts correctly.

[2020-06-23 12:38] gantech commented on #625
`t_max` for OpenFAST is set at the beginning of the simulation and cannot be changed. OpenFAST allocates all output arrays based on `t_max` and stores them throughout the simulation. https://github.com/OpenFAST/openfast/blob/master/modules/openfast-library/src/FAST_Subs.f90#L2113 As @sayerhs said, this is a potential memory issue. Also, you cannot set `t_max` to say 300s  and then decide to run a

[2020-06-23 15:01] sayerhs opened #629 "Regression test for simple fixed wing actuator pathway"
The NGP team (@alanw0, @overfelt, @jrood-nrel, and myself) have an upcoming ECP Q4 milestone to demonstrate a CPU-GPU simulation of actuator line simulations running on Summit. To achieve this, we will need to figure out that all the field syncs are working correctly on GPU builds.

To help the NGP team (and possibly members of STK team who might to help with debugging) we would like to have two r

[2020-06-23 15:05] sayerhs commented on #621
Closing this assuming that the issue has been resolved. Please reopen if there are additional issues.

[2020-06-23 15:05] #621 closed

[2020-06-23 15:13] tchatte3 commented on #625
@lawrenceccheung Getting more realistic results of C_p, C_t rotor power now. Elastodyn inputs had some blade DOF's turned on, which perhaps were making it unrealistic. Making the blades/tower rigid solves this problem. I am closing this issue. Thanks for the valued feedback.

[2020-06-23 15:13] #625 closed

[2020-06-23 15:14] psakievich commented on #629
@sayerhs as written the current fixed wing implementation is host only.  Is maximizing GPU execution for that section of code part of this issue, or just a nice bonus if we have time to pull it off?

[2020-06-23 15:16] psakievich commented on #625
@sayerhs @gantech thanks for the clarification.  that makes sense.

[2020-06-23 15:18] sayerhs commented on #629
@psakievich As written maximizing GPU execution is just a nice bonus if we have time to pull it off.

[2020-06-23 15:26] sayerhs opened #630 "NGP version of airfoilRANSEdgeTrilinos"
- [ ] Create an NGP version of airfoilRANSEdgeTrilinos nightly regression test that can execute on GPUs and match the CPU gold norms to `1e-10` tolerance.
- [ ] Use a restart instead of a cold start for this test - figure out why restart is not consistent on GPUs.

[2020-06-23 15:29] sayerhs opened #631 "Setup NGP demonstration blade-resolved simulation for ECP FY20-Q4"
- [ ] Use McAlister setup used in FY20-Q2 to ensure all GPU pathways are working correctly
- [x] Setup an NREL5MW setup that can execute on GPU
- [x] Finalize problem definition to be used for Q4 milestone runs

[2020-06-23 15:32] sayerhs opened #632 "Setup NGP demonstration of an actuator line/disk simulation for ECP FY20-Q4 milestone"
- [x] Setup nightly regression test of fixed wing actuator line (#627)
- [x] Ensure all GPU builds include OpenFAST integration (on SNL testbeds and ORNL Summit)
- [ ] Convert NREL-5MW actuator line simulation to run on GPU
- [ ] Create the demonstration problem setup that will be used for Q4 milestone

[2020-06-23 16:07] lawrenceccheung commented on #629
Hi @sayerhs -- Yes, I can set up a fixed wing regression case based on some test cases I already have.

Lawrence

[2020-06-23 19:34] tchatte3 opened #634 "Newton-Raphson method in ComputeWallFrictionVelocityAlgorithm::compute_utau()"
Hi Nalu-wind team,

I am reaching out to understand better the Newton-Raphson iteration that is used to compute u_tau.

    const double wrk = std::log(A*utau);
    // evaluate F

    const double fPrime = -(1.0+wrk);

    // evaluate function
    const double f = kappa_*up- utau*wrk;

    // update variable
    const double df = f/fPrime;

    utau -= df;
    if ( std::abs(df) < tolerance_ ) {

[2020-06-23 19:44] sayerhs commented on #634
https://github.com/Exawind/nalu-wind/blob/180441f3ac6aab09bb6704e6953f33b1f32f5c86/src/ngp_algorithms/ABLWallFrictionVelAlg.C#L36-L44

[2020-06-23 19:44] sayerhs commented on #634
@mchurchf Has been recently working on updating this part of the codebase, so I am assigning him to this issue. He would be the best person to answer this.

[2020-06-23 19:50] tchatte3 commented on #634
@sayerhs Thank you. I guess the algorithm I was pointing to is more relevant for RANS calculations where u+ = u_tau/kappa *log(Ey+) and any direction would be helpful.

Best Regards,
Tanmoy

[2020-06-24 13:55] sayerhs opened #635 "Inconsistent mesh submodule repo with nalu-wind"
#633 Updated the mesh submodule with a new exodus mesh (for airfoil restart), but the corresponding commit ID was not pushed to the https://github.com/Exawind/meshes repository. This breaks `git fetch/pull` actions on `nalu-wind`.

[2020-06-24 23:58] lawrenceccheung commented on #624
@jrood-nrel @sayerhs I made the modifications in [PR 638](https://github.com/Exawind/nalu-wind/pull/638).  Test it out and let me know if everything works properly on the test machines.

Thanks,

Lawrence

[2020-06-25 00:46] #635 closed

[2020-06-26 15:08] tchatte3 opened #640 "ramping up inlet boundary conditions"
Hi Nalu-wind team,

I am wondering if there is a feature in Nalu-wind where we can provide time-dependent boundary condition in the inlet. This typically helps in doing ramp up tests in the inlet condition. As of now, doing multiple restarts is a work-around, and wondering if there is already an existing way to add time-dependancy to boundary conditions.

Best Regards,

[2020-06-26 15:15] sayerhs commented on #640
@tchatte3 You have two options for this:

- If you can parametrize your time-dependent BC in some analytical form, you can write up a user function and set that in the input file
- You can use the `time_varying_inflow` pre-processing utility and use transfers similar to ABL precursor (https://github.com/Exawind/wind-utils/blob/master/src/preprocessing/InflowHistory.cpp#L34). The user function path

[2020-06-26 15:28] tchatte3 commented on #640
@sayerhs Thank you for the detailed output. If I use transfers, there will be 2 steps involved, user function seems to be a better option by registering the inflow BC. A follow up question, what is the variable used for ``time" in this regard?

Best Regards,

[2020-06-26 15:34] #624 closed

[2020-06-26 15:35] sayerhs commented on #640
@tchatte3 The time argument is passed to the evaluation method in the user function. It is the second argument to the method, and ignored in cases like shear profile. See this time-varying convecting taylor vortex example for its usage.

https://github.com/Exawind/nalu-wind/blob/792e5368690551cd1a5f7cd7797606118f3a7e24/src/user_functions/ConvectingTaylorVortexVelocityAuxFunction.C#L35-L58

[2020-06-26 15:37] tchatte3 commented on #640
@sayerhs , Thank you  WindEnergyTaylorVortexAuxFunction.C is a good starting point. Sorry, I did not see you mention that in the first post. I really appreciate your help regarding this matter.

[2020-06-26 15:37] #640 closed

[2020-06-26 23:15] sayerhs opened #642 "CUDA builds broken in nightly tests"
It appears that the latest Trilinos/STK update breaks builds for CUDA [CDash](https://my.cdash.org/viewBuildError.php?buildid=1845549).

@jrood-nrel do you pass any special arch flags when building for CUDA on NREL Eagle?

[2020-06-27 03:13] alanw0 commented on #642
Ugh, I think I know what's going on here. I'll push a fix as soon as I can.
I specifically built and ran nalu-wind on cuda (on ascicgpu) with the stk update. But I guess that was before a late commit went into stk to fix a AVX512 simd issue that Sparc had encountered. I guess sierra doesn't have any cuda builds where the host has AVX512...

[2020-06-28 23:32] alanw0 commented on #642
A fix has been merged into Trilinos:develop. I'll take a look at the nalu-wind dashboard in the morning to see whether it worked for this eagle build.

[2020-06-29 12:54] sayerhs commented on #642
@alanw0 It appears that trilinos/trilinos#7598 didn't help the build on NREL Eagle.

For nightly builds, @jrood-nrel usually forces the CXX flags to have `-O2 -march=skylake-avx512 -mtune=skylake-avx512` with

[code]

Do you think that could be causing the issue?

[2020-06-29 14:24] alanw0 commented on #642
@sayerhs bummer! I guess something else is weird, and my diagnosis was wrong or incomplete. I'm off on vacation for two weeks so I've referred this to the stk team. You will probably be hearing from @tasmith4 or @jvo1012 , they'll know what to do.

[2020-06-29 16:33] tasmith4 commented on #642
@sayerhs or @jrood-nrel, we're looking into this, and we're trying to understand how Trilinos is being built.  Is it possible for one of you to send the spack build log for this build of Trilinos?  Is the spack package used for Trilinos the one built-in to spack or is it special?  If built-in, which version (or commit hash) of spack are you using?  If special, where can we see it?

[2020-06-29 16:42] jrood-nrel commented on #642
I have a special `cuda` variant that does this:
[code]
Here is the most pertinent section of the Trilinos cmake configuration:
[code]

[2020-06-29 17:20] tasmith4 commented on #642
@jrood-nrel, is it possible for you to send your custom packages for trilinos and nalu-wind?

[2020-06-29 17:27] jrood-nrel commented on #642
https://github.com/Exawind/build-test/tree/master/configs/custom-package-files

[2020-07-02 18:11] tasmith4 commented on #642
@sayerhs @jrood-nrel, we've been able to reproduce and create a fix for this issue, which we have successfully tested locally.  We have a [pull request](https://github.com/trilinos/Trilinos/pull/7622) against trilinos/develop containing our fix -- hopefully that will go in shortly.

[2020-07-02 18:24] jrood-nrel commented on #642
Excellent!

[2020-07-02 20:20] tchatte3 commented on #618
@sayerhs Based on your previous suggestion, I started using the same initial condition of ABL into the precursor driven wind farm simulation. I used the grid to grid interpolation with ``Nalu Transfers`` with initialization objective as in #621 . Started seeing the same dispersion errors. While my grid to grid interpolation is working perfectly and is sanity tested, I got rid of that for further s

[2020-07-03 12:56] sayerhs commented on #618
@tchatte3 in the transfers section can you also add another entry (for `cont_velocity_bc`) and try?

[code]

Tagging @psakievich and @rcknaus in case they have other suggestions ideas.

[2020-07-03 13:28] tchatte3 commented on #618
@sayerhs , Thank you for the suggestion. Will modify and test it out again.

[2020-07-04 13:43] ShenglinYan opened #645 "Compile Nalu-wind with Trilinos_STK"
According to document of Nalu-wind, an error information shown the nalu-wind need the package of STKBalance of Trilinos during the compilation process. I modified the _do-config-trilinos_ script, and added the new option with -DTrilinos_ENABLE_STKBalance:BOOL=ON . I recompiled the Trilinos, and came across an error. The following is the error message.

Scanning dependencies of target stk_balance
[

[2020-07-06 14:18] tasmith4 commented on #642
@sayerhs @jrood-nrel -- given that we reproduced locally, I'm extremely surprised that the dashboard is still failing.  But we'll take another look at this today.

[2020-07-06 14:53] tchatte3 commented on #618
@sayerhs @psakievich @rcknaus Thank you, this suggestion of transferring velocity_bc to cont_velocity_bc from ioRealm to fluidRealm works now, and I  am not seeing those standing dispersion errors in the velocity field at the inlet. I am closing this issue as it is resolved.

[2020-07-06 14:53] #618 closed

[2020-07-06 15:48] jrood-nrel commented on #642
Yeah that is unfortunate. I just verified it built the latest Trilinos `develop` `10cb4586d6` and I see your PR in the Trilinos commits. I'm trying to think if there is any information that we don't have in this issue with how the tests are building Trilinos but I think it's all here. I verified that `-O2 -march=skylake-avx512 -mtune=skylake-avx512` are explicitly used. If it really gets down to i

[2020-07-06 15:54] jrood-nrel commented on #645
@ShenglinYan I updated the example Trilinos configuration with the current configuration we are using https://nalu-wind.readthedocs.io/en/latest/source/user/build_manually.html#trilinos . Most notably we are using only `-DTrilinos_ENABLE_STK:BOOL=ON`.

[2020-07-06 16:07] sayerhs commented on #642
@jrood-nrel Can you attempt a build without `-march=skylake-avx512 -mtune=skylake-avx512` ?

[2020-07-06 17:06] tasmith4 commented on #642
@jrood-nrel, yeah, we had built on an SNL skylake machine using exawind-builder and adjusting the flags to include `-O2 -march=skylake-avx512 -mtune=skylake-avx512`.  With this build we saw the errors before the fix and saw them go away after the fix.  So I assume there is some other subtilty with the eagle build that we were missing.  Our next move was going to be to use the build-test repo to ex

[2020-07-06 17:25] jrood-nrel commented on #642
@tasmith4 I am available any time this afternoon. I have just manually set up a nalu-wind build on eagle using the trilinos from the tests and I am able to reproduce the error, so I will be ready to try things out. What's the best option for conferencing for you? I will try to set up a call for 1 or 2pm if that works.

[2020-07-06 17:27] jrood-nrel commented on #642
@sayerhs That is possible, but a bit more work than I would like to get that data point. I'm hoping we can work through the direct problem with this call.

[2020-07-06 18:21] tasmith4 commented on #642
@jrood-nrel sounds good -- responding on Slack to coordinate details.

[2020-07-06 20:11] jrood-nrel opened #647 "Missing mesh file for new tests"
`mesh_actlinesimple.exo` needs to be added to the mesh repo and the submodule updated here.

[2020-07-06 20:45] sayerhs commented on #647
@jrood-nrel @lawrenceccheung did commit it to meshes repo https://github.com/Exawind/meshes/commit/7b3180ce14e759c4c3745a3a84244686aab76945 I suspect we need to just update the submodule reference?

[2020-07-06 20:49] jrood-nrel commented on #647
Ah I just read the commit message on the mesh repo and didn't realize it was there. Ok I can just update the submodule here.

[2020-07-06 20:49] #647 closed

[2020-07-06 21:13] tasmith4 commented on #642
@sayerhs @jrood-nrel new pull request is [here](https://github.com/trilinos/Trilinos/pull/7641) with the fix that worked in @jrood-nrel's local test on eagle.  Hopefully this is resolved now.

[2020-07-07 09:38] ShenglinYan commented on #645
@jrood-nrel  Thanks for your reply. The configuration of  the BLAS leads to the second error. To solve the second error, the configuration of BLAS need to be added. The option is ```
-DTPL_ENABLE_BLAS:BOOL=ON -DBLAS_LIBRARY_NAMES=blas
-DBLAS_LIBRARY_DIRS= $blas_install_dir\lapack \
[code]

[2020-07-08 20:01] tchatte3 opened #653 "variable time-step in Nalu-wind with openfast"
Hi Nalu-wind team,

Since the openfast time-integrations are fixed-time-step, I am curious about the recommendation of running ActuatorDisk/ ActuatorDiskNGP methods running with variable time-step method. While they are running fine, and prelimiary tests are not showing any discprepancies as such, I wanted to know if it is recommended and if not what are the potential pit-falls?

Best Regards,

[2020-07-08 20:04] sayerhs commented on #653
The current implementation exchanges information with OpenFAST at the beginning of each time step.

https://github.com/Exawind/nalu-wind/blob/52ec6a37ca62f11e006143961c6678ab8d7a45ed/src/Realm.C#L1818-L1834

OpenFAST is always going to advance the same time step, and if you do variable time-step sizes on Nalu-Wind side, your coupling is incorrect. It might run without crashing, but I am not sure h

[2020-07-08 20:20] tchatte3 commented on #653
@sayerhs OK, this makes perfect sense. Thank you for this information, very helpful.

[2020-07-08 20:20] #653 closed

[2020-07-10 12:57] #642 closed

[2020-07-10 13:02] sayerhs opened #654 "Unit-test timings with Clang ASAN"
Looking at the unit tests I notice that the unit tests for the matrix free kernels take a significant amount of time to run on the Clang build with address-sanitizer turned on.

[code]

I talked to @rcknaus over email and he mentioned that he sees a slowdown with ASAN but it is still significantly faster than what's happening on the test machine. This has led to timeouts for unit tests. Is this ex

[2020-07-10 13:02] #645 closed

[2020-07-10 13:03] #629 closed

[2020-07-10 13:03] sayerhs commented on #240
Closing due to lack of activity.

[2020-07-10 13:03] #240 closed

[2020-07-10 13:04] #431 closed

[2020-07-10 13:10] sayerhs commented on #47
Closing due to lack of activity

[2020-07-10 13:10] #47 closed

[2020-07-10 13:10] #516 closed

[2020-07-10 13:11] #448 closed

[2020-07-10 15:26] jrood-nrel commented on #654
I'm moving to Clang 10 soon and will revisit this at that point. Clang 6 seemed to do well with ASAN, but I'm not convinced ASAN in Clang 7 has been that great and it's been running things really slowly. I had to change and blacklist more things in Clang 7 and when using 6 I felt like we were finding memory leaks a lot more. Clang 7 has been silent on that front, even though I verified in the past

[2020-07-13 23:55] psakievich commented on #537
@tchatte3 do you still have outstanding issues or would it be acceptable to close this issue?

[2020-07-14 01:03] tchatte3 commented on #537
@psakievich Yes, I would close this issue. Thanks for the note.

[2020-07-14 01:03] #537 closed

[2020-07-14 15:54] petesilk opened #657 "not writing probe output file"
I followed data_probes template to add line probe to my *.yaml.  Nalu runs fine to completion, but I do not get an output file with the probe data.

`data_probes:
  output_data_base_name: probes.txt
  output_frequency: 1
  output_format: text
  search_method: stk_octree
  search_tolerance: 1.0e-3
  search_expansion_factor: 2.0

  specifications:
    - name: probe_profile
      from_target_part: in

[2020-07-14 16:05] sayerhs commented on #657
Can you please attach the full input file and the log file (you might have to change the extension to `.txt` so that GitHub will allow file upload). The section you've posted is not formatted correctly to determine if there is some yaml syntax error.

[2020-07-14 16:54] petesilk commented on #657
[M0.log](https://github.com/Exawind/nalu-wind/files/4920138/M0.log)
[M0.yaml.txt](https://github.com/Exawind/nalu-wind/files/4920139/M0.yaml.txt)

here is the input file and log files you requested.  thx.

[2020-07-14 17:23] lawrenceccheung commented on #657
Hi @petesilk,

The input looks mostly correct, but there's an issue with the formatting in the input file. The `data_probes` section should be indented one level in, so add 4 spaces (or perhaps 1 tab) for that block, otherwise Nalu-Wind will skip over that section.  Also, the `output_data_base_name` parameter is not needed in the `data_probes` section, but it's not doing any harm there.

Here's ho

[2020-07-16 15:18] tchatte3 opened #659 "Power curve establishment of 5MW NREL turbine with Nalu-wind+openfast"
Hi Nalu-wind dev. team,

When working with NREL 5MW turbine, I first validated the power curve by running stand-alone openfast at different operating conditions (with controller ON). The curve matched very well with the established Aero and Gen. power. When I am using Nalu-wind as CFD driver, I see some discrepencies.

This velocity is a single point velocity at hub-height that openfast output cha

[2020-07-16 15:58] sayerhs commented on #659
Questions regarding NREL-5MW power curves are best directed at Dr. Jason Jonkman.

[2020-07-16 16:06] tchatte3 commented on #659
@sayerhs , Thanks for the direction.

[2020-07-16 16:07] #659 closed

[2020-07-16 19:37] petesilk opened #660 "Run with multiple lin_of_site_specifications"
I can successfully run with 1 line probe.  However, I have not been able to add a 2nd line probe.  Here are some of the permutations I have tried.  Also, is it possible to place a probe at a specific point?

      specifications:
        - name: probe_profile
          from_target_part: [Volume_Grid-TETRA, Volume_Grid-WEDGE, Volume_Grid-PYRAMID]

          line_of_site_specifications:

[2020-07-16 20:27] sayerhs commented on #660
@petesilk It appears that you have multiple `specifications` entries...

[code]

[2020-07-16 20:29] sayerhs commented on #660
I am not sure I understood your second question fully. I assume you want a single probe point?

[code]

[2020-07-16 20:30] lawrenceccheung commented on #660
[*Looks like @sayerhs responded just as I was typing, but let me complete the thought*]
Hi @petesilk,

To add multiple line probes, create multiple entries under the `line_of_site_specifications` section.  So to add both `probeM0` and `probe_M1` to the `data_probes` section, I would have something like this:
[code]

To do create a single point probe, you can abuse the `line_of_site_specifications`

[2020-07-17 14:09] petesilk commented on #660
With the coding below, I only get output from the first probe?

Thank you

From: lawrenceccheung <notifications@github.com>
Sent: Thursday, July 16, 2020 4:30 PM
To: Exawind/nalu-wind <nalu-wind@noreply.github.com>
Cc: Silkowski, Peter (GE Research, US) <silkowski@ge.com>; Mention <mention@noreply.github.com>
Subject: EXT: Re: [Exawind/nalu-wind] Run with multiple lin_of_site_specifications (#660)

[2020-07-17 15:59] lawrenceccheung commented on #660
Oh, I may have made a mistake earlier.  Make sure that the `from_target_part` correctly points to whatever domain elements are in the mesh.  So it might need to look like
[code]
to capture all probes.  I just corrected that in my post above.

Lawrence

[2020-07-17 16:32] sayerhs commented on #660
@petesilk Can you please attach your yaml input file again. YAML is sensitive to indentation, and small changes can cause it to interpret the file differently. Attaching the input file would be the best way for us to help debug this.

[2020-07-17 16:38] petesilk commented on #660
here is the yaml.
Thanks
[M0M1.yaml.txt](https://github.com/Exawind/nalu-wind/files/4938967/M0M1.yaml.txt)

[2020-07-17 16:42] lawrenceccheung commented on #660
Hi @petesilk,

You have the `line_of_site_specifications` keyword repeated twice in the specficiation.  So right now where you have
[code]
it should be:
[code]
Also note that `probeM0` and `probe_M1` are on the same level of indentation.

I think that should correct the problem.

Lawrence

[2020-07-17 16:48] petesilk commented on #660
Thanks much

From: lawrenceccheung <notifications@github.com>
Sent: Friday, July 17, 2020 12:43 PM
To: Exawind/nalu-wind <nalu-wind@noreply.github.com>
Cc: Silkowski, Peter (GE Research, US) <silkowski@ge.com>; Mention <mention@noreply.github.com>
Subject: EXT: Re: [Exawind/nalu-wind] Run with multiple lin_of_site_specifications (#660)

Hi @petesilk<https://github.com/petesilk>,

You have the line

[2020-07-18 14:19] petesilk opened #662 "Restart not working - error about *.rst file?"
I am not able to get a case to restart.
I have successfully restarted cases in the past.
I have examined the *.rst file in paraview and it looks good.

I see the following message:

IOSS: Input database contains 8-byte integers. Setting Ioss to use 8-byte integers.

IOSS: Using decomposition method 'RCB' for 11,422,969 elements on 200 processors.
terminate called after throwing an instance of 'ter

[2020-07-20 15:31] petesilk commented on #662
here is all that I changed in the input file:

< #    mesh: ../Bolund_Ext_Domain.exo
<     mesh: restart/restart_abl.rst
---

<       restart_time: 20.5
---

< #      termination_step_count: 10000
<       termination_step_count: 14000
---

[2020-07-20 15:36] petesilk commented on #662
better format
[restart.txt](https://github.com/Exawind/nalu-wind/files/4948661/restart.txt)

[2020-07-20 15:40] sayerhs commented on #662
@petesilk Usually it is better to attach the full YAML input file as it helps with debugging. In your situation, my guess is that you have not commented out. You need this variable when you are using a single Exodus file and you want it decomposed over multiple MPI ranks. However, if you already have a decomposed file, then you need to comment this variable out, otherwise you'll see errors about n

[2020-07-20 15:46] petesilk commented on #662
Thank you...that's it.

I had done a recombine on the restart file to view in paraview, but you are saying it still grabs the broken up files, even if a recombine is present in the directory, correct?

[2020-07-21 19:24] sayerhs commented on #660
@petesilk I am closing since this appears to have been resolved. Please reopen if you are still having issues.

[2020-07-21 19:24] #660 closed

[2020-07-21 19:24] sayerhs commented on #662
I am closing this since it appears that the issue has been resolved. Please reopen if you've further issues.

[2020-07-21 19:24] #662 closed

[2020-07-21 19:26] sayerhs commented on #657
Based on #660 I am assuming that this has been resolved.

[2020-07-21 19:26] #657 closed

[2020-07-21 19:26] sayerhs commented on #634
@tchatte3 do you still need help with this?

[2020-07-21 20:40] tchatte3 commented on #634
@sayerhs , I guess yes since I am trying to write my own algorithm of u_tau iteration and understanding what has been done is certainly helpful. However, it is not of high priority and I am will wait more for an answer.

[2020-07-22 14:06] tchatte3 opened #663 "Rotor Aero power and Actuator disc forces"
Hi Nalu-wind development team,

When I am running Nalu-wind openfast model for NREL 5MW wind turbine, I see very strong fluctuations in Rotor Aero power from openfast output channel i.e. 3P characteristics and from tower shadow effect which makes sense.

On the Nalu side, when I am running Actuator disc simulations, the actuator forces on disc location converge to a steady state (no fluctuations)

[2020-07-22 16:26] lawrenceccheung commented on #663
hi @tchatte3,

Could you share any graphs which compare the level of power fluctuations between the ALM and the ADM simulations?  I am curious to see if that can be physically explained, or if there's caused by something in the setup.

Thanks,

Lawrence

[2020-07-22 17:50] tchatte3 commented on #663
@lawrenceccheung Sure.

![image](https://user-images.githubusercontent.com/14302216/88207316-968a8600-cc1d-11ea-9cf8-c7307878bfd9.png)

The magenta plot corresponds to Nalu-wind+openfast run with ADM simulations. Output channel from openfast. I verified the fluctuations minimum dips are coming from openfast tower shadow model [also visible in stand-alone openfast runs] . See, a variation of 1MW is

[2020-07-22 18:30] lawrenceccheung commented on #663
Hi @tchatte3,
Thanks for providing the plot.  Yes, a 1MW variation is quite substantial.  One question -- are you using the same controls as the standard NREL 5MW model?  That model should have a rated wind speed of 11.4 m/s, with rated electrical power of 5MW (rated mechanical power 5.29MW) -- see the document at https://www.nrel.gov/docs/fy09osti/38060.pdf.

Using those controls at high wind spe

[2020-07-22 19:05] tchatte3 commented on #663
@lawrenceccheung Thanks. In the mean sense (time-average of the periodic stead-state power), I am hitting exactly the power curve. In general, in the mean sense, I have already established NREL 5MW power chart that you shared.
 I also get similar time varying fluctuations in the stand-alone openfast runs, and yes I compiled the DISCON.dll from .f90 file written by Jason Jonkman. I did not change t

[2020-07-23 12:20] psakievich commented on #663
@tchatte3 this behavior you are describing is not unexpected. There is a subtly here in how the two codes see the data for the ADM method.  OpenFAST is still running it's turbine model; it sees a 3 bladed rotor spinning and computes displacements and forces based on the velocities Nalu-Wind provides.

Nalu-Wind on the other hand samples the flow from a fixed position in space and does not spin the

[2020-07-23 17:52] tchatte3 commented on #663
@psakievich This really helps. I realize, the rotor not rotating in ADM is also kind of acting like a time-lagged model/1st order filter, so this addresses my concern.

A follow up on that: in openfast the turbine is actually "rotating"  means that the force actuator nodes are changing the locations on which forces are computed, but these forces are finally interpolated to the original "locked" ac

[2020-07-23 19:05] psakievich commented on #663
@tchatte3 sort of.  To say the forces are interpolated to the original position is not fully accurate.  The forces Nalu-Wind sees in the solver are the smeared out average of the three blades that is the same for any point at a fixed radius away from the hub. This is because the ADM forcing can also be thought of as the average forcing over 1 rotation period, and as such the azimuthal location can

[2020-07-23 19:25] tchatte3 commented on #663
@psakievich Thanks for the clarification. This helps.

[2020-07-23 19:25] #663 closed

[2020-07-25 16:36] sayerhs opened #665 "Nightly regression test failures from Hypre updates"
Multiple issues from #658 showing up on nightly regression tests

**High-priority**
- Non-deterministic results for [ablNeutralEdgeNGPHypre](https://my.cdash.org/testDetails.php?test=59569207&build=1859240) with GCC build
- AddressSanitizer FPE errors for [clang build](https://my.cdash.org/testDetails.php?test=59574551&build=1859365). Likely related to [intel failures](https://my.cdash.org/testDet

[2020-08-03 13:40] #665 closed

[2020-08-03 17:30] sayerhs commented on #630
Fixed in #666

[2020-08-03 17:30] #630 closed

[2020-08-04 14:11] tchatte3 opened #670 "Power difference between Nalu+openfast vs stand-alone openfast"
Hi Nalu dev. team,

I am running a wind turbine simulation at on-design operating point condition (pitch angle, rotor rpm and free stream wind speed). I do not have a controller and the genDOF is switched off and I am just computing RtAeroPwr  (as well as Cp, Ct) from the Aerodyn output channel.  The operating point Aero power is 2.2 mW.

I have the following observations.
##openfast standalone
1)

[2020-08-04 19:43] tchatte3 commented on #670
Also, the C_p and C_t calculated for openfast vs nalu+openfast are in the similar range, despite differences in the power for this turbine. Is the induced velocity used in the denominator for normalization?

[2020-08-04 22:47] lawrenceccheung commented on #670
hi @tchatte3,

I'm wondering if the difference can be caused by how openFAST is set up to run between the two cases.  I have a couple of questions/checks that might help answer the question.

1.  You can check that the blade pitch and the rotor rpm in the output of openFAST are exactly what you specified to begin with.  With the controller and `genDOF` turned off there should be nothing modifying

[2020-08-04 23:10] tchatte3 commented on #670
@lawrenceccheung. This is a great start. I already accounted for 1 and 2 in the beginning of the simulation. There are 4/5 places in nalu and openFAST where density is needed. But I think 3) could be a possible difference. I have wakeMod=1 also in Nalu+openfast, which means perhaps it it double counting induction effects. I will definitely work towards point 3 as you suggested.

[2020-08-05 15:21] sayerhs opened #671 "Regression test failures in Nalu-Wind"
It seems that we have failures in several of [Trilinos related tests](https://my.cdash.org/viewTest.php?onlyfailed&buildid=1864153). Looking at the changes since the previous day, I don't see anything obvious in Nalu-Wind commits that could cause these diffs. So I am wondering if the Ifpack2 and MueLu changes in trilinos could cause these diffs. The Aug 4 test used trilinos/trilinos@721370bdcc and

[2020-08-05 15:24] sayerhs commented on #671
trilinos/trilinos#7776

[2020-08-05 21:37] jhux2 commented on #671
@sayerhs Yes, this change appears to be due to a change in the eigenvalue estimate in Ifpack2.

[2020-08-05 22:01] jrood-nrel commented on #671
So it looks like I should just update the golds?

[2020-08-05 22:40] #671 closed

[2020-08-06 00:33] jhux2 commented on #671
@jrood-nrel @sayerhs The largest diff is 1e-6, e.g., from [dgNonConformalThreeBlade](https://my.cdash.org/test/6186953).  Is this acceptable from the simulation side?

[2020-08-06 18:11] tchatte3 commented on #670
@lawrenceccheung . It was indeed the WakeMod parameter. It was accounting for double-counting induction effects twice.
Thanks very much for the guidance. Setting WakeMod = 0, did the trick. The issue is resolved now.

Best Regards,

[2020-08-06 18:11] #670 closed

[2020-08-06 19:29] ashesh2512 opened #672 "Tpetra+coupled overset+periodic BC cause segfault in parallel"
## Detailed description of the bug

This is a bug I encountered a couple of year ago, and encountered it again recently when running a simulation involving tptera, periodic bc, and coupled overset.

After debugging, it was determined that the segfault occurs when `lid_b = 0` here - https://github.com/Exawind/nalu-wind/blob/master/src/TpetraLinearSystem.C#L759. This results in a negative array inde

[2020-08-06 20:12] sayerhs commented on #672
See also NaluCFD/Nalu#89 and NaluCFD/Nalu#211

[2020-08-10 17:19] psakievich opened #673 "Nacelle Model Issues"
## Detailed description of the bug

The nacelle affects don't appear to be showing up in the ALM runs.  The following image shows the average velocity 0.5D downstream from the turbine.  A large deficit can be seen from the tower, but almost no deficit at all is occurring from the hub.  This issue is being submitted on behalf of Ken Brown and Alan Hsieh.

<img width="791" alt="image" src="https://u

[2020-08-11 05:12] psakievich commented on #673
I've done an initial dive into this and it looks like the code paths are being executed correctly.  The funny thing is the forces are dramatically smaller for the hub.  I'm seeing:
[code]
in the `nrel5MWactuatorLine` regression test.
I'm going to dive further into the implementation tomorrow to see if the units are off in the implemented equation or something.
@tonyinme or @gantech could you also

[2020-08-13 15:34] petesilk opened #677 "probe name"
I am running a  case with multiple   line_of_site_specifications:  probes.  They have names such as "- name: probeM0",  "- name: probeM2", etc.   However, if I include the name "- name: probeM1", the case will not start.  Does a core dump and creates the log and error files attached.  If I change that one probe name, even simply by removing the "o" to make it "prbeM1", the case runs fine.

is "pro

[2020-08-13 18:18] petesilk commented on #677
Note that if I start from a mesh, instead of trying to use the "restart" from a previous solution.....I do not have the above problem.

[2020-08-13 21:03] psakievich commented on #677
Interesting.  when you remove the "o" are you getting probe data from your probes? Also did you have these probes with the run you used to create your restart dataset?

[2020-08-13 21:14] petesilk commented on #677
Yes, when I remove the “o” I do get data.

No, did not have these particular probes on in the run that created the restart data.
That said, other new probes (that were not on in the run that generated the restart file) with names other than probeM1 did work fine.

Thank you,
Peter

From: psakievich <notifications@github.com>
Sent: Thursday, August 13, 2020 5:03 PM
To: Exawind/nalu-wind <nalu-wind@

[2020-09-04 20:08] spdomin commented on #677
I was just looking at Nalu-Wind and saw this bug report. The initial data probes implementation was really sensitive to restarting. There were plenty of use-cases that worked, however, may common ones that failed. You may want to check out Nalu for the fix. The nuance is the mapping of the probe to a mpi rank and and allowing for modifications at restart in addition to more details. The Nalu commi

[2020-09-04 22:08] petesilk commented on #677
Thanks much.

From: Stefan P. Domino <notifications@github.com>
Sent: Friday, September 04, 2020 4:08 PM
To: Exawind/nalu-wind <nalu-wind@noreply.github.com>
Cc: Silkowski, Peter (GE Research, US) <silkowski@ge.com>; Author <author@noreply.github.com>
Subject: EXT: Re: [Exawind/nalu-wind] probe name (#677)

I was just looking at Nalu-Wind and saw this bug report. The initial data probes implementa

[2020-09-14 17:04] jrood-nrel opened #693 "Errors in OpenFAST tests"
Seems to be missing an input file:
[code]

[2020-09-14 22:07] psakievich commented on #693
@jrood-nrel This was a copy and paste error that snuck in.  I accidentally copied one parameter so it got included twice.  Should be fixed in #692, but let's confirm with the runs tonight.

[2020-09-15 12:05] psakievich commented on #693
Looks like we've got some pretty big diffs across all tests except `nrel5MWactuatorLine` which I just reblessed for the GPU tests.  I believe these are due to the changes in OpenFAST since basically nothing has changed in this code since the Q2 milestone.  I'm wondering if we should make at least one nightly test build a fresh version of OpenFAST each night so we catch these changes and can provid

[2020-09-16 03:14] #693 closed

[2020-09-22 17:51] jrood-nrel opened #701 "Clang issues"
Looks like two problems. I'm not sure how to describe them except viewing them here: https://my.cdash.org/viewTest.php?onlyfailed&buildid=1888153

[2020-09-22 18:05] alanw0 commented on #701
@jrood-nrel It looks like the unit-test is a matrix-free issue for Robert @rcknaus to look at.
The other test is throwing a std::bad_cast but I can't see any stack-trace information even though it appears to be a debug build. Is there any way to get more information about that?

[2020-09-22 18:17] jrood-nrel commented on #701
I just ran this test manually and got this stack trace. I wonder why it doesn't show me this on the dashboard.
[code]

[2020-09-22 18:33] jrood-nrel commented on #701
Ok, I tried a little harder to get the backtrace this time:
[code]

[2020-09-22 19:28] alanw0 commented on #701
Thanks Jon, looks like Robert figured it out. Seems like clang caught a real issue with the bad cast, that other compilers were ignoring. In practice it seemed like the code was still executing ok, probably because stk fields don't add any data members in the derived classes so casting them from one subclass to another is not as harmful as it could be.

[2020-09-22 19:34] jrood-nrel commented on #701
Excellent! Now if only I could get a stack trace to show up automatically on the dashboard for these. I had to use `lldb` to get this stacktrace manually.

[2020-09-22 19:34] #701 closed

[2020-09-23 15:22] jrood-nrel opened #703 "Memory leak"
The bad_cast looks fixed, but now it's exposed a memory leak https://my.cdash.org/test/10675604

[2020-09-23 18:11] #703 closed

[2020-09-24 22:08] sayerhs opened #705 "Migrate Nalu-Wind to C++14 to keep up with Trilinos"
Trilinos develop branch requires C++14 at the end of this month. To keep up with Trilinos develop, Nalu-Wind needs to move to C++14 standard as well. @psakievich put in a pull-request #688 which did this, but had to be reverted due to compilation errors on our nightly testing infrastructure. The error is with missing symbols in Boost (which is used in DataProbePostProcessing).

For nalu-wind to us

[2020-09-24 22:13] sayerhs commented on #705
@jrood-nrel Am I reading this correctly... spack has used `cxxstd=98`? Since @psakievich uses spack too and his boost didn't have this issue, is it something on our Eagle set up that is forcing this behavior?

[code]

[2020-09-24 22:16] sayerhs commented on #705
OK. That seems to be the default in `spack/var/spack/repos/builtin/packages/boost`, @psakievich do you use a custom build where you reset this? Or do you not use a spack build of boost?

[code]

[2020-09-25 03:00] psakievich commented on #705
@sayerhs no I just used spack.  It looks like boost was still using `cxxstd=98` in my builds. I think I just built and tested on my mac though.  I'll re-test the PR on my laptop and the sandia hardware.

[2020-09-25 03:06] sayerhs commented on #705
Yes, macOS builds were working on the test machine also. https://my.cdash.org/index.php?project=Nalu-Wind&date=2020-09-07

[2020-09-25 15:17] psakievich commented on #705
@sayerhs @jrood-nrel any idea why the intel compiler for that day gave make_unique errors? Doesn't seem to have the boost issue.

[2020-09-25 15:43] sayerhs commented on #705
@psakievich Intel compiler uses headers from the GCC installation, so it is likely that it picked up GCC 4.8.x from the default OS install.

[2020-09-25 15:49] psakievich commented on #705
Ah okay

[2020-09-25 16:21] jrood-nrel commented on #705
I think I should have some time to erase and update the tests either next week or when I'm back from vacation. I can make sure boost is built with c++14 and I can add a boost module with c++14 to eagle once I verify it in the testing.

[2020-09-25 16:40] jrood-nrel opened #706 "Memory leak in unit tests"
https://my.cdash.org/test/10850455

[2020-09-25 16:53] sayerhs commented on #706
Fixed in #707

[2020-09-25 16:53] #706 closed

[2020-09-30 17:36] #504 closed

[2020-09-30 17:37] jrood-nrel commented on #705
I just need to get boost to build with clang, but do we need to reintroduce @psakievich 's c++14 changes now that I have boost built with c++14?

[2020-09-30 17:52] sayerhs commented on #705
@jrood-nrel yes, we need to revert the revert.

[2020-09-30 17:54] alanw0 commented on #705
In case it matters, the Trilinos folks are now saying they will wait another month or so before they start requiring c++14. Apparently it's tied to the next kokkos snapshot into trilinos, which is expected in November.

[2020-10-01 16:48] sayerhs commented on #705
@lucbv @lawrenceccheung Please see discussion in #712 also. Would it be possible for you to check about Boost `> 1.70.0` on Sandia machines and let us know whether we can require that for our builds?

[2020-10-01 17:28] #542 closed

[2020-10-01 17:52] jhux2 commented on #705
@sayerhs Is 1.70.0 sufficient?

[2020-10-06 17:37] lawrenceccheung commented on #705
FYI, I just tested `boost-1.70.0`, compiled via spack, with the latest nalu-wind (56fd949) and trilinos (`83a0e3b`), and it seemed to work fine on skybridge at Sandia.

[2020-10-08 15:28] psakievich opened #718 "SST Tests Failing"
Looks like PR #714  caused a bunch of diffs in the tests exercising SST

[2020-10-08 15:29] sayerhs commented on #718
@psakievich Yes, these tests need to be reblessed.

[2020-10-08 15:34] psakievich commented on #705
@jrood-nrel @sayerhs

Pretty sure these build errors are c++14 related
https://my.cdash.org/viewBuildError.php?buildid=1896373

I saw them earlier when I did a cuda build with c++14 on.  I'll try to resolve them tomorrow if no one else is working on it right now.

[2020-10-08 15:39] sayerhs commented on #705
@psakievich If you can take a crack at this, it would be great!

[2020-10-08 16:02] marchdf commented on #718
Yep this is expected and Jon was notified. He will get to it when he gets back from PTO.

[2020-10-08 16:39] jrood-nrel commented on #718
I just updated the golds.

[2020-10-08 16:39] #718 closed

[2020-10-08 20:29] mathbird opened #719 "Question running ABL example"
I tried to setup and run the examples in nalu_wind, following the instructions in the link

https://nalu-wind.readthedocs.io/en/latest/source/user/examples/ABLexample.html

But I could not find command `abl_mesh` there.  Where can I find it?

[code]

[2020-10-08 20:59] tonyinme commented on #719
Hey @mathbird, thanks for reaching out.

You need to compile wind-utils as suggested in the [Introduction](https://nalu-wind.readthedocs.io/en/latest/source/user/examples/introduction.html).

abl_mesh is a mesh utility and it is available as one of the executables within wind-utils.

[2020-10-08 22:29] mathbird commented on #719
thanks.

[2020-10-08 22:29] #719 closed

[2020-10-09 15:45] marchdf opened #720 "Broken SST regressions"
Even after rebless of the golds, two regression tests for SST/TAMS are broken: `airfoilRANSEdgeNGPTrilinos.rst` and `tamsChannelElem`

[2020-10-09 15:56] jrood-nrel commented on #720
I can update `airfoilRANSEdgeNGPTrilinos.rst`. It takes two days to update restart test gold files. However, `tamsChannelElem` is complaining of NaNs.

[2020-10-09 15:59] marchdf commented on #720
Oh right that makes sense. Thanks, Jon! Jeremy is looking into the other one

[2020-10-09 16:39] jrood-nrel commented on #720
Actually `airfoilRANSEdgeNGPTrilinos.rst` has a sensitivity issue to other compilers where it's diverging beyond the even the loose tolerances. It's currently exact on GCC 7.4.

[2020-10-12 16:27] marchdf commented on #720
@jrood-nrel the merge #721 s going to require another rebless of all SST/TAMS tests...

[2020-10-14 19:48] mathbird opened #724 "Segfault in MijTensorNGP.hex27_sim unit test"
I built nalu-wind with Intel mpiicpx compiler. when I ran unittestX, it gave me the following errors. Have you met this issue before? Do you know usually what causes it? and how to fix it?

[code]

[2020-10-14 20:18] sayerhs commented on #724
@mathbird can you provide more details on the operating system, processor, and the intel compiler version you are using?

[2020-10-14 20:21] jrood-nrel commented on #724
This looks like a machine that probably shouldn't be discussed here.

[2020-10-14 20:29] mathbird commented on #724
[d]$ uname -a
Linux  3.10.0-957.10.1.el7.x86_64 #1 SMP Thu Feb 7 07:12:53 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
[d]$ mpiicpx --version
Intel(R) oneAPI DPC++ Compiler Pro 2021.1 (2020.8.0.0827)
Target: x86_64-unknown-linux-gnu
Thread model: posix

[d]$ lscpu
Architecture:          x86_64
CPU op-mode(s):        32-bit, 64-bit
Byte Order:            Little Endian
...

[2020-10-14 21:24] jrood-nrel commented on #724
I'm closing this and we will discuss this issue through a different channel.

[2020-10-14 21:24] #724 closed

[2020-10-15 12:55] #705 closed

[2020-10-15 12:56] #631 closed

[2020-10-15 12:56] #632 closed

[2020-10-16 20:45] jrood-nrel opened #727 "Issues arising from #698"
I have updated the gold files to account for #698 . However, there are still problems related to:
[code]
I'm not sure if the missing mesh files seen in other tests are related. Several warnings are appearing now as well.

[2020-10-18 17:47] sayerhs commented on #727
@jrood-nrel With c096faee4b54ff the warnings and the missing mesh files issues should be fixed. We still have 4 tests that will fail. `ablNeutralStat` uses `nccmp` and requires the solution files updated. The other three tests are failing because of solution divergence: `ablUnstableEdge`, `ablUnstableEdge_ra` and `tamsChannelElem`. `tamsChannelElem` is a regression that @jamelvin is looking into a

[2020-11-03 16:36] jrood-nrel opened #740 "Issues from #725"
I'm seeing many segfaults in the tests after #725. I can't really tell if it's just a mesh issue or something with the code. The clang tests will give backtraces if that helps.

[2020-11-03 17:25] sayerhs commented on #727
@lawrenceccheung The [ABL neutral statistics test](https://my.cdash.org/test/13988103) has been failing `nccmp` even after @jrood-nrel has updated the gold statistics file ever since #698 was merged. Is there anything peculiar to #698 that will cause this test to fail?

[2020-11-03 17:36] lawrenceccheung commented on #727
@sayerhs That's funny, if the `abl_statistics.nc.gold` was updated then it should work with the latest build.  It's possible that the tolerances in `passfail` might need to be updated or something unless was unwittingly changed with the boundary layer statistics.  I'll take a look and see what's going on.

Lawrence

[2020-11-03 17:52] lawrenceccheung commented on #727
@jrood-nrel @sayerhs It looks like [`passfail`](https://github.com/Exawind/nalu-wind/blob/master/reg_tests/test_files/ablNeutralStat/passfail) was updated to compare the `ablNeutralStat.nc` output against the gold file `ablNeutralStat.nc.gold`:
https://github.com/Exawind/nalu-wind/blob/a305b1501a6dd283b59ca5ee9b035ec73b756b2e/reg_tests/test_files/ablNeutralStat/passfail#L43

I think the `stats_out

[2020-11-03 17:54] jrood-nrel commented on #727
Ah, sorry if I didn't do that right. My gold update script relies on consistent naming of files, so I don't have to manually update each test.

[2020-11-04 00:31] lawrenceccheung commented on #727
@sayerhs Looks like you already fixed the `stats_output_file` in commit 048a62edbca7c4acd52502be03d2778a4d2a5d3a.  On my machine it looks like I also need to adjust the tolerances for one of the variables in `ablNeutralStat.nc`.  I haven't gotten a chance to test it on other machines at Sandia yet, but if it also fails on the official test machine, we can adjust.

[2020-11-04 00:38] sayerhs commented on #727
@jrood-nrel will update the gold files. So don't worry about it. Thanks for the tip regarding file name mismatch

[2020-11-04 14:11] sayerhs commented on #740
@psakievich The refactor of Peclet blending seems to introduce diffs in tests. Did you observe this when you did your runs? What is the expected magnitude for the diffs before we rebless the tests?

[2020-11-04 17:44] psakievich commented on #740
@sayerhs I didn't observe noticeable diffs but the tolerances weren't super tight. I'll take a closer look at this today with gcc.  Working on fixing the unit test right now that is failing in parallel.

[2020-11-07 06:12] psakievich commented on #740
Seems like there are two classes of diffs: ablUnstable and interface problems (overset and dg).

So running these locally I'm seeing the ablUnstable tests failing at the commit before #725.  I have not done a formal bisect yet to see exactly where they break but the norms are going crazy indicating divergence which makes me think this is not due to #725, but something earlier.  Might be good to co

[2020-11-07 15:19] sayerhs commented on #740
@psakievich

- The diffs for overset/DG with moving mesh seem straightforward and the latest re-bless (16990b9) has fixed it – [CDash](https://my.cdash.org/viewTest.php?onlypassed&buildid=1913737).

- `ablUnstableEdge` is fine on gcc/linux builds but is failing on non-gcc/linux builds - this is related to #698 and follow-up commits that attempted to fix warnings, etc. This particular one is a rest

[2020-11-07 15:29] alanw0 commented on #740
In case it helps, we have a stk function in stk_util/environment/memory_util.hpp, 'void get_gpu_memory_info(size_t& used, size_t& free);'
That could show how close we are getting to the memory limit of the device.

[2020-11-09 15:25] psakievich commented on #740
@sayerhs thanks for the update. I'm going to unassign myself from this issue since it appears you guys have already worked out most of the details, and I don't want to keep replicating results that have already been obtained. Please let me know if I you'd like my help with the GPU issues.

[2020-11-09 19:09] sayerhs opened #743 "Segfaults observed in GPU builds with CUDA 10.2.89"
GPU builds throw segfaults with latest Nalu-Wind/Trilinos builds:

# Build information

| | |
|---|---|
| Host compiler | GCC 8.4.0 |
| GPU compiler | CUDA 10.2.89 |
| Nalu-Wind Git SHA | 1ebacaebff8db6 |
| Trilinos Git SHA | 13.1-gc23783ec3ea |

# Error with unit tests

This error is erratic... using `--gtest_shuffle` will sometimes allow regression tests to run successfully. Also running `LowMac

[2020-11-09 22:35] sayerhs opened #746 "SST IDDES implementation in MomentumOpenEdgeKernel"
I think the implementation of upwinding in `MomentumOpenEdgeKernel` for the SST IDDES model is incorrect, and has an out of bounds memory access. The field `peclet_factor` is declared on `EDGE_RANK`

https://github.com/Exawind/nalu-wind/blob/cde12532bbba877e56da84b5d4782e817dca5ae2/src/edge_kernels/MomentumOpenEdgeKernel.C#L49

and is being registered to ElemDataRequests as `FACE_RANK`, with incor

[2020-11-09 22:37] sayerhs commented on #746
@alanw0 Can you also please take a look at the `add_face_field` usage here and comment?

[2020-11-09 22:49] alanw0 commented on #746
Yes, it's a little hard to tell if I'm seeing all of the code that matters, but it looks like the add_face_field call should take something like BcAlgTraits::numFaceIp_ instead of 1.

[2020-11-09 22:50] sayerhs commented on #746
@alanw0 The field that is being registered is not declared on `FACE_RANK` but instead is on `EDGE_RANK` (this is for a 3D simulation).

[2020-11-09 23:00] alanw0 commented on #746
Yep, that's wrong, it needs to be a FACE_RANK field for 3D. I don't know the math well enough here, but do you think we would want to use EDGE_RANK fields here in 3D? If so, we would need to alter ElemDataRequests. That ThrowRequireMsg mentioned up above should possibly check against 'meta.side_rank()' which is automatically set to FACE_RANK for 3D and EDGE_RANK for 2D.

[2020-11-09 23:09] sayerhs commented on #746
@alanw0 Thanks for confirming. Yes, I'd forgotten about `meta.side_rank()`. So this particular usage of `EDGE_RANK` field is a little tricky and not something I think ElemDataRequests on a face should support. In this case, we are looping over the faces of a sideset and for each of the nodes that make up the face we we want the field data on the edge connecting this particular face node to the opp

[2020-11-10 15:34] psakievich commented on #746
@sayerhs yes I think you are right. @gantech and I were discussing this on slack not too long ago and we don't think we really need this open bc implementation to for the upcoming milestones.   I've also got doubts if it will give the desired behavior since the Strelets algorithm reduces upwinding in regions with eddies which is not what we'd want for an open bc.  A quick and good fix would be to

[2020-11-10 15:50] psakievich commented on #746
@sayerhs I've opened a PR, but I can't assign any reviewers or give it the bug fix label.

[2020-11-11 14:06] #746 closed

[2020-11-11 15:51] #740 closed

[2020-11-11 16:01] sayerhs opened #748 "Issues from #717"
Several issues observed in GPU builds with #717

Nalu-Wind SHA: 876586ba2d74813

**Build errors**

[code]

Temporarily disabled ActuatorFLLC unit tests on GPU builds.

**Warnings:**

[code]

[2020-11-11 16:11] PaulMullowney opened #749 "Issues from #717 (commit 876586ba2)"
A variety of compiler warnings CPU and GPU  are observed.

CPU Compiler Warnings:

[137/644] Building CXX object CMakeFiles/nalu.dir/src/actuator/ActuatorFLLC.C.o
../src/actuator/ActuatorFLLC.C:192:2: warning: extra ';' [-Wpedantic]
 };

GPU Compiler Warnings:

[40/538] Building CXX object CMakeFiles/nalu.dir/src/actuator/ActuatorFunctorsSimple.C.o
../src/actuator/ActuatorFunctorsSimple.C(190): wa

[2020-11-11 16:14] sayerhs commented on #748
Closing in favor of #749

[2020-11-11 16:14] #748 closed

[2020-11-11 18:06] jrood-nrel opened #750 "Remaining issues 11-11-2020"
1. `ableUnstableEdge` - Mac GCC 7.4, Linux GCC 4.9.4, Linux Clang 7 - #698 @mchurchf
[code]
2. `ablNeutralStat` - Linux Intel 2018 - @lawrenceccheung
[code]
3. Golds updated in https://github.com/Exawind/nalu-wind/commit/16990b993763e66855905b7868bdfa5e42c4fe00 in response to #725 likely need to be reverted. They have not yet been vetted. @psakievich

4. NGP test tolerance issues on Eagle are bein

[2020-11-11 18:07] #727 closed

[2020-11-11 18:07] #720 closed

[2020-11-11 18:17] psakievich commented on #750
@jrood-nrel for `ablUnstableEdge` I don't think this is a platform thing.  When I was looking at the gold file re-bless from `16990b993` I noticed the norms jumped by 11 orders of magnitude for these files.

[2020-11-11 18:19] jrood-nrel commented on #750
@psakievich Ok thanks. I will add that to the list then.

[2020-11-11 20:17] lawrenceccheung commented on #750
@jrood-nrel Yeah, I noticed on the Sandia machines with linux/intel-19.0.3 that `ablNeutralStat` was failing on that variable as well.  The difference is so small and just at those locations, I think I can just adjust the tolerance and have it pass again.

Lawrence

[2020-11-11 20:49] jrood-nrel commented on #750
@mchurchf So I think that last statement from your email is what’s left. Three different compilers are complaining of NaNs after #698. I can provide a script for you on the test machine that should be able to recreate the issue for any of the compilers in the tests. Probably best to use Clang. This following line might also help as Clang provides the most information:
[code]

[2020-11-11 22:22] sayerhs commented on #750
@mchurchf @jrood-nrel The ABL unstable/stable tests are woefully out of date. For example, they were still using WALE. So I've opened #753 where I have updated these regression tests with input files that are based on the HFM Q3 milestone work. I think it is better to dump the old files and use the ones that are representative of how we run the code in production simulations.

[2020-11-11 22:57] sayerhs commented on #750
@marchdf @jrood-nrel Seems like we didn't check our rebless for `airfoilRANSEdgeNGPTrilinos.rst` in response to #714 (see the changes to gold file 18b5ab4af5b6c6001ae48148793d4dd4d1fbb159). This test seems to really not like the new clipping algorithm.

[code]

[2020-11-12 00:30] lawrenceccheung commented on #750
Item 2 should be addressed in PR [755](https://github.com/Exawind/nalu-wind/pull/755).  Let me know if `ablNeutralStat` continues to have any issues passing.

Lawrence

[2020-11-12 00:42] sayerhs commented on #743
Interesting observation the following patch allows regression tests to run on CUDA 10.2.89 builds whereas it would otherwise segfault

[code]

[2020-11-12 14:40] sayerhs opened #756 "ABL coverage in regression tests"
PR #698 added new ABL modeling capabilities to Nalu-Wind. However, not all capabilities are tested in the regression test. This issue tracks outstanding items that should be tested within nightly regression test suite

- [ ] Test `local` for `monin_obukhov_averaging_type`
- [ ] Test inflow/outflow restart capability from a *precursor* simulation. Check switch from `planar` (in
*precursor*) to `loc

[2020-11-12 21:44] tasmith4 commented on #743
@sayerhs so are you talking about the unit tests?  e.g. should we be able to reproduce just by running `unittestX --gtest_filter=BasicKokkos.discover_execution_space:*.NGP*`?

On GCC 7.2.0 / CUDA 10.1.243 when we do this we notice 4 tests with Kokkos errors like this:
`Kokkos::DualView::modify_host ERROR: Concurrent modification of host and device views in DualView`

They are:
[code]

But when we

[2020-11-12 22:18] sayerhs commented on #743
@tasmith4 Yes, the segfaults I am seeing are from the unit tests. The way you are running the unit tests is how I've been running them also. I am not using a debug build, so I don't see the dual view error that you are seeing. We recently merged #717 which has had some issues on device that are still being cleaned up (see #749 for some discussion). When using `RelWithDebInfo`, I see segfaults in `

[2020-11-15 00:02] #749 closed

[2020-11-16 16:42] #750 closed

[2020-11-17 21:40] marchdf opened #768 "#725 Broke McAlister simulations"
## Detailed description of the bug

I believe there is a regression in #725. My McAlister simulations work with 2509b795957c3e21bcecc782bdbbb23a3b72baac and they fail with a305b1501a6dd283b59ca5ee9b035ec73b756b2e. The nature of the failure is a lack of convergence in the momentum equations.

Working with 2509b795957c3e21bcecc782bdbbb23a3b72baac:

[code]

Failing with a305b1501a6dd283b59ca5ee9b035e

[2020-11-17 23:23] psakievich commented on #768
I'm going to restore the old inline computation of the Peclet blending in a PR to see if that fixes this.  This will effectively remove the Strelets upwinding algorithm, but I'll leave the code in for now so we can revisit it without having to mangle the git history. I'm not really sure what is causing this currently.

[2020-11-18 15:52] #768 closed

[2020-11-22 00:18] sayerhs opened #778 "STK warnings in CUDA 11 build"
[code]

[2020-11-22 18:58] sayerhs commented on #743
@overfelt @alanw0 @tasmith4 @PaulMullowney On NREL Eagle, I don't observe segfaults anymore with commit 04a7272 on CUDA 9.2.88 and 10.2.89. Can you please confirm if this commit fixes the problems at your end also?

[2020-11-22 19:01] tasmith4 commented on #743
FYI @jvo1012

[2020-11-22 23:01] alanw0 commented on #743
@sayerhs Shreyas, I'm going to be out this coming week, but I believe that Dave and Jvo will be working at least the first couple days so they can probably confirm this. Sounds promising!

[2020-11-25 18:04] sayerhs commented on #743
As of a474b8b the segfaults seem to have been fixed.

[2020-11-25 18:04] #743 closed

[2020-12-20 02:49] sayerhs opened #792 "Failing nightly regression tests"
[CUDA tests](https://my.cdash.org/build/1937453/notes#note0) are failing on eagle because of errors in hypre build.

[2020-12-20 02:52] jrood-nrel commented on #792
It feels like hypre needs a newer CUDA version now.

[2020-12-20 02:53] jrood-nrel commented on #792
[code]

[2020-12-20 15:33] sayerhs commented on #792
Yeah, this seems like a new development (related to hypre-space/hypre#163). @PaulMullowney have you tested the latest hypre with CUDA 9.2.88?

[2020-12-20 19:06] PaulMullowney commented on #792
I used Cuda 10.2.89. On eagle, did the build of new Hypre master fail with Cuda 9?

I see other failing tests on other platforms. Some of them look like reasonable diffs like ablNeutralNGPHypre*, others don’t look reasonable like airfoilRANSEdgeNGPHyre.rst. I will investigate as this test was passing for me with Cuda 10 on eagle.

-Paul

From: Shreyas Ananthan <notifications@github.com>
Reply-To:

[2020-12-20 20:37] sayerhs commented on #792
@PaulMullowney there are two separate issues.

- [Test failures on non-CUDA builds](https://my.cdash.org/viewTest.php?onlyfailed&buildid=1937745) This is because of the mesh submodule being corrupted by #787
- [Hypre build error for CUDA](https://my.cdash.org/build/1937453/notes#note0) - This seems like a new issue. I guess we could try with `--disable-cusparse`, but it shouldn't be required.

[2020-12-20 21:53] PaulMullowney commented on #792
Hmmm. I just built Hypre master (commit b49727f1) with Cuda  9.2.148 just fine.

Here’s my config line:
./configure --prefix=/scratch/pmullown/hypre-master-gpu-install-cuda_9.2.148/ --without-superlu --disable-bigint --without-openmp --with-cuda --enable-unified-memory --enable-curand --disable-cub

I also have:
CFLAGS=”-O2”
CXXFLAGS=”-O2”
HYPRE_CUDA_SM=70

From: Shreyas Ananthan <notifications@gi

[2020-12-20 23:30] sayerhs commented on #792
@PaulMullowney The nightly-test system is using CUDA 9.2.88.

[code]

[2020-12-20 23:33] sayerhs commented on #792
Can you provide more details on where you're accessing CUDA 9.2.148 from?

[code]

[2020-12-21 00:04] sayerhs commented on #792
`git bisect` shows this as the commit with which we are no longer able to build with CUDA 9.2.88

[code]

[2020-12-21 00:14] sayerhs commented on #792
hypre-space/hypre#245

[2020-12-21 13:48] PaulMullowney commented on #792
I think I pulled that form summit. I didn’t notice that it failed to find that module so it upgraded to Cuda 10 and built successfully.

Given that our default exawind_builder eagle config is Cuda10 and MPT, I echo Ruipeng’s comments. Do we need Cuda 9 anymore?

From: Shreyas Ananthan <notifications@github.com>
Reply-To: Exawind/nalu-wind <reply@reply.github.com>
Date: Sunday, December 20, 2020 at

[2020-12-21 16:48] jrood-nrel commented on #792
Are we fine switching to 10.2? I think I'm prepared to do so.

[2020-12-21 16:58] sayerhs commented on #792
@jrood-nrel I've been using CUDA 10.2.89 for exawind-builder, and I do think we should switch to the newer version. However, @PaulMullowney just discovered some weird behavior with latest hypre/nalu-wind versions on CUDA 10.2 when he runs the regression tests. Apparently, the weird behavior only happens on eagle and not on Summit. So he is chasing that down.

[2021-01-15 17:03] jrood-nrel opened #795 "nrel5MWactuatorLine failures on GPU"
## Detailed description of the bug

Commit baf22a78c3c7970d61accf8dfb3a301b131b3d04 was made to disable `nrel5MWactuatorLine` on the GPU until the failure of this test is resolved in OpenFAST.

The failure of this test is causing 100s of MBs of output that is getting uploaded to CDash.

[2021-02-15 18:36] sayerhs opened #802 "Nalu-Wind segfaulting with newer Trilinos"
With the latest trilinos/trilinos@e990f2e8c81 I am seeing segfaults when running Nalu-Wind (see full stack trace below). However, running with an older version (pre-STK updates) trilinos/trilinos@b0dec83156b I don't get this error.

[code]

Cc: @ldh4

[2021-02-15 18:53] alanw0 commented on #802
ok we'll check into this. There's a good chance that this is a case of giving a null part pointer to a Selector.
Since this case in particular looks like it is giving a part-vector to the selectUnion function, we can do something in selectUnion on the stk side to ignore the null pointer in the part-vector.

[2021-02-15 21:52] sayerhs commented on #802
Thanks @alanw0 ... there was a null part. I've opened #803 to fix this on the nalu-wind side.

[2021-02-16 19:17] sayerhs commented on #802
@rcknaus With recent updates to Trilinos/STK, `conduction_p4` and `taylorGreenVortex_p3` have started segfaulting. @alanw0 indicated that there is a new behavior where Selector does not accept nullptr for Part. We had a few other tests where this was an issue... and fixing those `nullptr` parts eliminated the segfaults. Is it likely that the parts promotion could be causing some nullptr for `Part*

[2021-02-16 19:36] rcknaus commented on #802
I can take a look at it.  I check for nullptr parts before adding them to the selector, but it's possible I missed it somewhere.

[2021-02-21 17:01] sayerhs opened #807 "Nightly regression tests no longer testing against latest trilinos@develop"
I stumbled upon this issue because I was expecting the latest Trilinos bugfix (trilinos/trilinos@1a61be2dc0378de70f515792f215889d6f449004) to fix #802 ([failing GPU tests today](https://my.cdash.org/viewTest.php?onlyfailed&buildid=1970494)). Digging further I noticed that the Trilinos nightly installations are stuck on trilinos/trilinos@55a65f1b (Feb 13 [CTest output](https://my.cdash.org/test/255

[2021-02-21 17:08] sayerhs commented on #802
References: trilinos/trilinos#8727 and trilinos/trilinos#8784

[2021-02-21 17:09] #792 closed

[2021-02-21 23:14] sayerhs opened #808 "NodalGradPOpenBoundaryAlg failing on CUDA builds"
Pressure gradient computation at open boundary seems to fail with `cudaErrorIllegalAddress` error. Stacktrace attached from [failing unit test](https://my.cdash.org/test/25540209). @PaulMullowney had previously reported this failure on Summit GPU runs with NREL 5-MW simulation for certain MPI ranks.

[code]

[2021-02-22 14:41] #808 closed

[2021-02-23 15:10] sayerhs commented on #807
Fixed on Feb 23d run [CDash link](https://my.cdash.org/index.php?project=Nalu-Wind)

[2021-02-23 15:10] #807 closed

[2021-02-23 15:11] sayerhs commented on #802
Fixed with Feb 23rd run [CDash link](https://my.cdash.org/index.php?project=Nalu-Wind)

[2021-02-23 15:11] #802 closed

[2021-03-04 22:32] PaulMullowney opened #816 "GPU reg tests crashing on Summit"
The issue occurs in the methods run_face_elem_algorithm, run_face_elem_par_reduce, and run_face_elem_algorithm_nosimd in include/ngp_utils/NgpLoopUtils.h.

In particular, calls like the following crash:
const int nodesPerFace = nodes_per_entity(faceDataNGP, METype::FACE);

in include/ngp_utils/NgpMEUtils.h at line 67, i.e.
  Kokkos::parallel_reduce(
    1, KOKKOS_LAMBDA(int, int& n) {
      n = me

[2021-03-04 22:34] PaulMullowney opened #817 "CPU build not compiling on summit (Kokkos simd)"
Here are the compilation errors ...

[3/645] Building CXX object CMakeFiles/nalu.dir/src/AssembleNodalGradBoundaryAlgorithm.C.o
FAILED: CMakeFiles/nalu.dir/src/AssembleNodalGradBoundaryAlgorithm.C.o
/sw/summit/gcc/7.4.0/bin/g++  -DNALU_USES_HYPRE -DNALU_USES_TIOGA -DTIOGA_HAS_NODEGID -I../include -Iinclude -isystem /gpfs/alpine/cfd116/scratch/mullowne/install/cpu/trilinos-devel-3-4-2021/include -i

[2021-03-04 22:41] jrood-nrel commented on #817
This seems to work with GCC 9 on Summit. I've emailed STK about this.

[2021-03-04 22:47] alanw0 commented on #817
Tagging @tasmith4 to make sure Timothy is seeing this.

[2021-03-05 00:47] PaulMullowney commented on #816
Build Permutations/Crashing tests
1) No Hypre. ablNeutralNGPTrilinos
#0  0x0000000000000000 in ?? ()
#1  0x00000000110f552c in __nv_hdl_wrapper_t (in=..., this=<optimized out>) at nvcc_internal_extended_lambda_implementation:237
#2  CudaFunctorAdapter (f_=..., this=<optimized out>) at /ccs/proj/cfd116/shreyas/summit/exawind-2020-08/install/gcc-cuda10/trilinos-2021-03-03/include/Cuda/Kokkos_Cuda_Pa

[2021-03-05 01:11] PaulMullowney commented on #816
2) With Hypre: oversetRotCylNGPHypre

#0  0x0000000000000000 in ?? ()
#1  0x0000000011165fac in __nv_hdl_wrapper_t (in=..., this=<optimized out>) at nvcc_internal_extended_lambda_implementation:237
#2  CudaFunctorAdapter (f_=..., this=<optimized out>) at /ccs/proj/cfd116/shreyas/summit/exawind-2020-08/install/gcc-cuda10/trilinos-2021-03-03/include/Cuda/Kokkos_Cuda_Parallel.hpp:2699
#3  functor (fu

[2021-03-05 03:08] PaulMullowney commented on #816
Each of these tests passes when Trilinos and Nalu are built in Debug.

[2021-03-05 17:02] PaulMullowney commented on #816
A little bit more out of cuda-memcheck with the right environment variables

Kokkos::Cuda::initialize ERROR: likely mismatch of architecture
[a27n02:31735] *** Process received signal ***
[a27n02:31735] Signal: Aborted (6)
[a27n02:31735] Signal code:  (-6)
[a27n02:31735] [ 0] [0x2000000504d8]
[a27n02:31735] [ 1] /lib64/libc.so.6(abort+0x2b4)[0x200027a42094]
[a27n02:31735] [ 2] /gpfs/alpine/cfd116/

[2021-03-08 04:54] rajkrai opened #818 "mpt error"
Hello,
I installed nalu-wind in Eagle using script /nopt/nrel/ecom/exawind/exawind/scripts/nalu-wind-gcc.sh. When executing naluX, it produced the following error associated with mpt. Could you please help me how to fix this.

IOSS: Using decomposition method 'RCB' for 390,625 elements on 64 processors.
MPT ERROR: Rank 57(g:57) received signal SIGSEGV(11).
        Process ID: 164472, Host: r8i1n28

[2021-03-08 13:28] sayerhs commented on #818
@rajkrai Can you please provide more details?

- Can you share the job submission script, or the environment/commands you used to run the job if it was interactive?
- Is that all of the stack trace? Can you share the part that has the nalu-wind function calls?
- Please share the input and log files from nalu-wind

You can share the files in world readable projects directory on NREL Eagle.

[2021-03-08 18:56] rajkrai commented on #818
Thanks for your response. I checked the input file, now it is working. I provided wrong target_name before that crashed the run.

[2021-03-08 19:27] #818 closed

[2021-03-09 02:32] #817 closed

[2021-03-10 13:52] sayerhs opened #821 "CDash: Failing tests 2020-03-10"
Two tests `ablNeutralStat` and `actLineSimple` are failing. These are likely related to PRs #810 and #783 respectively.

- [First instance](https://my.cdash.org/test/27161977) of `actLineSimple` failure
- [First instance](https://my.cdash.org/test/27271248) of `ablNeutralStat` failure
- PR #810 also introduced [unused variable warnings](https://my.cdash.org/viewBuildError.php?type=1&buildid=197901

[2021-03-10 16:46] psakievich commented on #821
The `actLineSimple` failure is a simple fix opened in #822.  However, I'm wondering if we should just totally remove the `actLineSimple` code path entirely.  It is a redundant and less performant branch of the code compared to `actLineSimpleNGP`.  We can keep the `ActLineSimple` key for the actuator type but just push that to the `ActLineSimpleNGP` code paths as well.  This is what I envisioned fo

[2021-03-10 17:49] sayerhs commented on #821
@psakievich I've no objections to removing `ActLineSimple` pathway.

[2021-03-10 18:15] lawrenceccheung commented on #821
@psakievich Yes, I agree, the `actLineSimple` code is redundant and it's probably just more opportunities for bugs to appear.  I'd be onboard with removing this pathway and doing the same for all actuator methods as well.

[2021-03-11 13:45] sayerhs commented on #821
@neilmatula @psakievich PR #810 also breaks the ABL neutral edge regression tests on GPUs. [CDash link](https://my.cdash.org/viewTest.php?onlyfailed&buildid=1979523).

[2021-03-11 15:57] psakievich commented on #821
@neilmatula it looks like we're missing the modify and sync in the kernel. I can help you test this on a gpu build today.

[2021-03-12 20:55] #821 closed

[2021-03-21 18:32] sayerhs opened #829 "Remove unused element kernels from codebase"
CVFEM kernels and supplemental algorithms are no longer used in wind simulations. This issue will track the progress of identifying and removing unused element kernels from the codebase.

- [x] Tag current working version of Nalu-Wind before removing code
- [x] Remove deprecated SuppAlg code
- [x] Change default in Realm to `use_edges: yes` and warn users for deprecation
- [ ] Identify key functio

[2021-03-21 18:53] sayerhs commented on #829
Tagged current version of the codebase: [v1.3.0](https://github.com/Exawind/nalu-wind/releases/tag/v1.3.0)

Corresponding Trilinos commit: trilinos/Trilinos@32db0da
CDash report: https://my.cdash.org/index.php?project=Nalu-Wind&date=2021-03-21

[2021-03-21 19:08] sayerhs commented on #829
# List of algorithms/kernels to be removed

## Supplemental element algorithms
- [ ] `ContinuityMassElemSuppAlgDep`
- [ ] `MomentumBuoyancySrcElemSuppAlgDep`
- [ ] `MomentumMassElemSuppAlgDep`
- [ ] `ScalarMassElemSuppAlgDep`
- [ ] `TurbKineticEnergyKsgsBuoyantElemSuppAlg`
- [ ] `nso/MomentumNSOElemSuppAlgDep`
- [ ] `nso/MomentumNSOGradElemSuppAlg`
- [ ] `nso/MomentumNSOKeElemSuppAlgDep`
- [ ] `ns

[2021-03-26 21:59] tonyinme opened #836 "Remove Examples ABL/ALM"
@sayerhs and I were thinking of removing the [examples](https://github.com/Exawind/nalu-wind/tree/master/examples) for ABL/ALM from the repository.

As we start transitioning the ABL/ALM/ADM simulation workflow to amr-wind, these examples have stopped being useful and create confusion among users. We are also not updating them anymore and they have become deprecated.

The regression tests will sti

[2021-03-26 22:01] jrood-nrel commented on #836
I looked through these recently and I agree. They have gotten quite out of date and they should probably be removed.

[2021-03-26 22:04] lawrenceccheung commented on #836
Should we wait until we have the equivalent examples in amr-wind, and then remove them here?

Lawrence

[2021-03-26 22:37] psakievich commented on #836
I agree with removing these, but I think there are some things we should add to the regression test suite in their absence.  At a minimum I think we need a multi-turbine ALM and/or ADM test, and it would be good to have one that also uses inflow/outflow from a stored precursor.  The precursor probably only needs to have two timesteps that can be interpolated over. This could also be a good candida

[2021-03-26 22:55] sayerhs commented on #836
@psakievich Regarding _inflow/outflow from a stored precursor_, please see [ablUnstableEdge_rst](https://github.com/Exawind/nalu-wind/blob/master/reg_tests/test_files/ablUnstableEdge/ablUnstableEdge_rst.yaml)

[2021-03-26 23:01] sayerhs commented on #836
@lawrenceccheung These examples are not part of any automated test workflow and, therefore, are often outdated. For example, if you try to run any of the actuator example files now they will fail. The proper solution here is to convert them to regression tests so that it gets run everyday. The tutorials should refer to the files in the regression test and not something that would suffer from code

[2021-03-26 23:02] psakievich commented on #836
@sayerhs I'm aware of that regression test.  To clarify, I believe adding a multi-turbine test is the necessary addition. We probably should have had one all along.  A representative test that exercises multiple turbines with inflow-outflow would be nice as a performance test to represent a core wind energy application, but not necessary from a strict test coverage stand point.  We could add more

[2021-03-26 23:07] psakievich commented on #836
I 100% agree with @sayerhs about the lack of usefulness due to being outside the standard testing paradigm.  If they aren't being run on a semi regular basis then they are sure to get out of date and in the rush of the development cycle we forget to circle back and update them.  We should make sure that any example we have in AMR-Wind is also run regularly, and the most straight forward way to do

[2021-03-26 23:12] lawrenceccheung commented on #836
Expanding on @psakievich's point a bit, maybe we can somehow link the example cases to the regression test, except increase the simulation time or add additional outputs (we can also do the reverse, link the regression test to the example case).  That way they'd always be up to date.

Lawrence

[2021-03-26 23:44] psakievich opened #837 "Consolidate ALM/ADM code and update regression tests"
The actuator codes have been carrying around legacy code for a while now.  This issue is to track removing that legacy code and to scrub/refresh the regression tests.  Additional discussion of this can be found in #836

Some specific objectives:

- [x] All the current regression tests should execute through the latest actuator code
- [ ] Add a multi-turbine regression test
- [ ] Add a end applicat

[2021-03-27 16:34] sayerhs opened #839 "Nightly regression test being run with lax tolerances"
The GCC version on the nightly regression test machine was updated to GCC 8.4.0. However, the regression test tolerance logic in `reg_tests/CMakeLists.txt` was not updated. https://github.com/Exawind/nalu-wind/blob/176155dac78465d0686f2a1255b4796ca776a593/reg_tests/CMakeLists.txt#L24-L37

As a result, nightly tests have been running with `absolute_tolerance = 0.05` check. The logic in `CMakeLists.

[2021-03-27 17:05] #829 closed

[2021-03-27 17:06] #461 closed

[2021-03-27 17:07] sayerhs commented on #202
#829 removed these kernels

[2021-03-29 15:59] jrood-nrel commented on #839
Oops, sorry about that.

[2021-03-30 15:17] sayerhs commented on #839
Explicitly added tolerance to CMake configure step in testing scripts (see exawind/build-test#14). Default GCC version updated to 8.4.0 in 50887e1

[2021-03-30 15:17] #839 closed

[2021-03-30 19:52] tonyinme commented on #836
Hey all, it looks like this issue will be resolved with #837

@psakievich and @lawrenceccheung, I will leave this open for now but feel free to remove the examples and close this whenever you are ready.

[2021-04-04 16:00] sayerhs opened #843 "Build issues with latest Trilinos (April 4, 2021)"
Multiple issues with: trilinos/trilinos#8597

- Breaking header change addressed in f855815
- Build error tracked in trilinos/trilinos#8967

[code]

[2021-04-16 00:26] #843 closed

[2021-04-30 17:05] PaulMullowney opened #858 "taylorGreenVortex_p3 is unstable on Trilinos develop"
The taylorGreeVortex_p3 regression test is blowing up on GPUs (Eagle) on Trilinos develop. This test uses all Trilinos/Tpetra algorithms and I think it is matrix free. I've tried 2 versions of Trilinos, develop and master, current as of 4/30/2021. Master works fine. The first iteration seems ok. however the second shows in stability. Ultimately the norms grow out of control.

1/1    Equation Syste

[2021-04-30 17:11] rcknaus commented on #858
I'll take a look on our ascicgpu systems to see if it happens there too.

[2021-04-30 17:26] alanw0 commented on #858
Tagging @tasmith4. I heard there was a big Tpetra/UVM commit very recently. It was mentioned in a trilinos issue for Stefan's version of nalu. Perhaps the checking that @rcknaus is doing will show whether that's relevant here.

[2021-04-30 17:55] rcknaus commented on #858
Ran with cuda-11/gcc7.2, 474975f trilinos commit and 176f3c3 nalu-wind commit without seeing this issue
[code]
 taylorGreenVortex_p3 momentum is different from the other test by using belos's block GMRES. That would be my main suspicion, to try switching to pseudoblock gmres/bicgstab instead.

Is UVM off on the eagle trilinos configuration?

[2021-04-30 22:08] PaulMullowney commented on #858
474975f still blows up for me (I was on 5a2c077) when I first tested. Looking at the Trilinos CMakeCache.txt, it appears that UVM is on for all the relevant variables:
TpetraCore_ENABLE_CUDA_UVM:BOOL=ON
KokkosKernels_INST_MEMSPACE_CUDAUVMSPACE:BOOL=ON
Kokkos_ENABLE_CUDA_UVM:BOOL=ON

I did build with Cuda 10.2.89.

[2021-04-30 23:26] rcknaus commented on #858
I switched to cuda 10.2.89 and was able to reproduce the issue locally,
[code]
Not sure exactly what's going wrong, but I'll take a look at it monday.

[2021-05-03 19:38] overfelt commented on #858
I do not see this issue on Summit running cuda 10.2.89 and gcc 7.4.0 with trilinos develop 1487be4 which is up to date as of 5/3/21.

[2021-05-03 20:45] PaulMullowney commented on #816
Just built with Trilinos master (abfd14fbe0d) and develop (c00ff3bb339). Crashes no longer happens. Not sure what to make of this as the Nalu code hasn't changed. Oh well.

[2021-05-03 20:45] #816 closed

[2021-05-03 21:31] rcknaus commented on #858
Seems like the issue is with the multivector [`doExport`](https://github.com/Exawind/nalu-wind/blob/master/src/matrix_free/GreenGaussGradientOperator.C#L55) producing different results before/after the recent Tpetra change Alan mentioned.  Might be a memory error, since `doExport` gets called a lot in the same manner in the other two matrix free GPU regression tests that aren't failing, and the pr

[2021-05-03 22:45] tasmith4 commented on #858
FYI @kddevin

[2021-05-04 00:17] jhux2 commented on #858
@rcknaus Can you post a cmake configure recipe and the module environment for the passing/not passing builds?

[2021-05-04 15:53] rcknaus commented on #858
@jhux2 [ascic-build-env.tar.gz](https://github.com/Exawind/nalu-wind/files/6422288/ascic-build-env.tar.gz) on ascicgpu24.

I tested with https://github.com/trilinos/Trilinos/commit/cbeb75a2ec9e8840794c058ef8bade1b9ea3b693 with cuda-10 passed and https://github.com/trilinos/Trilinos/commit/474975f96f9578e6f0e4c4f0d8b29c9d80fc4cb3 with cuda-10 failed but passed with cuda-11.

[2021-05-05 01:00] rcknaus commented on #858
Looking at it a bit more, rather than being a cuda-10 vs cuda-11 thing, `TPETRA_ASSUME_CUDA_AWARE_MPI=1` passes while `TPETRA_ASSUME_CUDA_AWARE_MPI=0` fails with trilinos/Trilinos@474975f irrespective of cuda version---just my cuda-11 build had the that variable set to 1.

[2021-05-06 17:56] jhux2 commented on #858
@rcknaus Thanks for your leg work.

I ran the Tpetra unit test suite on ascicgpu031.  If `TPETRA_ASSUME_CUDA_AWARE_MPI=1`, all Tpetra unit tests pass. If `TPETRA_ASSUME_CUDA_AWARE_MPI` is undefined, then`TpetraCore_CrsMatrix_Bug8794_MPI_4` fails.  The failing test is for issue https://github.com/trilinos/Trilinos/issues/8794.

@rcknaus How did you narrow it down to `doExport` -- git bisection, som

[2021-05-06 19:28] kddevin commented on #858
I can look at TpetraCore_CrsMatrix_Bug8794_MPI_4; Kyungjoo was having some problems with that test as well.  That test  exercises dense matrix rows more so than other Tpetra tests.  I wouldn't expect doExport to care about the density, but perhaps it does.  Does the Nalu test have dense rows?

[2021-05-06 19:43] gantech opened #859 "Extract surface data during run"
Its would be great to be able to extract the surface data and geometry on specified boundaries during a run at much higher frequencies compared to the full field output. This would help calculation of load profiles on blades at much higher frequencies. The geometry information could be optimized for rigid body rotation runs, but would be necessary at the same frequency for FSI runs.

[2021-05-06 20:20] rcknaus commented on #858
@jhux2 nothing special. The residual computation for the gradient is wrong, so I just dumped the residual multivector for the local computation on the owned+shared domain (the source vector for the export) and the resulting residual on the owned after the export add operation.  The source vector is the same in both the working/not-working configurations but the result of the `doExport` is very dif

[2021-05-07 19:24] kddevin commented on #858
@jhux2 The failing Tpetra test does appear to be giving different results after doImport depending on TPETRA_ASSUME_CUDA_AWARE_MPI.  I am tracking it today.

[2021-05-07 21:26] kddevin commented on #858
@rcknaus I pushed a fix in https://github.com/trilinos/Trilinos/pull/9117
It would be great if you could try it in Nalu.
Thank you for reporting the problem and narrowing it down to doExport.

[2021-05-07 21:58] rcknaus commented on #858
@kddevin I tested trilinos/Trilinos#9117 with nalu-wind and confirmed that `taylorGreenVortex_p3` runs successfully irrespective of `TPETRA_ASSUME_CUDA_AWARE_MPI` with that change.  Thank you for looking into this.

[2021-05-19 13:51] PaulMullowney commented on #858
This appears to be resolved as the test seems to be stable in our nightly builds. Thanks for everyone's help tracking this down.

[2021-05-26 17:52] svdavidson opened #866 "ExaWind / Nalu-Wind Stable Release or Build Recipes"
This issue is a request for instructions or a recipe or a discussion on how to build a (somewhat) stable (pre-) release of Exawind / Nalu-Wind that can be used for scientific research.

I am a software engineer helping a major energy company to do research for large Wind-based projects.  My goal is to build a stable version of Nalu-Wind so our scientists can start doing research and move these cri

[2021-05-26 18:38] psakievich commented on #866
@svdavidson you've raised several excellent points.  @jrood-nrel and I are actively working on improving the build process and we should update the docs accordingly.  We've recently had several discussions regarding this issue.  For a little more clarification, what level of use are your scientists looking at? Would pre-built binaries be a preferred distribution method for your team to be able to

[2021-05-26 18:39] psakievich commented on #859
@gantech thanks for putting this on the radar.  I don't think this will be too big of a lift.  Would you be okay with wrapping this into the Q4 milestone as a subtask or do you need it sooner?

[2021-05-26 20:06] svdavidson commented on #866
Hi @psakievich, pre-built binaries (or eventually even signed containers) for "supported" architectures and "recommended" configurations (i.e. dependencies and versions) would be a great long term objective, but having a working build recipe for a "stable" or "tested" release for the architectures and configurations that the ExaWind/Nalu-Wind team is focusing on would be a preferred place to start

[2021-05-28 10:56] psakievich commented on #866
@svdavidson thanks. Yes you've hit on something important which is freezing the TPL's for a release.  As you've noted we are currently running off the develop branch of almost all of our TPL's.  So first we will first have to organize this process before we can provide stable release tags.  Containers are a longer term objective that is on our radar.  We have a partnership with the [E4S](https://e

[2021-06-04 02:57] psakievich commented on #859
Just updating here that we talked about this today and are going to try using a transfer and input-output region.

[2021-07-13 20:55] gantech opened #872 "Apply mesh motion before overset connectivity on restart"
We need the mesh motion to be applied before the overset connectivity is created on a restart specifically in the context of a hybrid solver simulation.

[2021-07-17 09:16] gravitino opened #873 "Docker container fails to build due to missing CMakeLists.txt"
## Detailed description of the bug

Trying to build the docker results in a cmake error because "

CMake Error: The source directory "/nalu-build" does not appear to contain CMakeLists.txt."

To the best of my knowledge the file is not part of the nalu-wind repository. Please advise.

### Details to reproduce bug/build error

1. SHA ID of the Nalu-Wind commit you are using
commit 8e0c05281b3bb30cd

[2021-07-17 09:26] #873 closed

[2021-07-17 09:27] gravitino commented on #873
fixed it after copying the Dockerfile from the docker folder to the parent folder.

[2021-07-18 23:48] sayerhs commented on #873
For future reference

[code]

[2021-08-03 14:50] lawrenceccheung opened #876 "Segfaults using multiple `ActDiskFASTNGP` turbines"
## Detailed description of the bug

I'm seeing inconsistent segfaults when I use more than one `ActDiskFASTNGP` turbine in a simulation.  This is something that doesn't happen in all instances, but let me document what I've noticed so far:

- Single and multiple `ActLineFASTNGP` turbines seem to be working fine (using single/multiple CPU's)
- A single `ActDiskFASTNGP` turbine also seems to be work

[2021-08-03 16:40] psakievich opened #877 "Failure when overset and transfers are used together"
## Detailed description of the bug

When overset and transfer are both enabled the linear system setup is failing.  I encountered this when I was working on #874 and the same issue shows up with the attached test case that @ndevelder gave to me. In @ndevelder's case there is an overset region and a data probe.  In my case there was an input-output region and an overset mesh.

The error message is:

[2021-08-03 17:10] sayerhs commented on #877
This is a duplicate of #672

[2021-08-03 17:44] psakievich commented on #877
I just tried adding `decoupled_overset_solve: yes` to the input deck, but the same error persists.

[2021-08-03 22:01] psakievich commented on #876
This is segfaulting in openfast. I'm not sure why but it looks like one of the inputs going into openfast is bad.  I get the same error when I switch to `ActLineFASTNGP` as well. The debugger is throwing inside the solution0 computation which doesn't match the stack trace above but it could be due to the debug build I'm using catching an error sooner.

[2021-08-04 19:53] PaulMullowney opened #878 "GPU Reg Tests show unspecified launch failures due to Trilinos commit d7d7179a9 on June 18"
For Trilinos master (and likely similar for develop),
GPU regression tests work with Trilinos commit:  009d1d75b

The reg tests seg fault (with unspecified launch failures) with commit:

commit d7d7179a9c28e62635edd521d6a1dea7bf877090
Merge: 009d1d7 741e930
Author: trilinos-autotester <trilinos@sandia.gov>
Date:   Fri Jun 18 09:53:13 2021 -0600

    Merge Pull Request #9274 from trilinos/Trilinos/

[2021-08-05 02:55] lawrenceccheung commented on #876
One more data on this: Multiple ActDiskFASTNGP turbines seem to work fine with version e9b6ea8786190798b2e3eae77c0cf7cfa983dd41 and OpenFAST 2.5, so the problem probably exists somewhere between then and now.

[2021-08-05 12:42] alanw0 commented on #878
We'll look into this and see what's going on. @tasmith4

[2021-08-10 21:56] #859 closed

[2021-08-11 21:08] psakievich commented on #876
Traced this issue to c4e8c779dacdf38f08473d75b1ccb6ec6dc3ab2a

[2021-08-13 15:08] tasmith4 commented on #878
@PaulMullowney why do you think the Tpetra commit is related?  I don't think that commit had anything to do with STK.

[2021-08-13 15:12] PaulMullowney commented on #878
@tasmith4 I wonder if the stk and Trilinos update were connected somehow (i.e. the stk change required changes in Trilinos). This was just a guess on my part.

[2021-08-13 15:17] tasmith4 commented on #878
Oh ok, no, I split time between STK and Tpetra so it's purely coincidental that I had two commits close together for both packages.  STK and Tpetra don't directly depend on each other so changes in one wouldn't force changes in the other.

[2021-08-13 15:17] jhux2 commented on #878
The error happens before any linear systems are initialized, so I'd be a little surprised if Tpetra is involved.

[2021-08-17 22:47] tasmith4 commented on #878
@PaulMullowney can you give more details on your build and run?  I can reproduce the failure at Trilinos hash d7d7179 and nalu-wind hash 154f167.  However, when I switch to Trilinos hash 009d1d7, it continues to fail, instead of passing as I would expect from the ticket.

I'm running `ctest -j 32 --verbose -R ablNeutralNGPTrilinos`.

[2021-08-17 23:32] jhux2 commented on #878
@tasmith4 On Summit, I was able to run an ABLNE simulation with Trilinos develop, commit `009d1d75b`.  (At least, I'm pretty sure that's the SHA, but Summit is down right now.)  That same simulation fails with Trilinos develop HEAD.

[2021-08-18 13:10] tasmith4 commented on #878
@jhux2 which Nalu-Wind hash are you using?

[2021-08-18 14:19] PaulMullowney commented on #878
@tasmith4 Does the test fail or crash? Failing tests could occur due to precisions not being set correctly for the build.

[2021-08-18 14:22] PaulMullowney commented on #878
@tasmith4 To answer your question, I was on nalu-wind hash 8e0c05281b. Also, I did all of my testing with Trilinos master, not develop.

[2021-08-18 15:10] jhux2 commented on #878
@tasmith4 I was using NaluWind SHA `36794d3a4`.

[2021-08-18 15:17] tasmith4 commented on #878
It crashes, similarly to what you showed, although perhaps not the same stacktrace.  I'll try those nalu-wind hashes.

[2021-08-31 14:51] svdavidson commented on #866
Hi @psakievich and @jrood-nrel.  Has there been any progress toward deploying a stable release?  Building NaluWind along with the dependencies continues to be a challenge.  In the meantime, I was wondering if there is a recommended way to build. Or perhaps, what would be the most commonly used build method for developers before testing?  Is Spack the way to go, or Exawind-Builder, or checking out

[2021-08-31 20:51] psakievich commented on #866
@svdavidson we have been reworking this quite a bit over the last couple of months.  @jrood-nrel and I are pushing everything we can into spack.  We have a project going to assist with Exawind specific building https://github.com/psakievich/spack-manager which you can check out. It is essentially a way to extend spack for specific exawind needs. There is a tutorial on a developer workflow.  Most o

[2021-09-01 16:46] jhux2 commented on #878
@tasmith4 Any updates on this?  Thanks.

[2021-09-01 16:48] svdavidson commented on #866
Thanks @psakievich. This sounds like a good approach.  I'll check out the [Spack Manager](https://github.com/psakievich/spack-manager) project and let you know if I run into any issues.

[2021-09-01 18:01] tasmith4 commented on #878
@jhux2 still in progress.  we're having a hard time isolating the STK code that causes the issue.  will update when we know more

[2021-09-01 18:17] PaulMullowney commented on #878
I think it's time to consider backing that commit out. The reason for this is that other breaking commits can/may have happened in between.

[2021-09-01 19:00] alanw0 commented on #878
We will spend one more day trying to figure this out. It is difficult to back out because the gpu-relevant code (in stk NgpField copying) was part of a large commit with other unrelated stuff, due to the way we snapshot stk into trilinos from our "home" repository in sierra. But if we can't figure out something better by tomorrow, we'll look into backing it out.

[2021-09-02 22:32] alanw0 commented on #878
We are having troubles getting consistent builds, but we tentatively think that the stk update into trilinos which brought the fix for the oversetRotCylinder test also brought a fix for this GPU issue. It was (we think!) the kokkos-function decoration on the default constructor of the struct in trilinos/packages/stk/stk_mesh/stk_mesh/baseImpl/NgpFieldAux.hpp.

There is some doubt of course. Last n

[2021-09-02 22:43] jhux2 commented on #878
Thanks for the update, Alan.

I'm looking at https://my.cdash.org/build/2060862.  There are new build failures on this date, but as far as I can see, no git updates reported. (On the Trilinos dashboard, this is where git updates would be shown.)  Is that data captured somewhere else?

[2021-09-02 22:52] jhux2 commented on #878
I didn't look carefully enough. The Trilinos SHA is in the cmake output, e.g.,
[code]

The message reporting zero git updates threw me off.

[2021-09-02 23:46] tasmith4 commented on #878
We found out after some more digging that some Views were performing default construction of stk::mesh::DeviceFields.  This is not supported by STK, so we put up a PR (#882) to correct this usage.

[2021-09-03 17:17] jhux2 commented on #878
Leaving open until dashboard is clean.

[2021-09-03 18:23] jhux2 commented on #878
My build of nalu-wind `53db1cdc` against Trilinos master `240c56b` fails almost immediately with what looks to be an unrelated error in AMSAlgDriver.C.

[2021-09-03 18:30] jhux2 opened #883 "Nalu-Wind compilation fails in AMSAlgDriver.C"
Building on Summit with Nalu-Wind `53db1cd` and Trilinos master `240c56b`.

<details>
<summary>compile error</summary>

[code]

</details>

[2021-09-03 18:49] alanw0 commented on #883
There's currently a difference between trilinos develop and master, you need develop.

[2021-09-03 20:47] jhux2 commented on #883
Thanks, @alanw0.  I'm able to build `naluX` against Trilinos develop.

[2021-09-03 20:47] #883 closed

[2021-09-03 20:47] jhux2 commented on #878
Building against Trilinos develop works.

[2021-09-03 21:03] PaulMullowney commented on #878
By works, do you mean compiles or sims run correctly?

[2021-09-03 21:07] jhux2 commented on #878
I'm able to compile nalu-wind `53db1cdc` against Trilinos `240c56b`.  Runs with the smaller 5MW mesh fail as we discussed on slack, apparently during the mesh decomp:

[code]

I haven't run the regression tests yet.

[2021-09-03 21:32] PaulMullowney commented on #878
Damn. More problems. I have a checkpoint from May of Nalu and Trilinos. I'm going to try to build/run those on the new summit OS and see if those run correctly.

[2021-09-03 23:07] jhux2 commented on #878
@PaulMullowney Here are ctest results on Summit.  There are still some failures due to runtime errors.

<details>
<summary>ctest results</summary>

[code]

</details>

[2021-09-04 00:52] jhux2 commented on #878
With sufficient output from Nalu and a gdb backtrace, the failures prove to be in SuperLU in the MueLu multigrid solve.  I'll open a separate issue for this.

Example backtrace from `oversetRotCylNGPTrilinos`:

[code]

[2021-09-04 03:18] jhux2 opened #884 "Summit: GPU runs fail early if using SuperLU"
## Detailed description of the bug

While looking at #878, I found that some Nalu regression tests fail on Summit due to segfaults in SuperLU.  Here's an example backtrace:

<details>

[code]

</details>

SuperLU is employed as the smoother on the coarsest level of the multigrid preconditioner.  It's usually not important which direct solver is used there.

When I switched the coarse grid solver f

[2021-09-04 03:19] jhux2 commented on #884
@PaulMullowney @jrood-nrel @lucbv @rcknaus

[2021-09-06 21:31] psakievich commented on #884
@jhux2 we do want to remove the dependency on SuperLU. @jrood-nrel removed it from the `spack` package a few months ago so most new builds have been running with KLU2.  The diffs that you are showing here are all pretty small. We should probably update the documentation though.

[2021-09-07 15:41] tasmith4 commented on #878
@jhux2 looks like the ablNeutral regression tests are passing on eagle today, and I see you've opened a separate issue for some new stuff that came up -- are we ok to close here, or do you think that #882 wasn't a complete fix for the original issue?

[2021-09-07 15:42] PaulMullowney commented on #878
On Summit, I rebuilt and ran with Trilinos Develop. I tried one hypre based regression test and it seems to run fine.

I was also able to get NREL 5MW to run on 36 GPUs successfully.

[2021-09-07 15:48] jrood-nrel commented on #878
It looks like these issues are resolved. The new CPU segfaults can either be tracked here or in a new issue.

[2021-09-07 15:57] jrood-nrel opened #885 "Code in STK balance causes Intel compiler to segfault during compilation"

[2021-09-07 16:00] jrood-nrel commented on #885
Actually I think mine happens in the STK unit tests while @psakievich sees it in STK balance.
[code]

[2021-09-07 16:09] sayerhs commented on #885
@jrood-nrel this is happening in the STK balance executable creation. I have had to disable `ipo` in spack builds when building on Eagle (https://github.com/Exawind/exawind-builder/blob/244adbf1f6feb00cdf49135bfe17ba591c4de612/etc/repos/exawind/packages/trilinos/package.py#L39-L43). The issue doesn't appear if you build manually outside of spack.

[2021-09-07 16:18] tasmith4 commented on #885
@sayerhs thanks -- this would explain why we haven't seen this in Sierra builds.

@jrood-nrel @psakievich maybe the solution is just to edit the trilinos and/or nalu-wind spack packages?

[2021-09-07 16:22] sayerhs commented on #885
back in Jan 2021 when I was hit by this issue, it appeared to be a result of the really long pathnames that spack uses. I tried to work around it reducing the pathnames for default spack installs (https://github.com/Exawind/exawind-builder/blob/main/etc/spack/spack/config.yaml#L1-L6) but it didn't seem to be as robust as the `-no-ipo` fix. You will also notice in the `trilinos/package.py` that I t

[2021-09-07 16:38] jrood-nrel commented on #885
Thanks @sayerhs . `CMAKE_INTERPROCEDURAL_OPTIMIZATION` is explicitly off, but I will try forcing it off using your method.

[2021-09-07 16:46] sayerhs commented on #885
@jrood-nrel One of the things I could not confirm reliably at that time is whether intel attempts to do any IPO stuff if there is no explicit `-ipo[n]` in the command line. So I decided to be safe and just do `-no-ipo`. I also see that my settings also had some RPATH stuff. At this point I am forgetting if I needed both. This might be more of an issue/question for spack devs.

[2021-09-07 16:49] jhux2 commented on #878
I'm good with closing this issue.

[2021-09-07 17:16] #878 closed

[2021-09-07 21:23] tasmith4 opened #886 "Segfaults in CPU builds"
Starting this issue to track resolution of CPU segfaults observed on the dashboard.  One example is the unit tests here:  https://my.cdash.org/test/40678792

[2021-09-07 21:24] tasmith4 commented on #886
FYI @jrood-nrel.

I can reproduce and it seems to be coming from some STK field usage, although it's not totally obvious what's going on yet.  We'll follow up with this on the STK side.

[2021-09-07 21:24] jrood-nrel commented on #886
https://my.cdash.org/test/40683694 shows a pretty clear stack trace

[2021-09-08 14:03] alanw0 commented on #886
Ugh. I'm pretty sure I know what's going on. It's the change we made to allocate views of FieldInfo thingy's without initializing. That's the right thing to do for the device view in a GPU build, but when we're on a CPU build the view is never getting initialized (the objects are not getting constructed) because the deep_copy is a no-op. We'll get this straightened out asap.

[2021-09-20 18:30] jhux2 opened #891 "Refined NREL5MW mesh fails on 720 MPI ranks on Summit"
## Detailed description of the bug

When running the refined NREL5MW mesh on 720 MPI ranks on Summit, the simulation fails with a segfault
sometime after the wall distance solve and apparently prior to the momentum solves.  I was able to get a stacktrace, which is below.

This is using Trilinos develop `7e09778` and Nalu-Wind `23c90dc`.

I suppose it's possible there's something wrong in my input

[2021-09-20 18:36] alanw0 commented on #891
@jhux2 I wish that stacktrace went a little further. I'm wondering where in stk_io and/or stk_balance we are entering into IOSS and into the H5 function that is in the stacktrace.

[2021-09-20 18:49] gsjaardema commented on #891
It is an interesting stack-trace.  It looks like it is closing some hdf5 file starting witht the routine `file_destructor()` but doesn't have any IOSS / exodus routines in the stack that would have been calling for the file to be closed.

Is there any other non-IOSS use of HDF5 files in this application?

[2021-09-20 19:24] sayerhs commented on #891
@jhux2 As a workaround can you try disabling all output in the input file? `output_start: 10000` and so on.

[2021-09-20 23:36] jhux2 commented on #891
I commented out the output lines, but the simulation fails in a similar way.

<details>
<summary>stack trace</summary>

[code]

</details>

There is one core file per MPI rank, and I've only randomly sampled them, so there might be one that has more information and I've just not found it.

[2021-09-20 23:39] jhux2 commented on #891
Here's the yaml input file I'm using.
[nrel5mw_sa.yaml.txt](https://github.com/Exawind/nalu-wind/files/7199216/nrel5mw_sa.yaml.txt)

[2021-09-20 23:42] sayerhs commented on #891
@jhux2 if I remember correctly, the default is to output the solution file at the beginning of the simulation. I believe you've to explicitly set the start and frequency to large numbers to force nalu to skip output. You can verify this by looking at the log file. There would be a line with "shall provide output"

[2021-09-20 23:50] jhux2 commented on #891
There's no instance of "shall provide output".  So that means output is disabled?

[2021-09-20 23:54] jhux2 commented on #891
and I see there was that line "shall provide output" before I commented out the `output_start` section, so it looks like I disabled it correctly.

[2021-09-21 03:06] #886 closed

[2021-09-21 15:53] gsjaardema commented on #891
This stacktrace is for the input mesh (See entries 44 45 46 which mention `InputFile`).

It looks to me that something triggered to code to exit, either normally or an exception and during the shutting down phase, one or more of the ranks are not shutting down and the code is getting stuck in an MPI Barrier waiting for all ranks...

It is possible that something in the IO triggered an exception th

[2021-09-21 15:57] jhux2 commented on #891
@gsjaardema Thanks for your help.  I already have the line
[code]
in my run script.  Should I comment it out and use what you suggested, or append your suggestion?

[2021-09-21 16:01] gsjaardema commented on #891
Append.
[code]

[2021-09-22 15:59] jhux2 commented on #891
Here are the results of the job with the additional `IOSS_PROPERTIES` setting.  What's interesting is that the job reports completing now, although it still core dumped and there are errors in the log.  The IOSS debugging information is in the file `nrel5mw_gpu_720.1447772.gz`.

I did limit this job to two time steps, whereas the job that I reported on above was for 10 time steps.

[1447772-nrel5m

[2021-09-22 18:24] gsjaardema commented on #891
It looks like there is an assertion failure that may be causing the core dump:
[code]
I'm not sure _what_ is causing that failure -- whether it is related to something that went wrong earlier in the I/O or not.

[2021-09-22 20:30] jhux2 commented on #891
I found a core file with a nontrivial backtrace from this same run:

<details>
<summary>backtrace</summary>

[code]

</details>

It looks like this is happening at the end of the simulation.

[2021-09-28 15:07] jhux2 commented on #891
@PaulMullowney can reproduce the same issue using the hypre solver stack.

[2021-09-30 17:41] psakievich commented on #885
I think we can close this now.  We've updated the packages to include the `--no-ipo` flag as suggested by @sayerhs.  I haven't experienced any build issues related to this since.

[2021-09-30 17:41] #885 closed

[2021-10-01 17:01] jhux2 commented on #884
Closing, since I can work around the issue.

[2021-10-01 17:01] #884 closed

[2021-10-21 20:45] jhux2 commented on #891
@gsjaardema I think you may be right, that this is at the end of the simulation during cleanup.  I ran the 10m ABL simulation that @PaulMullowney mentions above on 468 MPI ranks.  The simulation runs through, and fails as the simulation is closing down, after the final timers are reported.

I'm going to see if the larger 720 rank simulation actually runs through and just fails at shutdown.

[2021-10-22 01:12] PaulMullowney commented on #891
On the abl sim, I see the output below before failure. The stacktraces are in the attached file.

[abl_gpu_48_288_cout_cerr.log](https://github.com/Exawind/nalu-wind/files/7393645/abl_gpu_48_288_cout_cerr.log)

Realm memory Review:       fluidRealm
===========================
Total memory estimate for Matrix solve (per core)= 0.684864 GB.
Total memory estimate for Fields (per core)= 0.0816723 GB.